In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/january_manhattan2.csv")
df

,pickup_datetime,pickup_latitude,pickup_longitude,trip_distance,passenger_count,dropoff_datetime,dropoff_latitude,dropoff_longitude,fare_amount,tolls_amount,...,tip_amount,payment_amount,payment_type,pickup_neighborhood,dropoff_neighborhood,pickups_place,dropoff_place,dummy,pick_day,pick_weekday
0,2016-01-01 00:00:00,40.73470,-73.99037,1.10,2,2016-01-01 00:00:00,40.73241,-73.98184,7.5,0.0,...,0.00,8.80,2,Greenwich Village,Gramercy,"5,5","5,6",1,1,4
1,2016-01-01 00:00:00,40.78133,-73.96062,1.76,3,2016-01-01 00:00:00,40.75851,-73.97726,8.0,0.0,...,0.00,8.80,2,Upper East Side,Midtown,"10,8","7,6",1,1,4
2,2016-01-01 00:00:00,40.74305,-73.98012,5.52,2,2016-01-01 00:18:30,40.76314,-73.91349,19.0,0.0,...,0.00,20.30,2,Gramercy,Astoria-Long Island City,"6,6","8,12",1,1,4
3,2016-01-01 00:00:00,40.71999,-73.99406,7.45,2,2016-01-01 00:26:45,40.78987,-73.96636,26.0,0.0,...,0.00,27.30,2,Lower East Side,Upper West Side,"4,4","11,7",1,1,4
4,2016-01-01 00:00:01,40.74461,-73.97942,1.20,1,2016-01-01 00:11:55,40.75394,-73.99203,9.0,0.0,...,0.00,10.30,2,Gramercy,Garment District,"6,6","7,5",1,1,4
5,2016-01-01 00:00:02,40.79105,-73.94715,6.00,1,2016-01-01 00:11:14,40.86558,-73.92077,18.0,0.0,...,0.00,19.30,2,Yorkville,Inwood,"11,9","18,11",1,1,4
6,2016-01-01 00:00:03,40.72154,-73.98902,0.01,4,2016-01-01 00:00:11,40.72170,-73.98896,2.5,0.0,...,0.00,3.80,2,Lower East Side,Lower East Side,"4,5","4,5",1,1,4
7,2016-01-01 00:00:03,40.74492,-74.00615,0.79,1,2016-01-01 00:06:19,40.74144,-73.99380,6.0,0.0,...,0.00,7.30,2,Chelsea,Chelsea,"6,3","6,5",1,1,4
8,2016-01-01 00:00:03,40.76354,-73.96933,2.43,6,2016-01-01 00:15:49,40.74425,-73.99569,12.0,0.0,...,3.99,17.29,1,Upper East Side,Chelsea,"8,7","6,4",1,1,4
9,2016-01-01 00:00:04,40.74224,-74.00430,3.70,1,2016-01-01 00:14:32,40.70694,-74.00736,14.0,0.0,...,3.05,18.35,1,Chelsea,Financial District,"6,4","2,3",1,1,4
10,2016-01-01 00:00:05,40.79536,-73.97309,1.92,1,2016-01-01 00:07:14,40.77315,-73.97837,7.5,0.0,...,0.00,8.80,2,Upper West Side,Upper West Side,"11,6","9,6",1,1,4
11,2016-01-01 00:00:05,40.76895,-73.98516,0.54,1,2016-01-01 00:07:17,40.76173,-73.99023,6.0,0.0,...,0.00,7.30,2,Midtown,Clinton,"8,5","8,5",1,1,4
12,2016-01-01 00:00:05,40.71858,-73.99200,2.20,2,2016-01-01 00:14:27,40.73994,-74.00513,11.0,0.0,...,1.50,13.80,1,Lower East Side,West Village,"3,5","6,3",1,1,4
13,2016-01-01 00:00:06,40.77470,-73.98210,1.70,1,2016-01-01 00:04:44,40.79671,-73.97094,7.0,0.0,...,1.65,9.95,1,Upper West Side,Upper West Side,"9,6","11,7",1,1,4
14,2016-01-01 00:00:06,40.71850,-73.99484,1.38,1,2016-01-01 00:07:14,40.73423,-73.98981,7.0,0.0,...,1.66,9.96,1,Lower East Side,Greenwich Village,"3,4","5,5",1,1,4
15,2016-01-01 00:00:07,40.72659,-73.98917,1.80,1,2016-01-01 00:09:49,40.71507,-74.00948,9.0,0.0,...,0.00,10.30,2,East Village,Tribeca,"4,5","3,3",1,1,4
16,2016-01-01 00:00:08,40.73668,-73.99741,0.69,1,2016-01-01 00:03:24,40.73268,-73.98566,4.5,0.0,...,0.00,5.80,2,Greenwich Village,East Village,"5,4","5,5",1,1,4
17,2016-01-01 00:00:08,40.74722,-73.99714,0.72,1,2016-01-01 00:04:37,40.75180,-74.00449,5.0,0.0,...,0.00,6.30,2,Chelsea,Chelsea,"6,4","7,4",1,1,4
18,2016-01-01 00:00:08,40.72017,-73.99907,3.09,1,2016-01-01 00:18:51,40.75656,-73.97339,14.5,0.0,...,0.00,15.80,2,Little Italy,Midtown,"4,4","7,6",1,1,4
19,2016-01-01 00:00:09,40.73696,-73.99713,5.30,3,2016-01-01 00:19:03,40.75558,-73.92842,18.0,0.0,...,3.85,23.15,1,Greenwich Village,Astoria-Long Island City,"5,4","7,11",1,1,4
20,2016-01-01 00:00:10,40.77807,-73.95441,0.87,1,2016-01-01 00:02:20,40.78858,-73.94893,4.5,0.0,...,0.00,5.80,2,Upper East Side,Yorkville,"9,8","10,9",1,1,4
21,2016-01-01 00:00:10,40.74390,-73.99940,0.97,2,2016-01-01 00:06:15,40.74532,-73.98888,6.0,0.0,...,0.00,7.30,2,Chelsea,Chelsea,"6,4","6,5",1,1,4
22,2016-01-01 00:00:14,40.77201,-73.99027,0.44,2,2016-01-01 00:02:38,40.76977,-73.99504,4.0,0.0,...,1.06,6.36,1,Upper West Side,Midtown,"9,5","9,4",1,1,4
23,2016-01-01 00:00:14,40.74424,-73.99560,2.40,1,2016-01-01 00:13:02,40.76871,-73.98546,11.0,0.0,...,3.05,15.35,1,Chelsea,Midtown,"6,4","8,5",1,1,4
24,2016-01-01 00:00:16,40.77488,-73.98215,2.90,2,2016-01-01 00:33:00,40.74411,-73.98136,20.5,0.0,...,0.00,21.80,2,Upper West Side,Gramercy,"9,6","6,6",1,1,4
25,2016-01-01 00:00:17,40.73064,-74.00268,1.50,1,2016-01-01 00:13:59,40.72621,-73.98042,10.0,0.0,...,3.35,14.65,1,Greenwich Village,East Village,"5,4","4,6",1,1,4
26,2016-01-01 00:00:17,40.71916,-73.98174,9.63,5,2016-01-01 00:14:26,40.82918,-73.93883,27.0,0.0,...,8.49,36.79,1,Lower East Side,Harlem,"3,6","15,10",1,1,4
27,2016-01-01 00:00:17,40.74207,-74.00806,1.20,1,2016-01-01 00:19:14,40.74216,-74.00229,12.5,0.0,...,0.00,13.80,3,West Village,Chelsea,"6,3","6,4",1,1,4
28,2016-01-01 00:00:17,40.77374,-73.98166,2.32,1,2016-01-01 00:42:23,40.75384,-73.99596,19.0,0.0,...,0.00,20.30,2,Upper West Side,Clinton,"9,6","7,4",1,1,4
29,2016-01-01 00:00:18,40.77502,-73.96306,1.17,5,2016-01-01 00:05:44,40.77880,-73.95174,6.0,0.0,...,0.00,7.30,2,Upper East Side,Upper East Side,"9,7","9,8",1,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9423006,2016-01-31 23:59:36,40.75265,-73.97336,0.87,2,2016-02-01 00:02:22,40.76377,-73.96489,5.0,0.0,...,1.26,7.56,1,Midtown,Upper East Side,"7,6","8,7",1,31,6
9423007,2016-01-31 23:59:36,40.72885,-73.97673,4.61,1,2016-02-01 00:17:26,40.67954,-73.97581,16.5,0.0,...,0.00,17.80,2,East Village,Park Slope,"4,6","0,6",1,31,6
9423008,2016-01-31 23:59:36,40.73092,-74.00096,5.20,2,2016-02-01 00:19:20,40.67475,-73.96318,18.5,0.0,...,4.95,24.75,1,Greenwich Village,Fort Green,"5,4","0,7",1,31,6
9423009,2016-01-31 23:59:37,40.74380,-74.00616,1.60,1,2016-02-01 00:07:11,40.74304,-73.98853,7.5,0.0,...,0.00,8.80,2,Chelsea,Gramercy,"6,3","6,5",1,31,6
9423010,2016-01-31 23:59:38,40.77369,-73.95777,2.42,5,2016-02-01 00:06:58,40.79863,-73.93351,9.0,0.0,...,0.00,10.30,2,Upper East Side,East Harlem,"9,8","11,10",1,31,6
9423011,2016-01-31 23:59:39,40.72703,-73.98561,2.57,1,2016-02-01 00:18:24,40.77376,-73.93034,15.0,0.0,...,0.00,16.30,2,East Village,Astoria-Long Island City,"4,5","9,10",1,31,6
9423012,2016-01-31 23:59:40,40.79461,-73.97149,9.60,1,2016-02-01 00:34:03,40.83978,-73.91837,34.0,0.0,...,0.00,35.30,2,Upper West Side,High Bridge,"11,7","16,12",1,31,6
9423013,2016-01-31 23:59:41,40.80455,-73.93737,0.05,1,2016-02-01 00:03:56,40.80431,-73.93758,4.5,0.0,...,0.00,5.80,2,Harlem,East Harlem,"12,10","12,10",1,31,6
9423014,2016-01-31 23:59:41,40.75937,-73.98458,5.65,2,2016-02-01 00:16:32,40.82013,-73.95499,19.5,0.0,...,0.00,20.80,1,Midtown,Hamilton Heights,"7,5","14,8",1,31,6
9423015,2016-01-31 23:59:44,40.73288,-74.00397,6.74,1,2016-02-01 00:22:53,40.67239,-73.93101,23.0,0.0,...,4.86,29.16,1,West Village,Bedford-Stuyvesant,"5,4","0,10",1,31,6
9423016,2016-01-31 23:59:45,40.71875,-73.98812,4.15,3,2016-02-01 00:15:23,40.70059,-73.92170,15.0,0.0,...,3.26,19.56,1,Lower East Side,Bushwick,"3,5","2,11",1,31,6
9423017,2016-01-31 23:59:46,40.72048,-73.98719,1.30,1,2016-02-01 00:07:46,40.73141,-73.97496,7.5,0.0,...,2.00,10.80,1,Lower East Side,Gramercy,"4,5","5,6",1,31,6
9423018,2016-01-31 23:59:48,40.72889,-73.98440,0.70,2,2016-02-01 00:04:44,40.73559,-73.99236,5.5,0.0,...,1.35,8.15,1,East Village,Greenwich Village,"4,5","5,5",1,31,6
9423019,2016-01-31 23:59:49,40.72438,-73.98756,6.55,1,2016-02-01 00:22:36,40.80084,-73.95860,21.5,0.0,...,4.56,27.36,1,East Village,Harlem,"4,5","12,8",1,31,6
9423020,2016-01-31 23:59:51,40.74284,-73.98109,0.71,1,2016-02-01 00:03:15,40.75063,-73.97881,4.5,0.0,...,1.45,7.25,1,Gramercy,Murray Hill,"6,6","7,6",1,31,6
9423021,2016-01-31 23:59:52,40.73639,-73.98493,0.99,1,2016-02-01 00:03:20,40.74887,-73.97607,5.0,0.0,...,1.26,7.56,1,Gramercy,Murray Hill,"5,5","6,6",1,31,6
9423022,2016-01-31 23:59:52,40.76479,-73.97318,1.00,1,2016-02-01 00:03:43,40.76172,-73.98613,5.5,0.0,...,0.00,6.80,2,Central Park,Midtown,"8,6","8,5",1,31,6
9423023,2016-01-31 23:59:52,40.75505,-73.97508,1.14,1,2016-02-01 00:03:46,40.74207,-73.98282,5.5,0.0,...,1.36,8.16,1,Midtown,Gramercy,"7,6","6,6",1,31,6
9423024,2016-01-31 23:59:53,40.72983,-74.00057,2.10,1,2016-02-01 00:11:03,40.72578,-73.98377,10.0,0.0,...,0.00,11.30,1,Greenwich Village,East Village,"5,4","4,5",1,31,6
9423025,2016-01-31 23:59:53,40.71606,-74.00703,5.44,6,2016-02-01 00:18:18,40.78402,-73.97618,18.5,0.0,...,3.96,23.76,1,Tribeca,Upper West Side,"3,3","10,6",1,31,6
9423026,2016-01-31 23:59:56,40.74187,-73.99355,2.49,1,2016-02-01 00:06:28,40.76187,-73.96685,9.0,0.0,...,2.58,12.88,1,Chelsea,Upper East Side,"6,5","8,7",1,31,6
9423027,2016-01-31 23:59:56,40.72383,-74.00466,2.40,1,2016-02-01 00:08:03,40.74717,-73.98119,9.5,0.0,...,0.00,10.80,1,Soho,Gramercy,"4,3","6,6",1,31,6
9423028,2016-01-31 23:59:57,40.74152,-73.98744,2.74,1,2016-02-01 00:09:00,40.71005,-74.00619,10.5,0.0,...,3.54,15.34,1,Gramercy,Financial District,"6,5","3,3",1,31,6
9423029,2016-01-31 23:59:57,40.72486,-73.99236,3.40,1,2016-02-01 00:13:28,40.76514,-73.97666,13.5,0.0,...,2.00,16.80,1,East Village,Midtown,"4,5","8,6",1,31,6
9423030,2016-01-31 23:59:57,40.76300,-73.98600,9.18,2,2016-02-01 00:17:58,40.85940,-73.92785,27.0,0.0,...,5.66,33.96,1,Midtown,Washington Heights,"8,5","18,11",1,31,6
9423031,2016-01-31 23:59:58,40.75417,-73.98474,2.20,1,2016-02-01 00:07:36,40.78054,-73.98373,9.0,0.0,...,3.05,13.35,1,Garment District,Upper West Side,"7,5","10,5",1,31,6
9423032,2016-01-31 23:59:59,40.73433,-74.00294,0.80,2,2016-02-01 00:07:26,40.73919,-73.99695,6.5,0.0,...,0.00,7.80,1,West Village,Chelsea,"5,4","5,4",1,31,6
9423033,2016-01-31 23:59:59,40.72823,-73.99911,1.10,1,2016-02-01 00:09:28,40.73845,-73.99717,8.0,0.0,...,0.00,9.30,2,Greenwich Village,Chelsea,"4,4","5,4",1,31,6
9423034,2016-01-31 23:59:59,40.72007,-73.98833,2.64,1,2016-02-01 00:12:16,40.74385,-74.00665,11.0,0.0,...,0.00,12.30,2,Lower East Side,Chelsea,"4,5","6,3",1,31,6
9423035,2016-01-31 23:59:59,40.72289,-73.98891,3.95,1,2016-02-01 00:13:01,40.68917,-73.96004,14.0,0.0,...,3.06,18.36,1,Lower East Side,Fort Green,"4,5","0,8",1,31,6

In [58]:
df2 = df.loc[:,['pickups_place','pick_weekday','dummy']]
df2

        pickups_place  pick_weekday  dummy
0                 5,5             4      1
1                10,8             4      1
2                 6,6             4      1
3                 4,4             4      1
4                 6,6             4      1
5                11,9             4      1
6                 4,5             4      1
7                 6,3             4      1
8                 8,7             4      1
9                 6,4             4      1
10               11,6             4      1
11                8,5             4      1
12                3,5             4      1
13                9,6             4      1
14                3,4             4      1
15                4,5             4      1
16                5,4             4      1
17                6,4             4      1
18                4,4             4      1
19                5,4             4      1
20                9,8             4      1
21                6,4             4      1
22                9,5             4      1
23                6,4             4      1
24                9,6             4      1
25                5,4             4      1
26                3,6             4      1
27                6,3             4      1
28                9,6             4      1
29                9,7             4      1
...               ...           ...    ...
9423006           7,6             6      1
9423007           4,6             6      1
9423008           5,4             6      1
9423009           6,3             6      1
9423010           9,8             6      1
9423011           4,5             6      1
9423012          11,7             6      1
9423013         12,10             6      1
9423014           7,5             6      1
9423015           5,4             6      1
9423016           3,5             6      1
9423017           4,5             6      1
9423018           4,5             6      1
9423019           4,5             6      1
9423020           6,6             6      1
9423021           5,5             6      1
9423022           8,6             6      1
9423023           7,6             6      1
9423024           5,4             6      1
9423025           3,3             6      1
9423026           6,5             6      1
9423027           4,3             6      1
9423028           6,5             6      1
9423029           4,5             6      1
9423030           8,5             6      1
9423031           7,5             6      1
9423032           5,4             6      1
9423033           4,4             6      1
9423034           4,5             6      1
9423035           4,5             6      1

[9423036 rows x 3 columns]

In [59]:
group1 = None
g = None

In [82]:
group1= df2.groupby(['pickups_place','pick_weekday'])
sum1 = group1.sum()

In [83]:
sum1

                            dummy
pickups_place pick_weekday
0,10          0                 4
              1                 5
              2                 2
              3                 4
              4                13
              5                 8
              6                 9
0,11          0                 4
              1                 3
              2                 2
              3                 3
              4                10
              5                 3
              6                10
0,12          0                 2
              1                 2
              2                 2
              3                 2
              4                 9
              5                 1
              6                 3
0,13          0                 2
              2                 1
              4                 2
0,4           0               385
              1               523
              2               481
              3               526
              4               597
              5               283
...                           ...
9,5           5             13877
              6             12558
9,6           0             28060
              1             31464
              2             33108
              3             33376
              4             43139
              5             37170
              6             33913
9,7           0             19096
              1             22184
              2             22728
              3             22902
              4             26159
              5             18751
              6             16422
9,8           0             50308
              1             55281
              2             57414
              3             59259
              4             75906
              5             63035
              6             56240
9,9           0             16879
              1             18276
              2             19869
              3             20082
              4             26703
              5             21755
              6             18959

[1051 rows x 1 columns]

In [84]:
days = df.loc[:,['pick_weekday','pick_day']]
days.drop_duplicates(inplace=True)
days

         pick_weekday  pick_day
0                   4         1
285286              5         2
552846              6         3
802549              0         4
1069978             1         5
1366108             2         6
1669911             3         7
1988813             4         8
2333442             5         9
2694717             6        10
2994620             0        11
3289764             1        12
3611611             2        13
3958349             3        14
4302522             4        15
4649153             5        16
5012132             6        17
5339803             0        18
5630341             1        19
5963683             2        20
6294829             3        21
6642075             4        22
7009941             5        23
7077018             6        24
7213047             0        25
7445806             1        26
7724378             2        27
8036952             3        28
8369578             4        29
8731161             5        30
9116350             6        31

In [85]:
days['d'] =1

In [86]:
group_days = days.groupby('pick_weekday')
weekday_count= group_days.sum()
weekday_count.drop('pick_day',axis=1, inplace=True)
weekday_count

              d
pick_weekday
0             4
1             4
2             4
3             4
4             5
5             5
6             5

In [87]:
sum1 = sum1.reset_index(level=1)
sum1

               pick_weekday  dummy
pickups_place
0,10                      0      4
0,10                      1      5
0,10                      2      2
0,10                      3      4
0,10                      4     13
0,10                      5      8
0,10                      6      9
0,11                      0      4
0,11                      1      3
0,11                      2      2
0,11                      3      3
0,11                      4     10
0,11                      5      3
0,11                      6     10
0,12                      0      2
0,12                      1      2
0,12                      2      2
0,12                      3      2
0,12                      4      9
0,12                      5      1
0,12                      6      3
0,13                      0      2
0,13                      2      1
0,13                      4      2
0,4                       0    385
0,4                       1    523
0,4                       2    481
0,4                       3    526
0,4                       4    597
0,4                       5    283
...                     ...    ...
9,5                       5  13877
9,5                       6  12558
9,6                       0  28060
9,6                       1  31464
9,6                       2  33108
9,6                       3  33376
9,6                       4  43139
9,6                       5  37170
9,6                       6  33913
9,7                       0  19096
9,7                       1  22184
9,7                       2  22728
9,7                       3  22902
9,7                       4  26159
9,7                       5  18751
9,7                       6  16422
9,8                       0  50308
9,8                       1  55281
9,8                       2  57414
9,8                       3  59259
9,8                       4  75906
9,8                       5  63035
9,8                       6  56240
9,9                       0  16879
9,9                       1  18276
9,9                       2  19869
9,9                       3  20082
9,9                       4  26703
9,9                       5  21755
9,9                       6  18959

[1051 rows x 2 columns]

In [88]:
#sum1= sum1.drop('pick_day', axis=1)
sum1.reset_index(inplace=True)
sum1
#group_sum1 = sum1.groupby()

     pickups_place  pick_weekday  dummy
0             0,10             0      4
1             0,10             1      5
2             0,10             2      2
3             0,10             3      4
4             0,10             4     13
5             0,10             5      8
6             0,10             6      9
7             0,11             0      4
8             0,11             1      3
9             0,11             2      2
10            0,11             3      3
11            0,11             4     10
12            0,11             5      3
13            0,11             6     10
14            0,12             0      2
15            0,12             1      2
16            0,12             2      2
17            0,12             3      2
18            0,12             4      9
19            0,12             5      1
20            0,12             6      3
21            0,13             0      2
22            0,13             2      1
23            0,13             4      2
24             0,4             0    385
25             0,4             1    523
26             0,4             2    481
27             0,4             3    526
28             0,4             4    597
29             0,4             5    283
...            ...           ...    ...
1021           9,5             5  13877
1022           9,5             6  12558
1023           9,6             0  28060
1024           9,6             1  31464
1025           9,6             2  33108
1026           9,6             3  33376
1027           9,6             4  43139
1028           9,6             5  37170
1029           9,6             6  33913
1030           9,7             0  19096
1031           9,7             1  22184
1032           9,7             2  22728
1033           9,7             3  22902
1034           9,7             4  26159
1035           9,7             5  18751
1036           9,7             6  16422
1037           9,8             0  50308
1038           9,8             1  55281
1039           9,8             2  57414
1040           9,8             3  59259
1041           9,8             4  75906
1042           9,8             5  63035
1043           9,8             6  56240
1044           9,9             0  16879
1045           9,9             1  18276
1046           9,9             2  19869
1047           9,9             3  20082
1048           9,9             4  26703
1049           9,9             5  21755
1050           9,9             6  18959

[1051 rows x 3 columns]

In [89]:
weekday_count = weekday_count.reset_index()
weekday_count

   pick_weekday  d
0             0  4
1             1  4
2             2  4
3             3  4
4             4  5
5             5  5
6             6  5

In [90]:
grid_pickups =sum1.merge(weekday_count)
grid_pickups

     pickups_place  pick_weekday  dummy  d
0             0,10             0      4  4
1             0,11             0      4  4
2             0,12             0      2  4
3             0,13             0      2  4
4              0,4             0    385  4
5              0,5             0    191  4
6              0,6             0    305  4
7              0,7             0     46  4
8              0,8             0     23  4
9              0,9             0      5  4
10            1,10             0     16  4
11            1,11             0      7  4
12            1,12             0      2  4
13             1,4             0      3  4
14             1,5             0    528  4
15             1,6             0    139  4
16             1,7             0     39  4
17             1,8             0     21  4
18             1,9             0     11  4
19           10,10             0     15  4
20            10,5             0   1922  4
21            10,6             0  31682  4
22            10,7             0   8530  4
23            10,8             0  31352  4
24            10,9             0  11774  4
25           11,10             0   1412  4
26            11,6             0   8251  4
27            11,7             0  16830  4
28            11,8             0   2604  4
29            11,9             0   2970  4
...            ...           ...    ... ..
1021          7,10             6    620  5
1022          7,11             6    142  5
1023          7,12             6     47  5
1024          7,13             6     14  5
1025           7,3             6    742  5
1026           7,4             6  33985  5
1027           7,5             6  81128  5
1028           7,6             6  61199  5
1029           7,7             6  39193  5
1030           7,8             6   1125  5
1031           7,9             6    231  5
1032          8,10             6    241  5
1033          8,11             6    564  5
1034          8,12             6    145  5
1035          8,13             6      2  5
1036           8,4             6  15465  5
1037           8,5             6  55205  5
1038           8,6             6  65064  5
1039           8,7             6  49228  5
1040           8,8             6  29826  5
1041           8,9             6     40  5
1042          9,10             6      3  5
1043          9,11             6    217  5
1044          9,12             6     66  5
1045           9,4             6    416  5
1046           9,5             6  12558  5
1047           9,6             6  33913  5
1048           9,7             6  16422  5
1049           9,8             6  56240  5
1050           9,9             6  18959  5

[1051 rows x 4 columns]

In [91]:
x = grid_pickups[grid_pickups['pickups_place']=='0,10']
x

    pickups_place  pick_weekday  dummy  d
0            0,10             0      4  4
148          0,10             1      5  4
293          0,10             2      2  4
447          0,10             3      4  4
594          0,10             4     13  5
748          0,10             5      8  5
897          0,10             6      9  5

In [92]:
grid_pickups['mean_per_day']= grid_pickups['dummy']/grid_pickups['d']
grid_pickups

     pickups_place  pick_weekday  dummy  d  mean_per_day
0             0,10             0      4  4          1.00
1             0,11             0      4  4          1.00
2             0,12             0      2  4          0.50
3             0,13             0      2  4          0.50
4              0,4             0    385  4         96.25
5              0,5             0    191  4         47.75
6              0,6             0    305  4         76.25
7              0,7             0     46  4         11.50
8              0,8             0     23  4          5.75
9              0,9             0      5  4          1.25
10            1,10             0     16  4          4.00
11            1,11             0      7  4          1.75
12            1,12             0      2  4          0.50
13             1,4             0      3  4          0.75
14             1,5             0    528  4        132.00
15             1,6             0    139  4         34.75
16             1,7             0     39  4          9.75
17             1,8             0     21  4          5.25
18             1,9             0     11  4          2.75
19           10,10             0     15  4          3.75
20            10,5             0   1922  4        480.50
21            10,6             0  31682  4       7920.50
22            10,7             0   8530  4       2132.50
23            10,8             0  31352  4       7838.00
24            10,9             0  11774  4       2943.50
25           11,10             0   1412  4        353.00
26            11,6             0   8251  4       2062.75
27            11,7             0  16830  4       4207.50
28            11,8             0   2604  4        651.00
29            11,9             0   2970  4        742.50
...            ...           ...    ... ..           ...
1021          7,10             6    620  5        124.00
1022          7,11             6    142  5         28.40
1023          7,12             6     47  5          9.40
1024          7,13             6     14  5          2.80
1025           7,3             6    742  5        148.40
1026           7,4             6  33985  5       6797.00
1027           7,5             6  81128  5      16225.60
1028           7,6             6  61199  5      12239.80
1029           7,7             6  39193  5       7838.60
1030           7,8             6   1125  5        225.00
1031           7,9             6    231  5         46.20
1032          8,10             6    241  5         48.20
1033          8,11             6    564  5        112.80
1034          8,12             6    145  5         29.00
1035          8,13             6      2  5          0.40
1036           8,4             6  15465  5       3093.00
1037           8,5             6  55205  5      11041.00
1038           8,6             6  65064  5      13012.80
1039           8,7             6  49228  5       9845.60
1040           8,8             6  29826  5       5965.20
1041           8,9             6     40  5          8.00
1042          9,10             6      3  5          0.60
1043          9,11             6    217  5         43.40
1044          9,12             6     66  5         13.20
1045           9,4             6    416  5         83.20
1046           9,5             6  12558  5       2511.60
1047           9,6             6  33913  5       6782.60
1048           9,7             6  16422  5       3284.40
1049           9,8             6  56240  5      11248.00
1050           9,9             6  18959  5       3791.80

[1051 rows x 5 columns]

In [93]:
sum1

     pickups_place  pick_weekday  dummy
0             0,10             0      4
1             0,10             1      5
2             0,10             2      2
3             0,10             3      4
4             0,10             4     13
5             0,10             5      8
6             0,10             6      9
7             0,11             0      4
8             0,11             1      3
9             0,11             2      2
10            0,11             3      3
11            0,11             4     10
12            0,11             5      3
13            0,11             6     10
14            0,12             0      2
15            0,12             1      2
16            0,12             2      2
17            0,12             3      2
18            0,12             4      9
19            0,12             5      1
20            0,12             6      3
21            0,13             0      2
22            0,13             2      1
23            0,13             4      2
24             0,4             0    385
25             0,4             1    523
26             0,4             2    481
27             0,4             3    526
28             0,4             4    597
29             0,4             5    283
...            ...           ...    ...
1021           9,5             5  13877
1022           9,5             6  12558
1023           9,6             0  28060
1024           9,6             1  31464
1025           9,6             2  33108
1026           9,6             3  33376
1027           9,6             4  43139
1028           9,6             5  37170
1029           9,6             6  33913
1030           9,7             0  19096
1031           9,7             1  22184
1032           9,7             2  22728
1033           9,7             3  22902
1034           9,7             4  26159
1035           9,7             5  18751
1036           9,7             6  16422
1037           9,8             0  50308
1038           9,8             1  55281
1039           9,8             2  57414
1040           9,8             3  59259
1041           9,8             4  75906
1042           9,8             5  63035
1043           9,8             6  56240
1044           9,9             0  16879
1045           9,9             1  18276
1046           9,9             2  19869
1047           9,9             3  20082
1048           9,9             4  26703
1049           9,9             5  21755
1050           9,9             6  18959

[1051 rows x 3 columns]

In [94]:
sum1['pickups_place'].value_counts()

7,10     7
13,10    7
6,8      7
3,5      7
8,11     7
8,12     7
3,10     7
17,9     7
12,10    7
15,11    7
15,10    7
7,6      7
3,4      7
7,12     7
3,3      7
3,2      7
11,7     7
13,12    7
13,11    7
0,10     7
5,10     7
11,10    7
4,6      7
2,5      7
3,6      7
15,9     7
3,7      7
8,9      7
14,10    7
14,11    7
        ..
6,13     7
4,7      6
9,10     6
11,11    6
4,13     6
12,13    5
20,12    5
19,13    5
3,11     5
8,13     5
4,11     5
17,13    4
1,13     4
3,12     4
18,13    4
13,13    4
14,13    4
5,7      3
0,13     3
19,10    2
16,13    2
15,8     2
4,2      2
5,8      1
15,13    1
3,13     1
5,13     1
20,11    1
20,13    1
2,13     1
Name: pickups_place, Length: 165, dtype: int64