In [1]:
import pandas as pd
import math

In [2]:
df = pd.read_csv('data/1januarynew.csv', header=0, sep=',')

In [3]:
df.head()

,pickup_datetime,pickup_latitude,pickup_longitude,trip_distance,passenger_count,dropoff_datetime,dropoff_latitude,dropoff_longitude,fare_amount,tolls_amount,taxes_amount,tip_amount,payment_amount,payment_type,pickup_neighborhood,dropoff_neighborhood
0,2016-01-01 00:00:00,40.73470,-73.99037,1.10,2,2016-01-01 00:00:00,40.73241,-73.98184,7.5,0.0,1.3,0.0,8.8,2,Greenwich Village,Gramercy
1,2016-01-01 00:00:00,40.72991,-73.98078,4.90,5,2016-01-01 00:00:00,40.71668,-73.94447,18.0,0.0,1.3,0.0,19.3,1,East Village,NaN
2,2016-01-01 00:00:00,40.67957,-73.98455,10.54,1,2016-01-01 00:00:00,40.78893,-73.95027,33.0,0.0,1.3,0.0,34.3,1,Boerum Hill,Yorkville
3,2016-01-01 00:00:00,40.71899,-73.99347,4.75,1,2016-01-01 00:00:00,40.65733,-73.96224,16.5,0.0,0.8,0.0,17.3,2,Lower East Side,NaN
4,2016-01-01 00:00:00,40.78133,-73.96062,1.76,3,2016-01-01 00:00:00,40.75851,-73.97726,8.0,0.0,0.8,0.0,8.8,2,Upper East Side,Midtown

In [4]:
boxes = pd.read_csv('boxes2.txt')

In [5]:
boxes.head()

   north_latitude  south_latitude  west_longitud  east_longitude
0       40.691057       40.680396     -73.917661      -73.907000
1       40.691057       40.680396     -73.928322      -73.917661
2       40.691057       40.680396     -73.938983      -73.928322
3       40.691057       40.680396     -73.949644      -73.938983
4       40.691057       40.680396     -73.960305      -73.949644

In [6]:
# centerLat : 40.758896,
#centerLng : -73.985130,
#maxLat = north_lat
#minLat = sotuh_lat
#maxLng =west_long
#minLng = east_longitude

In [7]:
def insideManhattan(x):
    lat =  x['pickup_latitude']
    long = x['pickup_longitude']
    if ((lat > 40.680396 and lat <40.882214) and (long > -74.047285 and long < -73.907000)):
        return True
    return False

 filtrar solo los pickups de Manhattan

In [8]:
df = df[df.apply(insideManhattan, axis=1)]
df.dropna(inplace= True)
df.reset_index(inplace=True)

In [9]:
df['pickups_place'] = -1
df['dropoff_place'] = -1
R = 6378137
cellSize = 1000
south_lat = 40.680396
weast_lon = -74.047285

In [10]:
def setPick(x):
    stepLatitude =   cellSize *1.1* 180/(math.pi * R)
    stepLongitude =  cellSize *0.9*180 /( R* math.cos(math.pi*south_lat/180) * math.pi )
    lat =  x['pickup_latitude']
    lon = x['pickup_longitude']
    i = int(math.trunc((lat - south_lat) / stepLatitude))
    j = int(math.trunc((lon - weast_lon) / stepLongitude))
    return '{},{}'.format(i,j)

In [11]:
def setDrop(x):
    stepLatitude =   cellSize *1.1* 180/(math.pi * R)
    stepLongitude =  cellSize *0.9*180 /( R* math.cos(math.pi*south_lat/180) * math.pi )
    lat =  x['dropoff_latitude']
    lon = x['dropoff_longitude']
    i = int(math.trunc((lat - south_lat) / stepLatitude))
    j = int(math.trunc((lon - weast_lon) / stepLongitude))
    return '{},{}'.format(i,j)

In [12]:
df['pickups_place'] = df.apply(setPick, axis=1)

In [13]:
df['dropoff_place'] = df.apply(setDrop, axis=1)

In [14]:
df

,index,pickup_datetime,pickup_latitude,pickup_longitude,trip_distance,passenger_count,dropoff_datetime,dropoff_latitude,dropoff_longitude,fare_amount,tolls_amount,taxes_amount,tip_amount,payment_amount,payment_type,pickup_neighborhood,dropoff_neighborhood,pickups_place,dropoff_place
0,0,2016-01-01 00:00:00,40.73470,-73.99037,1.10,2,2016-01-01 00:00:00,40.73241,-73.98184,7.5,0.0,1.3,0.00,8.80,2,Greenwich Village,Gramercy,"5,5","5,6"
1,4,2016-01-01 00:00:00,40.78133,-73.96062,1.76,3,2016-01-01 00:00:00,40.75851,-73.97726,8.0,0.0,0.8,0.00,8.80,2,Upper East Side,Midtown,"10,8","7,6"
2,5,2016-01-01 00:00:00,40.74305,-73.98012,5.52,2,2016-01-01 00:18:30,40.76314,-73.91349,19.0,0.0,1.3,0.00,20.30,2,Gramercy,Astoria-Long Island City,"6,6","8,12"
3,6,2016-01-01 00:00:00,40.71999,-73.99406,7.45,2,2016-01-01 00:26:45,40.78987,-73.96636,26.0,0.0,1.3,0.00,27.30,2,Lower East Side,Upper West Side,"4,4","11,7"
4,7,2016-01-01 00:00:01,40.74461,-73.97942,1.20,1,2016-01-01 00:11:55,40.75394,-73.99203,9.0,0.0,1.3,0.00,10.30,2,Gramercy,Garment District,"6,6","7,5"
5,8,2016-01-01 00:00:02,40.72390,-73.99834,3.21,1,2016-01-01 00:11:08,40.68840,-73.99585,11.5,0.0,1.3,0.00,12.80,2,Soho,Cobble Hill,"4,4","0,4"
6,9,2016-01-01 00:00:02,40.79105,-73.94715,6.00,1,2016-01-01 00:11:14,40.86558,-73.92077,18.0,0.0,1.3,0.00,19.30,2,Yorkville,Inwood,"11,9","18,11"
7,10,2016-01-01 00:00:03,40.72154,-73.98902,0.01,4,2016-01-01 00:00:11,40.72170,-73.98896,2.5,0.0,1.3,0.00,3.80,2,Lower East Side,Lower East Side,"4,5","4,5"
8,11,2016-01-01 00:00:03,40.74492,-74.00615,0.79,1,2016-01-01 00:06:19,40.74144,-73.99380,6.0,0.0,1.3,0.00,7.30,2,Chelsea,Chelsea,"6,3","6,5"
9,12,2016-01-01 00:00:03,40.76354,-73.96933,2.43,6,2016-01-01 00:15:49,40.74425,-73.99569,12.0,0.0,1.3,3.99,17.29,1,Upper East Side,Chelsea,"8,7","6,4"
10,13,2016-01-01 00:00:04,40.74224,-74.00430,3.70,1,2016-01-01 00:14:32,40.70694,-74.00736,14.0,0.0,1.3,3.05,18.35,1,Chelsea,Financial District,"6,4","2,3"
11,14,2016-01-01 00:00:05,40.79536,-73.97309,1.92,1,2016-01-01 00:07:14,40.77315,-73.97837,7.5,0.0,1.3,0.00,8.80,2,Upper West Side,Upper West Side,"11,6","9,6"
12,15,2016-01-01 00:00:05,40.76895,-73.98516,0.54,1,2016-01-01 00:07:17,40.76173,-73.99023,6.0,0.0,1.3,0.00,7.30,2,Midtown,Clinton,"8,5","8,5"
13,16,2016-01-01 00:00:05,40.71858,-73.99200,2.20,2,2016-01-01 00:14:27,40.73994,-74.00513,11.0,0.0,1.3,1.50,13.80,1,Lower East Side,West Village,"3,5","6,3"
14,17,2016-01-01 00:00:06,40.77470,-73.98210,1.70,1,2016-01-01 00:04:44,40.79671,-73.97094,7.0,0.0,1.3,1.65,9.95,1,Upper West Side,Upper West Side,"9,6","11,7"
15,18,2016-01-01 00:00:06,40.71850,-73.99484,1.38,1,2016-01-01 00:07:14,40.73423,-73.98981,7.0,0.0,1.3,1.66,9.96,1,Lower East Side,Greenwich Village,"3,4","5,5"
16,19,2016-01-01 00:00:07,40.72659,-73.98917,1.80,1,2016-01-01 00:09:49,40.71507,-74.00948,9.0,0.0,1.3,0.00,10.30,2,East Village,Tribeca,"4,5","3,3"
17,21,2016-01-01 00:00:08,40.73668,-73.99741,0.69,1,2016-01-01 00:03:24,40.73268,-73.98566,4.5,0.0,1.3,0.00,5.80,2,Greenwich Village,East Village,"5,4","5,5"
18,22,2016-01-01 00:00:08,40.74722,-73.99714,0.72,1,2016-01-01 00:04:37,40.75180,-74.00449,5.0,0.0,1.3,0.00,6.30,2,Chelsea,Chelsea,"6,4","7,4"
19,23,2016-01-01 00:00:08,40.72017,-73.99907,3.09,1,2016-01-01 00:18:51,40.75656,-73.97339,14.5,0.0,1.3,0.00,15.80,2,Little Italy,Midtown,"4,4","7,6"
20,24,2016-01-01 00:00:09,40.71217,-73.96391,1.20,2,2016-01-01 00:07:18,40.71220,-73.95133,7.0,0.0,1.3,0.00,8.30,2,Williamsburg,Williamsburg,"3,7","3,9"
21,25,2016-01-01 00:00:09,40.73696,-73.99713,5.30,3,2016-01-01 00:19:03,40.75558,-73.92842,18.0,0.0,1.3,3.85,23.15,1,Greenwich Village,Astoria-Long Island City,"5,4","7,11"
22,26,2016-01-01 00:00:10,40.77807,-73.95441,0.87,1,2016-01-01 00:02:20,40.78858,-73.94893,4.5,0.0,1.3,0.00,5.80,2,Upper East Side,Yorkville,"9,8","10,9"
23,27,2016-01-01 00:00:10,40.74390,-73.99940,0.97,2,2016-01-01 00:06:15,40.74532,-73.98888,6.0,0.0,1.3,0.00,7.30,2,Chelsea,Chelsea,"6,4","6,5"
24,28,2016-01-01 00:00:12,40.75456,-73.99165,0.13,1,2016-01-01 00:01:17,40.75612,-73.99060,3.0,0.0,1.3,0.00,4.30,2,Garment District,Garment District,"7,5","7,5"
25,29,2016-01-01 00:00:14,40.77201,-73.99027,0.44,2,2016-01-01 00:02:38,40.76977,-73.99504,4.0,0.0,1.3,1.06,6.36,1,Upper West Side,Midtown,"9,5","9,4"
26,30,2016-01-01 00:00:14,40.74424,-73.99560,2.40,1,2016-01-01 00:13:02,40.76871,-73.98546,11.0,0.0,1.3,3.05,15.35,1,Chelsea,Midtown,"6,4","8,5"
27,31,2016-01-01 00:00:15,40.75115,-73.94011,1.56,1,2016-01-01 00:06:31,40.76705,-73.93002,7.5,0.0,1.3,0.00,8.80,2,Astoria-Long Island City,Astoria-Long Island City,"7,10","8,10"
28,32,2016-01-01 00:00:16,40.77488,-73.98215,2.90,2,2016-01-01 00:33:00,40.74411,-73.98136,20.5,0.0,1.3,0.00,21.80,2,Upper West Side,Gramercy,"9,6","6,6"
29,33,2016-01-01 00:00:17,40.73064,-74.00268,1.50,1,2016-01-01 00:13:59,40.72621,-73.98042,10.0,0.0,1.3,3.35,14.65,1,Greenwich Village,East Village,"5,4","4,6"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9699668,10906819,2016-01-31 23:59:37,40.74380,-74.00616,1.60,1,2016-02-01 00:07:11,40.74304,-73.98853,7.5,0.0,1.3,0.00,8.80,2,Chelsea,Gramercy,"6,3","6,5"
9699669,10906820,2016-01-31 23:59:38,40.77369,-73.95777,2.42,5,2016-02-01 00:06:58,40.79863,-73.93351,9.0,0.0,1.3,0.00,10.30,2,Upper East Side,East Harlem,"9,8","11,10"
9699670,10906821,2016-01-31 23:59:39,40.72703,-73.98561,2.57,1,2016-02-01 00:18:24,40.77376,-73.93034,15.0,0.0,1.3,0.00,16.30,2,East Village,Astoria-Long Island City,"4,5","9,10"
9699671,10906822,2016-01-31 23:59:40,40.74902,-73.93759,1.75,1,2016-02-01 00:06:21,40.75528,-73.91795,7.0,0.0,1.3,0.00,8.30,2,Astoria-Long Island City,Astoria-Long Island City,"6,10","7,12"
9699672,10906824,2016-01-31 23:59:40,40.79461,-73.97149,9.60,1,2016-02-01 00:34:03,40.83978,-73.91837,34.0,0.0,1.3,0.00,35.30,2,Upper West Side,High Bridge,"11,7","16,12"
9699673,10906825,2016-01-31 23:59:41,40.80455,-73.93737,0.05,1,2016-02-01 00:03:56,40.80431,-73.93758,4.5,0.0,1.3,0.00,5.80,2,Harlem,East Harlem,"12,10","12,10"
9699674,10906827,2016-01-31 23:59:41,40.75937,-73.98458,5.65,2,2016-02-01 00:16:32,40.82013,-73.95499,19.5,0.0,1.3,0.00,20.80,1,Midtown,Hamilton Heights,"7,5","14,8"
9699675,10906831,2016-01-31 23:59:44,40.73288,-74.00397,6.74,1,2016-02-01 00:22:53,40.67239,-73.93101,23.0,0.0,1.3,4.86,29.16,1,West Village,Bedford-Stuyvesant,"5,4","0,10"
9699676,10906832,2016-01-31 23:59:45,40.71875,-73.98812,4.15,3,2016-02-01 00:15:23,40.70059,-73.92170,15.0,0.0,1.3,3.26,19.56,1,Lower East Side,Bushwick,"3,5","2,11"
9699677,10906833,2016-01-31 23:59:46,40.72048,-73.98719,1.30,1,2016-02-01 00:07:46,40.73141,-73.97496,7.5,0.0,1.3,2.00,10.80,1,Lower East Side,Gramercy,"4,5","5,6"
9699678,10906835,2016-01-31 23:59:48,40.72889,-73.98440,0.70,2,2016-02-01 00:04:44,40.73559,-73.99236,5.5,0.0,1.3,1.35,8.15,1,East Village,Greenwich Village,"4,5","5,5"
9699679,10906836,2016-01-31 23:59:49,40.72438,-73.98756,6.55,1,2016-02-01 00:22:36,40.80084,-73.95860,21.5,0.0,1.3,4.56,27.36,1,East Village,Harlem,"4,5","12,8"
9699680,10906838,2016-01-31 23:59:51,40.74284,-73.98109,0.71,1,2016-02-01 00:03:15,40.75063,-73.97881,4.5,0.0,1.3,1.45,7.25,1,Gramercy,Murray Hill,"6,6","7,6"
9699681,10906839,2016-01-31 23:59:52,40.73639,-73.98493,0.99,1,2016-02-01 00:03:20,40.74887,-73.97607,5.0,0.0,1.3,1.26,7.56,1,Gramercy,Murray Hill,"5,5","6,6"
9699682,10906840,2016-01-31 23:59:52,40.76479,-73.97318,1.00,1,2016-02-01 00:03:43,40.76172,-73.98613,5.5,0.0,1.3,0.00,6.80,2,Central Park,Midtown,"8,6","8,5"
9699683,10906841,2016-01-31 23:59:52,40.75505,-73.97508,1.14,1,2016-02-01 00:03:46,40.74207,-73.98282,5.5,0.0,1.3,1.36,8.16,1,Midtown,Gramercy,"7,6","6,6"
9699684,10906842,2016-01-31 23:59:53,40.70986,-73.95644,1.27,5,2016-02-01 00:06:21,40.68575,-73.97292,6.5,0.0,1.3,1.56,9.36,1,Williamsburg,Fort Green,"2,8","0,6"
9699685,10906843,2016-01-31 23:59:53,40.72983,-74.00057,2.10,1,2016-02-01 00:11:03,40.72578,-73.98377,10.0,0.0,1.3,0.00,11.30,1,Greenwich Village,East Village,"5,4","4,5"
9699686,10906844,2016-01-31 23:59:53,40.71606,-74.00703,5.44,6,2016-02-01 00:18:18,40.78402,-73.97618,18.5,0.0,1.3,3.96,23.76,1,Tribeca,Upper West Side,"3,3","10,6"
9699687,10906845,2016-01-31 23:59:56,40.74187,-73.99355,2.49,1,2016-02-01 00:06:28,40.76187,-73.96685,9.0,0.0,1.3,2.58,12.88,1,Chelsea,Upper East Side,"6,5","8,7"
9699688,10906846,2016-01-31 23:59:56,40.72383,-74.00466,2.40,1,2016-02-01 00:08:03,40.74717,-73.98119,9.5,0.0,1.3,0.00,10.80,1,Soho,Gramercy,"4,3","6,6"
9699689,10906848,2016-01-31 23:59:57,40.74993,-73.99160,0.65,1,2016-02-01 00:04:16,40.75601,-73.99079,5.0,0.0,1.3,0.00,6.30,2,Garment District,Garment District,"7,5","7,5"
9699690,10906849,2016-01-31 23:59:57,40.74152,-73.98744,2.74,1,2016-02-01 00:09:00,40.71005,-74.00619,10.5,0.0,1.3,3.54,15.34,1,Gramercy,Financial District,"6,5","3,3"
9699691,10906850,2016-01-31 23:59:57,40.72486,-73.99236,3.40,1,2016-02-01 00:13:28,40.76514,-73.97666,13.5,0.0,1.3,2.00,16.80,1,East Village,Midtown,"4,5","8,6"
9699692,10906851,2016-01-31 23:59:57,40.76300,-73.98600,9.18,2,2016-02-01 00:17:58,40.85940,-73.92785,27.0,0.0,1.3,5.66,33.96,1,Midtown,Washington Heights,"8,5","18,11"
9699693,10906853,2016-01-31 23:59:58,40.75417,-73.98474,2.20,1,2016-02-01 00:07:36,40.78054,-73.98373,9.0,0.0,1.3,3.05,13.35,1,Garment District,Upper West Side,"7,5","10,5"
9699694,10906854,2016-01-31 23:59:59,40.73433,-74.00294,0.80,2,2016-02-01 00:07:26,40.73919,-73.99695,6.5,0.0,1.3,0.00,7.80,1,West Village,Chelsea,"5,4","5,4"
9699695,10906855,2016-01-31 23:59:59,40.72823,-73.99911,1.10,1,2016-02-01 00:09:28,40.73845,-73.99717,8.0,0.0,1.3,0.00,9.30,2,Greenwich Village,Chelsea,"4,4","5,4"
9699696,10906856,2016-01-31 23:59:59,40.72007,-73.98833,2.64,1,2016-02-01 00:12:16,40.74385,-74.00665,11.0,0.0,1.3,0.00,12.30,2,Lower East Side,Chelsea,"4,5","6,3"
9699697,10906857,2016-01-31 23:59:59,40.72289,-73.98891,3.95,1,2016-02-01 00:13:01,40.68917,-73.96004,14.0,0.0,1.3,3.06,18.36,1,Lower East Side,Fort Green,"4,5","0,8"

In [15]:
df.shape

(9699698, 19)

In [16]:
n = df['pickup_neighborhood'].value_counts()

In [17]:
n = n.index.tolist()
n =set(n)
len(n)

51

In [18]:
n2 = df['dropoff_neighborhood'].value_counts().index.tolist()
n2

['Midtown',
 'Upper East Side',
 'Upper West Side',
 'Gramercy',
 'Chelsea',
 'Garment District',
 'Greenwich Village',
 'Murray Hill',
 'Clinton',
 'East Village',
 'West Village',
 'Financial District',
 'Lower East Side',
 'Soho',
 'Tribeca',
 'Carnegie Hill',
 'Central Park',
 'Yorkville',
 'Harlem',
 'Battery Park',
 'North Sutton Area',
 'Astoria-Long Island City',
 'Williamsburg',
 'Morningside Heights',
 'East Harlem',
 'Little Italy',
 'Washington Heights',
 'Fort Green',
 'Sunny Side',
 'Hamilton Heights',
 'Bedford-Stuyvesant',
 'Park Slope',
 'Chinatown',
 'Downtown',
 'Bushwick',
 'Jackson Heights',
 'Carroll Gardens',
 'Boerum Hill',
 'Woodside',
 'Forest Hills',
 'Mott Haven',
 'Inwood',
 'Cobble Hill',
 'South Bronx',
 'Bay Ridge',
 'Ridgewood',
 'Borough Park',
 'High Bridge',
 'Mapleton-Flatlands',
 'Sunset Park',
 'Greenwood',
 'Gravesend-Sheepshead Bay',
 'Maspeth',
 'Nkew Gardens',
 'Riverdale',
 'Middle Village',
 'Tremont',
 'Parkchester',
 'Bedford Park',
 'Kings Bridge',
 'Soundview',
 'Utopia',
 'Flushing',
 'Morris Heights',
 'Bensonhurst',
 'Jamaica',
 'Spuyten Duyvil',
 'Woodhaven-Richmond Hill',
 'University Heights',
 'East Brooklyn',
 'Fordham',
 'Brownsville',
 'Morris Park',
 'Dyker Heights',
 'Canarsie',
 'Glendale',
 'Queensboro Hill',
 'Wakefield-Williamsbridge',
 'Woodlawn-Nordwood',
 'Union Port',
 'Hunts Point',
 'Williams Bridge',
 'Throggs Neck',
 'Douglastown-Little Neck',
 'Country Club',
 'Auburndale',
 'Springfield Gardens',
 'The Rockaways',
 'Clearview',
 'Saintalbans',
 'Queens Village',
 'Baychester',
 'South Beach',
 'Laurelton',
 'New Brighton',
 'Eastchester',
 'Midland Beach',
 'Westerleigh-Castleton',
 'Richmondtown',
 'Todt Hill',
 'Clifton',
 'City Island',
 'Oakwood',
 'Mariners Harbor',
 'Corona',
 'Ettingville',
 'Ardon Heights',
 'Bloomfield-Chelsea-Travis',
 'Tottensville',
 'Annandale',
 'Great Kills',
 'Rossville',
 'Flatbush',
 'Port Richmond',
 'Huguenot',
 "Prince's Bay",
 'Woodrow',
 'Steinway',
 'Howland Hook',
 'Charlestown-Richmond Valley',
 'Red Hook']

In [19]:
n.update(n2)
len(n)

121

In [20]:
n

{'Annandale',
 'Ardon Heights',
 'Astoria-Long Island City',
 'Auburndale',
 'Battery Park',
 'Bay Ridge',
 'Baychester',
 'Bedford Park',
 'Bedford-Stuyvesant',
 'Bensonhurst',
 'Bloomfield-Chelsea-Travis',
 'Boerum Hill',
 'Borough Park',
 'Brownsville',
 'Bushwick',
 'Canarsie',
 'Carnegie Hill',
 'Carroll Gardens',
 'Central Park',
 'Charlestown-Richmond Valley',
 'Chelsea',
 'Chinatown',
 'City Island',
 'Clearview',
 'Clifton',
 'Clinton',
 'Cobble Hill',
 'Corona',
 'Country Club',
 'Douglastown-Little Neck',
 'Downtown',
 'Dyker Heights',
 'East Brooklyn',
 'East Harlem',
 'East Village',
 'Eastchester',
 'Ettingville',
 'Financial District',
 'Flatbush',
 'Flushing',
 'Fordham',
 'Forest Hills',
 'Fort Green',
 'Garment District',
 'Glendale',
 'Gramercy',
 'Gravesend-Sheepshead Bay',
 'Great Kills',
 'Greenwich Village',
 'Greenwood',
 'Hamilton Heights',
 'Harlem',
 'High Bridge',
 'Howland Hook',
 'Huguenot',
 'Hunts Point',
 'Inwood',
 'Jackson Heights',
 'Jamaica',
 'Kings Bridge',
 'Laurelton',
 'Little Italy',
 'Lower East Side',
 'Mapleton-Flatlands',
 'Mariners Harbor',
 'Maspeth',
 'Middle Village',
 'Midland Beach',
 'Midtown',
 'Morningside Heights',
 'Morris Heights',
 'Morris Park',
 'Mott Haven',
 'Murray Hill',
 'New Brighton',
 'Nkew Gardens',
 'North Sutton Area',
 'Oakwood',
 'Park Slope',
 'Parkchester',
 'Port Richmond',
 "Prince's Bay",
 'Queens Village',
 'Queensboro Hill',
 'Red Hook',
 'Richmondtown',
 'Ridgewood',
 'Riverdale',
 'Rossville',
 'Saintalbans',
 'Soho',
 'Soundview',
 'South Beach',
 'South Bronx',
 'Springfield Gardens',
 'Spuyten Duyvil',
 'Steinway',
 'Sunny Side',
 'Sunset Park',
 'The Rockaways',
 'Throggs Neck',
 'Todt Hill',
 'Tottensville',
 'Tremont',
 'Tribeca',
 'Union Port',
 'University Heights',
 'Upper East Side',
 'Upper West Side',
 'Utopia',
 'Wakefield-Williamsbridge',
 'Washington Heights',
 'West Village',
 'Westerleigh-Castleton',
 'Williams Bridge',
 'Williamsburg',
 'Woodhaven-Richmond Hill',
 'Woodlawn-Nordwood',
 'Woodrow',
 'Woodside',
 'Yorkville'}

In [21]:
man = open("Boroughs/neighborhoods_manhattan",'r')
manhattan_nei = []
manhattan_not = []
for line in man:
    #print(line)
    line = line.strip("\n")
    data = line.split('|')
    if len(data)==3:
        #print(data)
        manhattan_not.append(data[0])
        
    else:
        manhattan_nei.append(data[0])    
    
    
man.close()
manhattan_nei = set(manhattan_nei)
manhattan_nei

{'Battery Park',
 'Chelsea',
 'Chinatown',
 'Clinton',
 'East Harlem',
 'East Village',
 'Financial District',
 'Gramercy',
 'Greenwich Village',
 'Hamilton Heights',
 'Harlem',
 'Inwood',
 'Little Italy',
 'Lower East Side',
 'Midtown',
 'Morningside Heights',
 'Murray Hill',
 'NoHo',
 'SoHo',
 'Stuyvesant Town',
 'Sutton Place',
 'Tribeca',
 'Upper East Side',
 'Upper West Side',
 'Washington Heights',
 'West Village',
 'Yorkville'}

In [22]:
manhattan_not = set(manhattan_not)
manhattan_not

{'Alphabet City',
 'Kips Bay',
 'Lenox Hill',
 'Lincoln Square',
 'Manhattan Valley',
 'Manhattanville',
 'Peter Cooper Village',
 'Polo Grounds',
 'Randall\xe2\x80\x99s Island',
 'Roosevelt Island',
 'Spanish Harlem',
 'Tudor City',
 'Turtle Bay',
 'Two Bridges',
 'Wards Island',
 'Waterside Plaza'}

In [23]:
manhattan_nei #= list(manhattan_nei)

{'Battery Park',
 'Chelsea',
 'Chinatown',
 'Clinton',
 'East Harlem',
 'East Village',
 'Financial District',
 'Gramercy',
 'Greenwich Village',
 'Hamilton Heights',
 'Harlem',
 'Inwood',
 'Little Italy',
 'Lower East Side',
 'Midtown',
 'Morningside Heights',
 'Murray Hill',
 'NoHo',
 'SoHo',
 'Stuyvesant Town',
 'Sutton Place',
 'Tribeca',
 'Upper East Side',
 'Upper West Side',
 'Washington Heights',
 'West Village',
 'Yorkville'}

In [24]:
def manhattanNeighborhood(x):
    _dict_=manhattan_nei
    #pick =  x['pickup_neighborhood']
    #drop = x['dropoff_neighborhood']
    if (( x['pickup_neighborhood'] in _dict_) or (x['dropoff_neighborhood'] in _dict_)):
        return True
    return False

In [25]:
df = df[df.apply(manhattanNeighborhood, axis=1)]

In [26]:
df

,index,pickup_datetime,pickup_latitude,pickup_longitude,trip_distance,passenger_count,dropoff_datetime,dropoff_latitude,dropoff_longitude,fare_amount,tolls_amount,taxes_amount,tip_amount,payment_amount,payment_type,pickup_neighborhood,dropoff_neighborhood,pickups_place,dropoff_place
0,0,2016-01-01 00:00:00,40.73470,-73.99037,1.10,2,2016-01-01 00:00:00,40.73241,-73.98184,7.5,0.0,1.3,0.00,8.80,2,Greenwich Village,Gramercy,"5,5","5,6"
1,4,2016-01-01 00:00:00,40.78133,-73.96062,1.76,3,2016-01-01 00:00:00,40.75851,-73.97726,8.0,0.0,0.8,0.00,8.80,2,Upper East Side,Midtown,"10,8","7,6"
2,5,2016-01-01 00:00:00,40.74305,-73.98012,5.52,2,2016-01-01 00:18:30,40.76314,-73.91349,19.0,0.0,1.3,0.00,20.30,2,Gramercy,Astoria-Long Island City,"6,6","8,12"
3,6,2016-01-01 00:00:00,40.71999,-73.99406,7.45,2,2016-01-01 00:26:45,40.78987,-73.96636,26.0,0.0,1.3,0.00,27.30,2,Lower East Side,Upper West Side,"4,4","11,7"
4,7,2016-01-01 00:00:01,40.74461,-73.97942,1.20,1,2016-01-01 00:11:55,40.75394,-73.99203,9.0,0.0,1.3,0.00,10.30,2,Gramercy,Garment District,"6,6","7,5"
6,9,2016-01-01 00:00:02,40.79105,-73.94715,6.00,1,2016-01-01 00:11:14,40.86558,-73.92077,18.0,0.0,1.3,0.00,19.30,2,Yorkville,Inwood,"11,9","18,11"
7,10,2016-01-01 00:00:03,40.72154,-73.98902,0.01,4,2016-01-01 00:00:11,40.72170,-73.98896,2.5,0.0,1.3,0.00,3.80,2,Lower East Side,Lower East Side,"4,5","4,5"
8,11,2016-01-01 00:00:03,40.74492,-74.00615,0.79,1,2016-01-01 00:06:19,40.74144,-73.99380,6.0,0.0,1.3,0.00,7.30,2,Chelsea,Chelsea,"6,3","6,5"
9,12,2016-01-01 00:00:03,40.76354,-73.96933,2.43,6,2016-01-01 00:15:49,40.74425,-73.99569,12.0,0.0,1.3,3.99,17.29,1,Upper East Side,Chelsea,"8,7","6,4"
10,13,2016-01-01 00:00:04,40.74224,-74.00430,3.70,1,2016-01-01 00:14:32,40.70694,-74.00736,14.0,0.0,1.3,3.05,18.35,1,Chelsea,Financial District,"6,4","2,3"
11,14,2016-01-01 00:00:05,40.79536,-73.97309,1.92,1,2016-01-01 00:07:14,40.77315,-73.97837,7.5,0.0,1.3,0.00,8.80,2,Upper West Side,Upper West Side,"11,6","9,6"
12,15,2016-01-01 00:00:05,40.76895,-73.98516,0.54,1,2016-01-01 00:07:17,40.76173,-73.99023,6.0,0.0,1.3,0.00,7.30,2,Midtown,Clinton,"8,5","8,5"
13,16,2016-01-01 00:00:05,40.71858,-73.99200,2.20,2,2016-01-01 00:14:27,40.73994,-74.00513,11.0,0.0,1.3,1.50,13.80,1,Lower East Side,West Village,"3,5","6,3"
14,17,2016-01-01 00:00:06,40.77470,-73.98210,1.70,1,2016-01-01 00:04:44,40.79671,-73.97094,7.0,0.0,1.3,1.65,9.95,1,Upper West Side,Upper West Side,"9,6","11,7"
15,18,2016-01-01 00:00:06,40.71850,-73.99484,1.38,1,2016-01-01 00:07:14,40.73423,-73.98981,7.0,0.0,1.3,1.66,9.96,1,Lower East Side,Greenwich Village,"3,4","5,5"
16,19,2016-01-01 00:00:07,40.72659,-73.98917,1.80,1,2016-01-01 00:09:49,40.71507,-74.00948,9.0,0.0,1.3,0.00,10.30,2,East Village,Tribeca,"4,5","3,3"
17,21,2016-01-01 00:00:08,40.73668,-73.99741,0.69,1,2016-01-01 00:03:24,40.73268,-73.98566,4.5,0.0,1.3,0.00,5.80,2,Greenwich Village,East Village,"5,4","5,5"
18,22,2016-01-01 00:00:08,40.74722,-73.99714,0.72,1,2016-01-01 00:04:37,40.75180,-74.00449,5.0,0.0,1.3,0.00,6.30,2,Chelsea,Chelsea,"6,4","7,4"
19,23,2016-01-01 00:00:08,40.72017,-73.99907,3.09,1,2016-01-01 00:18:51,40.75656,-73.97339,14.5,0.0,1.3,0.00,15.80,2,Little Italy,Midtown,"4,4","7,6"
21,25,2016-01-01 00:00:09,40.73696,-73.99713,5.30,3,2016-01-01 00:19:03,40.75558,-73.92842,18.0,0.0,1.3,3.85,23.15,1,Greenwich Village,Astoria-Long Island City,"5,4","7,11"
22,26,2016-01-01 00:00:10,40.77807,-73.95441,0.87,1,2016-01-01 00:02:20,40.78858,-73.94893,4.5,0.0,1.3,0.00,5.80,2,Upper East Side,Yorkville,"9,8","10,9"
23,27,2016-01-01 00:00:10,40.74390,-73.99940,0.97,2,2016-01-01 00:06:15,40.74532,-73.98888,6.0,0.0,1.3,0.00,7.30,2,Chelsea,Chelsea,"6,4","6,5"
25,29,2016-01-01 00:00:14,40.77201,-73.99027,0.44,2,2016-01-01 00:02:38,40.76977,-73.99504,4.0,0.0,1.3,1.06,6.36,1,Upper West Side,Midtown,"9,5","9,4"
26,30,2016-01-01 00:00:14,40.74424,-73.99560,2.40,1,2016-01-01 00:13:02,40.76871,-73.98546,11.0,0.0,1.3,3.05,15.35,1,Chelsea,Midtown,"6,4","8,5"
28,32,2016-01-01 00:00:16,40.77488,-73.98215,2.90,2,2016-01-01 00:33:00,40.74411,-73.98136,20.5,0.0,1.3,0.00,21.80,2,Upper West Side,Gramercy,"9,6","6,6"
29,33,2016-01-01 00:00:17,40.73064,-74.00268,1.50,1,2016-01-01 00:13:59,40.72621,-73.98042,10.0,0.0,1.3,3.35,14.65,1,Greenwich Village,East Village,"5,4","4,6"
30,34,2016-01-01 00:00:17,40.71916,-73.98174,9.63,5,2016-01-01 00:14:26,40.82918,-73.93883,27.0,0.0,1.3,8.49,36.79,1,Lower East Side,Harlem,"3,6","15,10"
31,35,2016-01-01 00:00:17,40.74207,-74.00806,1.20,1,2016-01-01 00:19:14,40.74216,-74.00229,12.5,0.0,1.3,0.00,13.80,3,West Village,Chelsea,"6,3","6,4"
32,36,2016-01-01 00:00:17,40.77374,-73.98166,2.32,1,2016-01-01 00:42:23,40.75384,-73.99596,19.0,0.0,1.3,0.00,20.30,2,Upper West Side,Clinton,"9,6","7,4"
33,37,2016-01-01 00:00:18,40.77502,-73.96306,1.17,5,2016-01-01 00:05:44,40.77880,-73.95174,6.0,0.0,1.3,0.00,7.30,2,Upper East Side,Upper East Side,"9,7","9,8"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9699665,10906816,2016-01-31 23:59:36,40.75265,-73.97336,0.87,2,2016-02-01 00:02:22,40.76377,-73.96489,5.0,0.0,1.3,1.26,7.56,1,Midtown,Upper East Side,"7,6","8,7"
9699666,10906817,2016-01-31 23:59:36,40.72885,-73.97673,4.61,1,2016-02-01 00:17:26,40.67954,-73.97581,16.5,0.0,1.3,0.00,17.80,2,East Village,Park Slope,"4,6","0,6"
9699667,10906818,2016-01-31 23:59:36,40.73092,-74.00096,5.20,2,2016-02-01 00:19:20,40.67475,-73.96318,18.5,0.0,1.3,4.95,24.75,1,Greenwich Village,Fort Green,"5,4","0,7"
9699668,10906819,2016-01-31 23:59:37,40.74380,-74.00616,1.60,1,2016-02-01 00:07:11,40.74304,-73.98853,7.5,0.0,1.3,0.00,8.80,2,Chelsea,Gramercy,"6,3","6,5"
9699669,10906820,2016-01-31 23:59:38,40.77369,-73.95777,2.42,5,2016-02-01 00:06:58,40.79863,-73.93351,9.0,0.0,1.3,0.00,10.30,2,Upper East Side,East Harlem,"9,8","11,10"
9699670,10906821,2016-01-31 23:59:39,40.72703,-73.98561,2.57,1,2016-02-01 00:18:24,40.77376,-73.93034,15.0,0.0,1.3,0.00,16.30,2,East Village,Astoria-Long Island City,"4,5","9,10"
9699672,10906824,2016-01-31 23:59:40,40.79461,-73.97149,9.60,1,2016-02-01 00:34:03,40.83978,-73.91837,34.0,0.0,1.3,0.00,35.30,2,Upper West Side,High Bridge,"11,7","16,12"
9699673,10906825,2016-01-31 23:59:41,40.80455,-73.93737,0.05,1,2016-02-01 00:03:56,40.80431,-73.93758,4.5,0.0,1.3,0.00,5.80,2,Harlem,East Harlem,"12,10","12,10"
9699674,10906827,2016-01-31 23:59:41,40.75937,-73.98458,5.65,2,2016-02-01 00:16:32,40.82013,-73.95499,19.5,0.0,1.3,0.00,20.80,1,Midtown,Hamilton Heights,"7,5","14,8"
9699675,10906831,2016-01-31 23:59:44,40.73288,-74.00397,6.74,1,2016-02-01 00:22:53,40.67239,-73.93101,23.0,0.0,1.3,4.86,29.16,1,West Village,Bedford-Stuyvesant,"5,4","0,10"
9699676,10906832,2016-01-31 23:59:45,40.71875,-73.98812,4.15,3,2016-02-01 00:15:23,40.70059,-73.92170,15.0,0.0,1.3,3.26,19.56,1,Lower East Side,Bushwick,"3,5","2,11"
9699677,10906833,2016-01-31 23:59:46,40.72048,-73.98719,1.30,1,2016-02-01 00:07:46,40.73141,-73.97496,7.5,0.0,1.3,2.00,10.80,1,Lower East Side,Gramercy,"4,5","5,6"
9699678,10906835,2016-01-31 23:59:48,40.72889,-73.98440,0.70,2,2016-02-01 00:04:44,40.73559,-73.99236,5.5,0.0,1.3,1.35,8.15,1,East Village,Greenwich Village,"4,5","5,5"
9699679,10906836,2016-01-31 23:59:49,40.72438,-73.98756,6.55,1,2016-02-01 00:22:36,40.80084,-73.95860,21.5,0.0,1.3,4.56,27.36,1,East Village,Harlem,"4,5","12,8"
9699680,10906838,2016-01-31 23:59:51,40.74284,-73.98109,0.71,1,2016-02-01 00:03:15,40.75063,-73.97881,4.5,0.0,1.3,1.45,7.25,1,Gramercy,Murray Hill,"6,6","7,6"
9699681,10906839,2016-01-31 23:59:52,40.73639,-73.98493,0.99,1,2016-02-01 00:03:20,40.74887,-73.97607,5.0,0.0,1.3,1.26,7.56,1,Gramercy,Murray Hill,"5,5","6,6"
9699682,10906840,2016-01-31 23:59:52,40.76479,-73.97318,1.00,1,2016-02-01 00:03:43,40.76172,-73.98613,5.5,0.0,1.3,0.00,6.80,2,Central Park,Midtown,"8,6","8,5"
9699683,10906841,2016-01-31 23:59:52,40.75505,-73.97508,1.14,1,2016-02-01 00:03:46,40.74207,-73.98282,5.5,0.0,1.3,1.36,8.16,1,Midtown,Gramercy,"7,6","6,6"
9699685,10906843,2016-01-31 23:59:53,40.72983,-74.00057,2.10,1,2016-02-01 00:11:03,40.72578,-73.98377,10.0,0.0,1.3,0.00,11.30,1,Greenwich Village,East Village,"5,4","4,5"
9699686,10906844,2016-01-31 23:59:53,40.71606,-74.00703,5.44,6,2016-02-01 00:18:18,40.78402,-73.97618,18.5,0.0,1.3,3.96,23.76,1,Tribeca,Upper West Side,"3,3","10,6"
9699687,10906845,2016-01-31 23:59:56,40.74187,-73.99355,2.49,1,2016-02-01 00:06:28,40.76187,-73.96685,9.0,0.0,1.3,2.58,12.88,1,Chelsea,Upper East Side,"6,5","8,7"
9699688,10906846,2016-01-31 23:59:56,40.72383,-74.00466,2.40,1,2016-02-01 00:08:03,40.74717,-73.98119,9.5,0.0,1.3,0.00,10.80,1,Soho,Gramercy,"4,3","6,6"
9699690,10906849,2016-01-31 23:59:57,40.74152,-73.98744,2.74,1,2016-02-01 00:09:00,40.71005,-74.00619,10.5,0.0,1.3,3.54,15.34,1,Gramercy,Financial District,"6,5","3,3"
9699691,10906850,2016-01-31 23:59:57,40.72486,-73.99236,3.40,1,2016-02-01 00:13:28,40.76514,-73.97666,13.5,0.0,1.3,2.00,16.80,1,East Village,Midtown,"4,5","8,6"
9699692,10906851,2016-01-31 23:59:57,40.76300,-73.98600,9.18,2,2016-02-01 00:17:58,40.85940,-73.92785,27.0,0.0,1.3,5.66,33.96,1,Midtown,Washington Heights,"8,5","18,11"
9699693,10906853,2016-01-31 23:59:58,40.75417,-73.98474,2.20,1,2016-02-01 00:07:36,40.78054,-73.98373,9.0,0.0,1.3,3.05,13.35,1,Garment District,Upper West Side,"7,5","10,5"
9699694,10906854,2016-01-31 23:59:59,40.73433,-74.00294,0.80,2,2016-02-01 00:07:26,40.73919,-73.99695,6.5,0.0,1.3,0.00,7.80,1,West Village,Chelsea,"5,4","5,4"
9699695,10906855,2016-01-31 23:59:59,40.72823,-73.99911,1.10,1,2016-02-01 00:09:28,40.73845,-73.99717,8.0,0.0,1.3,0.00,9.30,2,Greenwich Village,Chelsea,"4,4","5,4"
9699696,10906856,2016-01-31 23:59:59,40.72007,-73.98833,2.64,1,2016-02-01 00:12:16,40.74385,-74.00665,11.0,0.0,1.3,0.00,12.30,2,Lower East Side,Chelsea,"4,5","6,3"
9699697,10906857,2016-01-31 23:59:59,40.72289,-73.98891,3.95,1,2016-02-01 00:13:01,40.68917,-73.96004,14.0,0.0,1.3,3.06,18.36,1,Lower East Side,Fort Green,"4,5","0,8"

In [28]:
df = df.drop('index', axis=1)
df.head()

,pickup_datetime,pickup_latitude,pickup_longitude,trip_distance,passenger_count,dropoff_datetime,dropoff_latitude,dropoff_longitude,fare_amount,tolls_amount,taxes_amount,tip_amount,payment_amount,payment_type,pickup_neighborhood,dropoff_neighborhood,pickups_place,dropoff_place
0,2016-01-01 00:00:00,40.73470,-73.99037,1.10,2,2016-01-01 00:00:00,40.73241,-73.98184,7.5,0.0,1.3,0.0,8.8,2,Greenwich Village,Gramercy,"5,5","5,6"
1,2016-01-01 00:00:00,40.78133,-73.96062,1.76,3,2016-01-01 00:00:00,40.75851,-73.97726,8.0,0.0,0.8,0.0,8.8,2,Upper East Side,Midtown,"10,8","7,6"
2,2016-01-01 00:00:00,40.74305,-73.98012,5.52,2,2016-01-01 00:18:30,40.76314,-73.91349,19.0,0.0,1.3,0.0,20.3,2,Gramercy,Astoria-Long Island City,"6,6","8,12"
3,2016-01-01 00:00:00,40.71999,-73.99406,7.45,2,2016-01-01 00:26:45,40.78987,-73.96636,26.0,0.0,1.3,0.0,27.3,2,Lower East Side,Upper West Side,"4,4","11,7"
4,2016-01-01 00:00:01,40.74461,-73.97942,1.20,1,2016-01-01 00:11:55,40.75394,-73.99203,9.0,0.0,1.3,0.0,10.3,2,Gramercy,Garment District,"6,6","7,5"

In [42]:
pick_n= df['pickups_place'].value_counts()
pick_n =pick_n[pick_n>50000]
pick_n

7,6     603307
7,5     586297
6,5     538952
8,6     536434
8,7     454569
5,5     431846
9,8     417443
6,6     375595
8,5     341531
4,5     338909
7,7     337025
5,4     327491
6,4     308721
4,4     269153
8,8     263644
10,6    262309
9,6     240230
10,8    237218
7,4     205922
3,3     186425
5,6     150810
9,7     148242
9,9     142523
11,7    137750
2,3     129398
6,3     128206
5,3     121230
9,5     106039
10,9    103756
4,3      90536
8,4      89176
3,5      84033
3,4      77720
12,7     71273
4,6      70840
11,6     67312
10,7     65705
Name: pickups_place, dtype: int64

In [43]:
drop_n= df['dropoff_place'].value_counts()
drop_n = drop_n[drop_n>50000]
drop_n

7,6     596527
7,5     496771
6,5     477358
8,6     456088
9,8     398834
8,7     390667
6,6     364287
5,5     361098
7,7     295052
8,5     293090
4,5     269970
8,8     269695
5,4     265877
6,4     255791
10,8    254236
10,6    243033
4,4     240473
9,6     220783
7,4     208553
3,3     176778
5,6     165225
9,9     153057
2,3     146806
9,7     131477
9,5     130697
11,7    128136
6,3     119166
5,3     115425
10,9    114518
8,4     108216
4,6      99653
4,3      91991
12,7     83424
3,4      83100
11,6     82005
3,5      72765
10,7     72590
12,8     51345
Name: dropoff_place, dtype: int64

In [44]:
df.to_csv("data/january_manhattan.csv",index_label=False)

In [45]:
pick_n_plot = pick_n.plot(kind="bar", figsize = (20,10))
fig_n =pick_n_plot.get_figure()
fig_n.savefig('Pickup_grid.png')

In [46]:
drop_n_plot = drop_n.plot(kind="bar", figsize = (20,10))
fig_n2 =drop_n_plot.get_figure()
fig_n2.savefig('Dropoff_grid.png')