In [1]:
import pandas as pd
import math

In [2]:
df = pd.read_csv('data/enero2.csv', header=0, sep=',')

In [3]:
df.head()

,pickup_datetime,pickup_latitude,pickup_longitude,trip_distance,passenger_count,dropoff_datetime,dropoff_latitude,dropoff_longitude,fare_amount,tolls_amount,taxes_amount,tip_amount,payment_amount,payment_type,pickup_neighborhood,dropoff_neighborhood
0,2016-01-01 00:00:00,40.73470,-73.99037,1.10,2,2016-01-01 00:00:00,40.73241,-73.98184,7.5,0.0,1.3,0.0,8.8,2,Greenwich Village,Gramercy
1,2016-01-01 00:00:00,40.72991,-73.98078,4.90,5,2016-01-01 00:00:00,40.71668,-73.94447,18.0,0.0,1.3,0.0,19.3,1,East Village,NaN
2,2016-01-01 00:00:00,40.67957,-73.98455,10.54,1,2016-01-01 00:00:00,40.78893,-73.95027,33.0,0.0,1.3,0.0,34.3,1,Boerum Hill,Yorkville
3,2016-01-01 00:00:00,40.71899,-73.99347,4.75,1,2016-01-01 00:00:00,40.65733,-73.96224,16.5,0.0,0.8,0.0,17.3,2,Lower East Side,NaN
4,2016-01-01 00:00:00,40.78133,-73.96062,1.76,3,2016-01-01 00:00:00,40.75851,-73.97726,8.0,0.0,0.8,0.0,8.8,2,Upper East Side,Midtown

In [4]:
boxes = pd.read_csv('boxes2.txt')

In [5]:
boxes.head()

   north_latitude  south_latitude  west_longitud  east_longitude
0       40.691057       40.680396     -73.917661      -73.907000
1       40.691057       40.680396     -73.928322      -73.917661
2       40.691057       40.680396     -73.938983      -73.928322
3       40.691057       40.680396     -73.949644      -73.938983
4       40.691057       40.680396     -73.960305      -73.949644

In [6]:
# centerLat : 40.758896,
#centerLng : -73.985130,
#maxLat = north_lat
#minLat = sotuh_lat
#maxLng =west_long
#minLng = east_longitude

In [7]:
def insideManhattan(x):
    lat =  x['pickup_latitude']
    long = x['pickup_longitude']
    if ((lat > 40.680396 and lat <40.882214) and (long > -74.047285 and long < -73.907000)):
        return True
    return False

 filtrar solo los pickups de Manhattan

In [8]:
df = df[df.apply(insideManhattan, axis=1)]
df.dropna(inplace= True)
df.reset_index(inplace=True)

In [14]:
df['pickups_place'] = -1
df['dropoff_place'] = -1
R = 6378137
cellSize = 1000
south_lat = 40.680396
weast_lon = -74.047285

In [17]:
def setPick(x):
    stepLatitude =   cellSize *1.1* 180/(math.pi * R)
    stepLongitude =  cellSize *0.9*180 /( R* math.cos(math.pi*south_lat/180) * math.pi )
    lat =  x['pickup_latitude']
    lon = x['pickup_longitude']
    i = int(math.trunc((lat - south_lat) / stepLatitude))
    j = int(math.trunc((lon - weast_lon) / stepLongitude))
    return '{},{}'.format(i,j)

In [18]:
def setDrop(x):
    stepLatitude =   cellSize *1.1* 180/(math.pi * R)
    stepLongitude =  cellSize *0.9*180 /( R* math.cos(math.pi*south_lat/180) * math.pi )
    lat =  x['dropoff_latitude']
    lon = x['dropoff_longitude']
    i = int(math.trunc((lat - south_lat) / stepLatitude))
    j = int(math.trunc((lon - weast_lon) / stepLongitude))
    return '{},{}'.format(i,j)

In [19]:
df['pickups_place'] = df.apply(setPick, axis=1)

In [20]:
df['dropoff_place'] = df.apply(setDrop, axis=1)

In [21]:
df

,index,pickup_datetime,pickup_latitude,pickup_longitude,trip_distance,passenger_count,dropoff_datetime,dropoff_latitude,dropoff_longitude,fare_amount,tolls_amount,taxes_amount,tip_amount,payment_amount,payment_type,pickup_neighborhood,dropoff_neighborhood,place,pickups_place,dropoff_place
0,0,2016-01-01 00:00:00,40.73470,-73.99037,1.10,2,2016-01-01 00:00:00,40.73241,-73.98184,7.5,0.0,1.3,0.00,8.80,2,Greenwich Village,Gramercy,"5,5","5,5","5,6"
1,4,2016-01-01 00:00:00,40.78133,-73.96062,1.76,3,2016-01-01 00:00:00,40.75851,-73.97726,8.0,0.0,0.8,0.00,8.80,2,Upper East Side,Midtown,"10,8","10,8","7,6"
2,5,2016-01-01 00:00:00,40.74305,-73.98012,5.52,2,2016-01-01 00:18:30,40.76314,-73.91349,19.0,0.0,1.3,0.00,20.30,2,Gramercy,Astoria-Long Island City,"6,6","6,6","8,12"
3,6,2016-01-01 00:00:00,40.71999,-73.99406,7.45,2,2016-01-01 00:26:45,40.78987,-73.96636,26.0,0.0,1.3,0.00,27.30,2,Lower East Side,Upper West Side,"4,4","4,4","11,7"
4,7,2016-01-01 00:00:01,40.74461,-73.97942,1.20,1,2016-01-01 00:11:55,40.75394,-73.99203,9.0,0.0,1.3,0.00,10.30,2,Gramercy,Garment District,"6,6","6,6","7,5"
5,8,2016-01-01 00:00:02,40.72390,-73.99834,3.21,1,2016-01-01 00:11:08,40.68840,-73.99585,11.5,0.0,1.3,0.00,12.80,2,Soho,Cobble Hill,"4,4","4,4","0,4"
6,9,2016-01-01 00:00:02,40.79105,-73.94715,6.00,1,2016-01-01 00:11:14,40.86558,-73.92077,18.0,0.0,1.3,0.00,19.30,2,Yorkville,Inwood,"11,9","11,9","18,11"
7,10,2016-01-01 00:00:03,40.72154,-73.98902,0.01,4,2016-01-01 00:00:11,40.72170,-73.98896,2.5,0.0,1.3,0.00,3.80,2,Lower East Side,Lower East Side,"4,5","4,5","4,5"
8,11,2016-01-01 00:00:03,40.74492,-74.00615,0.79,1,2016-01-01 00:06:19,40.74144,-73.99380,6.0,0.0,1.3,0.00,7.30,2,Chelsea,Chelsea,"6,3","6,3","6,5"
9,12,2016-01-01 00:00:03,40.76354,-73.96933,2.43,6,2016-01-01 00:15:49,40.74425,-73.99569,12.0,0.0,1.3,3.99,17.29,1,Upper East Side,Chelsea,"8,7","8,7","6,4"
10,13,2016-01-01 00:00:04,40.74224,-74.00430,3.70,1,2016-01-01 00:14:32,40.70694,-74.00736,14.0,0.0,1.3,3.05,18.35,1,Chelsea,Financial District,"6,4","6,4","2,3"
11,14,2016-01-01 00:00:05,40.79536,-73.97309,1.92,1,2016-01-01 00:07:14,40.77315,-73.97837,7.5,0.0,1.3,0.00,8.80,2,Upper West Side,Upper West Side,"11,6","11,6","9,6"
12,15,2016-01-01 00:00:05,40.76895,-73.98516,0.54,1,2016-01-01 00:07:17,40.76173,-73.99023,6.0,0.0,1.3,0.00,7.30,2,Midtown,Clinton,"8,5","8,5","8,5"
13,16,2016-01-01 00:00:05,40.71858,-73.99200,2.20,2,2016-01-01 00:14:27,40.73994,-74.00513,11.0,0.0,1.3,1.50,13.80,1,Lower East Side,West Village,"3,5","3,5","6,3"
14,17,2016-01-01 00:00:06,40.77470,-73.98210,1.70,1,2016-01-01 00:04:44,40.79671,-73.97094,7.0,0.0,1.3,1.65,9.95,1,Upper West Side,Upper West Side,"9,6","9,6","11,7"
15,18,2016-01-01 00:00:06,40.71850,-73.99484,1.38,1,2016-01-01 00:07:14,40.73423,-73.98981,7.0,0.0,1.3,1.66,9.96,1,Lower East Side,Greenwich Village,"3,4","3,4","5,5"
16,19,2016-01-01 00:00:07,40.72659,-73.98917,1.80,1,2016-01-01 00:09:49,40.71507,-74.00948,9.0,0.0,1.3,0.00,10.30,2,East Village,Tribeca,"4,5","4,5","3,3"
17,21,2016-01-01 00:00:08,40.73668,-73.99741,0.69,1,2016-01-01 00:03:24,40.73268,-73.98566,4.5,0.0,1.3,0.00,5.80,2,Greenwich Village,East Village,"5,4","5,4","5,5"
18,22,2016-01-01 00:00:08,40.74722,-73.99714,0.72,1,2016-01-01 00:04:37,40.75180,-74.00449,5.0,0.0,1.3,0.00,6.30,2,Chelsea,Chelsea,"6,4","6,4","7,4"
19,23,2016-01-01 00:00:08,40.72017,-73.99907,3.09,1,2016-01-01 00:18:51,40.75656,-73.97339,14.5,0.0,1.3,0.00,15.80,2,Little Italy,Midtown,"4,4","4,4","7,6"
20,24,2016-01-01 00:00:09,40.71217,-73.96391,1.20,2,2016-01-01 00:07:18,40.71220,-73.95133,7.0,0.0,1.3,0.00,8.30,2,Williamsburg,Williamsburg,"3,7","3,7","3,9"
21,25,2016-01-01 00:00:09,40.73696,-73.99713,5.30,3,2016-01-01 00:19:03,40.75558,-73.92842,18.0,0.0,1.3,3.85,23.15,1,Greenwich Village,Astoria-Long Island City,"5,4","5,4","7,11"
22,26,2016-01-01 00:00:10,40.77807,-73.95441,0.87,1,2016-01-01 00:02:20,40.78858,-73.94893,4.5,0.0,1.3,0.00,5.80,2,Upper East Side,Yorkville,"9,8","9,8","10,9"
23,27,2016-01-01 00:00:10,40.74390,-73.99940,0.97,2,2016-01-01 00:06:15,40.74532,-73.98888,6.0,0.0,1.3,0.00,7.30,2,Chelsea,Chelsea,"6,4","6,4","6,5"
24,28,2016-01-01 00:00:12,40.75456,-73.99165,0.13,1,2016-01-01 00:01:17,40.75612,-73.99060,3.0,0.0,1.3,0.00,4.30,2,Garment District,Garment District,"7,5","7,5","7,5"
25,29,2016-01-01 00:00:14,40.77201,-73.99027,0.44,2,2016-01-01 00:02:38,40.76977,-73.99504,4.0,0.0,1.3,1.06,6.36,1,Upper West Side,Midtown,"9,5","9,5","9,4"
26,30,2016-01-01 00:00:14,40.74424,-73.99560,2.40,1,2016-01-01 00:13:02,40.76871,-73.98546,11.0,0.0,1.3,3.05,15.35,1,Chelsea,Midtown,"6,4","6,4","8,5"
27,31,2016-01-01 00:00:15,40.75115,-73.94011,1.56,1,2016-01-01 00:06:31,40.76705,-73.93002,7.5,0.0,1.3,0.00,8.80,2,Astoria-Long Island City,Astoria-Long Island City,"7,10","7,10","8,10"
28,32,2016-01-01 00:00:16,40.77488,-73.98215,2.90,2,2016-01-01 00:33:00,40.74411,-73.98136,20.5,0.0,1.3,0.00,21.80,2,Upper West Side,Gramercy,"9,6","9,6","6,6"
29,33,2016-01-01 00:00:17,40.73064,-74.00268,1.50,1,2016-01-01 00:13:59,40.72621,-73.98042,10.0,0.0,1.3,3.35,14.65,1,Greenwich Village,East Village,"5,4","5,4","4,6"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4537,4968,2016-01-01 00:16:52,40.71537,-74.01467,3.90,2,2016-01-01 00:36:14,40.74606,-73.98460,16.5,0.0,1.3,0.00,17.80,2,Battery Park,Gramercy,"3,3","3,3","6,5"
4538,4969,2016-01-01 00:16:52,40.76860,-73.96403,3.69,4,2016-01-01 00:40:08,40.73060,-74.00003,17.0,0.0,1.3,0.00,18.30,2,Upper East Side,Greenwich Village,"8,7","8,7","5,4"
4539,4970,2016-01-01 00:16:53,40.72277,-73.98310,1.00,3,2016-01-01 00:21:32,40.71963,-73.99443,5.5,0.0,1.3,0.00,6.80,2,East Village,Lower East Side,"4,6","4,6","3,4"
4540,4971,2016-01-01 00:16:53,40.74772,-73.97662,0.97,1,2016-01-01 00:21:41,40.75950,-73.96783,5.5,0.0,1.3,1.70,8.50,1,Murray Hill,Midtown,"6,6","6,6","8,7"
4541,4972,2016-01-01 00:16:53,40.77064,-73.96847,1.30,2,2016-01-01 00:22:12,40.78343,-73.95886,6.5,0.0,1.3,0.00,7.80,2,Upper East Side,Carnegie Hill,"9,7","9,7","10,8"
4542,4973,2016-01-01 00:16:53,40.73199,-73.99607,1.10,6,2016-01-01 00:23:02,40.74118,-73.99775,6.0,0.0,1.3,0.00,7.30,2,Greenwich Village,Chelsea,"5,4","5,4","6,4"
4543,4974,2016-01-01 00:16:53,40.74422,-73.97635,1.64,1,2016-01-01 00:25:13,40.72588,-73.99201,8.0,0.0,1.3,1.00,10.30,1,Gramercy,East Village,"6,6","6,6","4,5"
4544,4975,2016-01-01 00:16:54,40.78386,-73.95413,0.40,1,2016-01-01 00:19:06,40.78063,-73.95440,4.0,0.0,1.3,0.00,5.30,2,Carnegie Hill,Upper East Side,"10,8","10,8","10,8"
4545,4976,2016-01-01 00:16:54,40.75329,-73.99652,0.46,4,2016-01-01 00:19:21,40.74935,-73.99543,4.0,0.0,1.3,0.00,5.30,2,Chelsea,Chelsea,"7,4","7,4","6,4"
4546,4977,2016-01-01 00:16:54,40.73569,-74.00677,1.60,1,2016-01-01 00:26:57,40.72341,-73.98840,8.5,0.0,1.3,0.00,9.80,2,West Village,East Village,"5,3","5,3","4,5"
4547,4978,2016-01-01 00:16:54,40.76404,-73.92784,2.17,1,2016-01-01 00:27:25,40.74318,-73.92069,10.0,0.0,1.3,1.80,13.10,1,Astoria-Long Island City,Sunny Side,"8,11","8,11","6,11"
4548,4979,2016-01-01 00:16:54,40.75158,-73.99400,1.10,1,2016-01-01 00:28:37,40.76314,-73.99292,8.5,0.0,1.3,0.00,9.80,2,Garment District,Clinton,"7,4","7,4","8,5"
4549,4980,2016-01-01 00:16:54,40.77154,-73.95107,8.20,2,2016-01-01 00:33:52,40.71258,-73.94235,24.5,0.0,1.3,5.15,30.95,1,Upper East Side,Williamsburg,"9,9","9,9","3,9"
4550,4981,2016-01-01 00:16:54,40.76175,-73.99088,4.32,1,2016-01-01 00:34:47,40.81053,-73.96457,17.0,0.0,1.3,0.00,18.30,2,Clinton,Morningside Heights,"8,5","8,5","13,7"
4551,4982,2016-01-01 00:16:55,40.73362,-74.00218,1.40,1,2016-01-01 00:23:56,40.74921,-73.99559,7.0,0.0,1.3,0.00,8.30,1,Greenwich Village,Chelsea,"5,4","5,4","6,4"
4552,4983,2016-01-01 00:16:55,40.73616,-73.98226,0.74,1,2016-01-01 00:24:28,40.73264,-73.98988,6.5,0.0,1.3,0.00,7.80,1,Gramercy,Greenwich Village,"5,6","5,6","5,5"
4553,4984,2016-01-01 00:16:55,40.72547,-73.99498,2.50,1,2016-01-01 00:24:49,40.69466,-73.98404,9.5,0.0,1.3,2.16,12.96,1,Greenwich Village,Downtown,"4,4","4,4","1,5"
4554,4985,2016-01-01 00:16:55,40.79307,-73.97028,1.80,3,2016-01-01 00:27:26,40.77837,-73.98322,9.5,0.0,1.3,1.20,12.00,1,Upper West Side,Upper West Side,"11,7","11,7","9,6"
4555,4986,2016-01-01 00:16:55,40.69507,-73.98431,2.15,1,2016-01-01 00:27:55,40.68605,-73.95867,9.5,0.0,1.3,3.24,14.04,1,Downtown,Fort Green,"1,5","1,5","0,8"
4556,4987,2016-01-01 00:16:55,40.76223,-73.97041,1.62,1,2016-01-01 00:29:27,40.74486,-73.97615,9.5,0.0,1.3,0.00,10.80,2,Midtown,Gramercy,"8,7","8,7","6,6"
4557,4988,2016-01-01 00:16:55,40.76198,-73.97861,2.40,4,2016-01-01 00:37:19,40.73736,-73.98791,14.0,0.0,1.3,0.00,15.30,2,Midtown,Gramercy,"8,6","8,6","5,5"
4558,4989,2016-01-01 00:16:55,40.76660,-73.96037,11.92,1,2016-01-01 00:39:48,40.71236,-73.80465,34.0,0.0,1.3,7.06,42.36,1,Upper East Side,Utopia,"8,8","8,8","3,22"
4559,4990,2016-01-01 00:16:55,40.76403,-73.97385,1.40,1,2016-01-01 00:40:01,40.75130,-73.98275,14.0,0.0,1.3,1.00,16.30,1,Midtown,Murray Hill,"8,6","8,6","7,6"
4560,4991,2016-01-01 00:16:55,40.74634,-74.00156,4.93,1,2016-01-01 00:41:31,40.74634,-74.00156,20.0,0.0,1.3,0.00,21.30,2,Chelsea,Chelsea,"6,4","6,4","6,4"
4561,4992,2016-01-01 00:16:56,40.76443,-73.97306,0.90,2,2016-01-01 00:22:41,40.75544,-73.97341,5.5,0.0,1.3,0.00,6.80,2,Upper East Side,Midtown,"8,6","8,6","7,6"
4562,4993,2016-01-01 00:16:56,40.72131,-73.98674,1.87,2,2016-01-01 00:27:53,40.73853,-73.99740,9.5,0.0,1.3,0.00,10.80,2,Lower East Side,Chelsea,"4,5","4,5","5,4"
4563,4994,2016-01-01 00:16:56,40.70372,-74.00925,4.31,2,2016-01-01 00:30:58,40.67478,-73.98398,15.5,0.0,1.3,3.36,20.16,1,Financial District,Park Slope,"2,3","2,3","0,5"
4564,4996,2016-01-01 00:16:56,40.76911,-73.99487,1.97,1,2016-01-01 00:34:35,40.74963,-73.98744,12.0,0.0,1.3,2.66,15.96,1,Midtown,Garment District,"8,4","8,4","7,5"
4565,4997,2016-01-01 00:16:56,40.72254,-73.98299,4.40,3,2016-01-01 00:35:03,40.75738,-73.99711,14.5,0.0,1.3,3.95,19.75,1,East Village,Clinton,"4,6","4,6","7,4"
4566,4998,2016-01-01 00:16:57,40.75710,-73.97387,1.57,1,2016-01-01 00:29:30,40.73796,-73.98810,9.5,0.0,1.3,0.00,10.80,2,Midtown,Gramercy,"7,6","7,6","5,5"