In [1]:
import pandas as pd

In [2]:
PLUTO_MN = pd.read_csv('data/MN.csv')

/usr/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (19,22,23,25,63,79) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
PLUTO_MN.columns

Index([u'Borough', u'Block', u'Lot', u'CD', u'CT2010', u'CB2010',
       u'SchoolDist', u'Council', u'ZipCode', u'FireComp', u'PolicePrct',
       u'HealthArea', u'SanitBoro', u'SanitDistrict', u'SanitSub', u'Address',
       u'ZoneDist1', u'ZoneDist2', u'ZoneDist3', u'ZoneDist4', u'Overlay1',
       u'Overlay2', u'SPDist1', u'SPDist2', u'SPDist3', u'LtdHeight',
       u'SplitZone', u'BldgClass', u'LandUse', u'Easements', u'OwnerType',
       u'OwnerName', u'LotArea', u'BldgArea', u'ComArea', u'ResArea',
       u'OfficeArea', u'RetailArea', u'GarageArea', u'StrgeArea',
       u'FactryArea', u'OtherArea', u'AreaSource', u'NumBldgs', u'NumFloors',
       u'UnitsRes', u'UnitsTotal', u'LotFront', u'LotDepth', u'BldgFront',
       u'BldgDepth', u'Ext', u'ProxCode', u'IrrLotCode', u'LotType',
       u'BsmtCode', u'AssessLand', u'AssessTot', u'ExemptLand', u'ExemptTot',
       u'YearBuilt', u'YearAlter1', u'YearAlter2', u'HistDist', u'Landmark',
       u'BuiltFAR', u'ResidFAR', u'CommFAR', u'FacilFAR', u'BoroCode', u'BBL',
       u'CondoNo', u'Tract2010', u'XCoord', u'YCoord', u'ZoneMap', u'ZMCode',
       u'Sanborn', u'TaxMap', u'EDesigNum', u'APPBBL', u'APPDate',
       u'PLUTOMapID', u'Version'],
      dtype='object')

In [4]:
Coord_Translated = pd.read_csv('data/MN3.csv')
Coord_Translated.drop(['LandUse','AssessTot'], axis=1, inplace=True)
Coord_Translated

          XCoord     YCoord                     Address
0      40.688799 -74.018675          1 GOVERNORS ISLAND
1      40.689920 -74.045337            1 LIBERTY ISLAND
2      40.698188 -74.041329              1 ELLIS ISLAND
3      40.700369 -74.012911             MARGINAL STREET
4      40.701171 -74.009243                    1 PIER 6
5      40.702806 -74.015631             10 BATTERY PARK
6      40.701953 -74.013146          PETER MINUIT PLAZA
7      40.700918 -74.014444              1 SOUTH STREET
8      40.702153 -74.012021              1 WATER STREET
9      40.702776 -74.010722            115 BROAD STREET
10     40.702266 -74.010607            125 BROAD STREET
11     40.702609 -74.009900             24 SOUTH STREET
12     40.703290 -74.011022             30 WATER STREET
13     40.703259 -74.011080             28 WATER STREET
14     40.703246 -74.011144             26 WATER STREET
15     40.703204 -74.011227             24 WATER STREET
16     40.703171 -74.011354            105 BROAD STREET
17     40.703292 -74.011325            101 BROAD STREET
18     40.703397 -74.011350             99 BROAD STREET
19     40.703399 -74.011184             58 PEARL STREET
20     40.703440 -74.011087             60 PEARL STREET
21     40.703427 -74.010780             1 COENTIES SLIP
22     40.703380 -74.010957             32 WATER STREET
23     40.703119 -74.012299             32 PEARL STREET
24     40.703144 -74.011909            102 BROAD STREET
25     40.702971 -74.012234              6 WATER STREET
26     40.702935 -74.012681         39 WHITEHALL STREET
27     40.702760 -74.013301         34 WHITEHALL STREET
28     40.702609 -74.013680              7 STATE STREET
29     40.702891 -74.013878             17 STATE STREET
...          ...        ...                         ...
34131  40.868408 -73.925786           119 PAYSON AVENUE
34132  40.868562 -73.924958           139 PAYSON AVENUE
34133  40.868380 -73.924832            88 SEAMAN AVENUE
34134  40.868381 -73.925335            80 SEAMAN AVENUE
34135  40.868181 -73.925610            72 SEAMAN AVENUE
34136  40.868016 -73.926011            60 SEAMAN AVENUE
34137  40.869150 -73.922976           128 SEAMAN AVENUE
34138  40.868794 -73.923881           116 SEAMAN AVENUE
34139  40.868761 -73.924011           114 SEAMAN AVENUE
34140  40.868737 -73.924098           112 SEAMAN AVENUE
34141  40.868646 -73.924405           100 SEAMAN AVENUE
34142  40.868808 -73.923707           175 PAYSON AVENUE
34143  40.871950 -73.919455         586 WEST 215 STREET
34144  40.871725 -73.919242         580 WEST 215 STREET
34145  40.871511 -73.918993           230 SEAMAN AVENUE
34146  40.871366 -73.919235           222 SEAMAN AVENUE
34147  40.871605 -73.919412             WEST 214 STREET
34148  40.872189 -73.919021         583 WEST 215 STREET
34149  40.872397 -73.918767              25 INDIAN ROAD
34150  40.872641 -73.918398         600 WEST 218 STREET
34151  40.872539 -73.917964         590 WEST 218 STREET
34152  40.872432 -73.917708           270 SEAMAN AVENUE
34153  40.872287 -73.918001           260 SEAMAN AVENUE
34154  40.872183 -73.918171           256 SEAMAN AVENUE
34155  40.872040 -73.918363           254 SEAMAN AVENUE
34156  40.871977 -73.918645           244 SEAMAN AVENUE
34157  40.871766 -73.918642         571 WEST 215 STREET
34158  40.872348 -73.918388             WEST 218 STREET
34159  40.871649 -73.920334         570 WEST 214 STREET
34160  40.873486 -73.925694          269 DYCKMAN STREET

[34161 rows x 3 columns]

In [5]:
PLUTO_MN = PLUTO_MN.merge(Coord_Translated, on ="Address", suffixes= ('_NY_LI','_Real'))

In [6]:
PLUTO_MN.columns

Index([u'Borough', u'Block', u'Lot', u'CD', u'CT2010', u'CB2010',
       u'SchoolDist', u'Council', u'ZipCode', u'FireComp', u'PolicePrct',
       u'HealthArea', u'SanitBoro', u'SanitDistrict', u'SanitSub', u'Address',
       u'ZoneDist1', u'ZoneDist2', u'ZoneDist3', u'ZoneDist4', u'Overlay1',
       u'Overlay2', u'SPDist1', u'SPDist2', u'SPDist3', u'LtdHeight',
       u'SplitZone', u'BldgClass', u'LandUse', u'Easements', u'OwnerType',
       u'OwnerName', u'LotArea', u'BldgArea', u'ComArea', u'ResArea',
       u'OfficeArea', u'RetailArea', u'GarageArea', u'StrgeArea',
       u'FactryArea', u'OtherArea', u'AreaSource', u'NumBldgs', u'NumFloors',
       u'UnitsRes', u'UnitsTotal', u'LotFront', u'LotDepth', u'BldgFront',
       u'BldgDepth', u'Ext', u'ProxCode', u'IrrLotCode', u'LotType',
       u'BsmtCode', u'AssessLand', u'AssessTot', u'ExemptLand', u'ExemptTot',
       u'YearBuilt', u'YearAlter1', u'YearAlter2', u'HistDist', u'Landmark',
       u'BuiltFAR', u'ResidFAR', u'CommFAR', u'FacilFAR', u'BoroCode', u'BBL',
       u'CondoNo', u'Tract2010', u'XCoord_NY_LI', u'YCoord_NY_LI', u'ZoneMap',
       u'ZMCode', u'Sanborn', u'TaxMap', u'EDesigNum', u'APPBBL', u'APPDate',
       u'PLUTOMapID', u'Version', u'XCoord_Real', u'YCoord_Real'],
      dtype='object')

In [7]:
PLUTO_MN['place'] = -1
R = 6378137
cellSize = 1000
south_lat = 40.680396
weast_lon = -74.047285

In [8]:
import math

In [9]:
def setPick(x):
    stepLatitude =   cellSize *1.1* 180/(math.pi * R)
    stepLongitude =  cellSize *0.9*180 /( R* math.cos(math.pi*south_lat/180) * math.pi )
    lat =  x['XCoord_Real']
    lon = x['YCoord_Real']
    i = int(math.trunc((lat - south_lat) / stepLatitude))
    j = int(math.trunc((lon - weast_lon) / stepLongitude))
    return '{},{}'.format(i,j)

In [10]:
PLUTO_MN['place'] = PLUTO_MN.apply(setPick, axis=1)

In [11]:
PLUTO_MN.loc[(PLUTO_MN['place']=='4,5'),:]['BldgClass'].value_counts()

C7    372
C4    128
C1     82
RM     80
C6     61
K4     45
V1     35
S3     25
D6     24
S4     24
S9     24
K2     23
S5     22
K1     21
L8     21
M1     19
D4     18
D0     18
C2     17
D1     17
D9     17
D7     14
C5     14
G7     10
S2     10
C3      9
C0      9
D5      9
Q9      8
G6      7
     ...
O8      2
Y1      1
O3      1
RX      1
D8      1
K7      1
O7      1
K5      1
P8      1
C9      1
U2      1
P6      1
P2      1
E7      1
E9      1
I6      1
I7      1
HH      1
M4      1
L3      1
J4      1
U6      1
U7      1
Q1      1
W9      1
W4      1
T9      1
R6      1
Y2      1
J8      1
Name: BldgClass, Length: 104, dtype: int64

In [12]:
data = pd.read_csv('data/manhattan_jan_time.csv')

In [13]:
PLUTO_MN['BldgClass_code'] = PLUTO_MN['BldgClass'].apply(lambda x:  x[0])

In [14]:
PLUTO_MN.loc[PLUTO_MN['place']=='4,5',:]['BldgClass_code'].value_counts()

C    693
D    121
S    110
R    102
K     94
V     35
M     31
L     28
O     26
G     25
H     19
Q     17
W     17
J     10
B     10
I      9
N      9
P      8
E      7
A      4
Z      4
U      3
Y      2
T      1
Name: BldgClass_code, dtype: int64

In [15]:
PLUTO_MN['freq'] = 1
group1 = PLUTO_MN.loc[:,['place','BldgClass_code', 'freq']].groupby(['place','BldgClass_code'])
group2 = PLUTO_MN.loc[:,['place', 'freq']].groupby(['place'])

In [16]:
freq = group1.sum()
freq

                      freq
place BldgClass_code
0,0   P                  1
0,2   Y                  1
1,0   Z                  1
10,10 D                  3
      I                  2
      Q                  6
      T                 21
      U                  1
      V                 13
      Y                  2
      Z                  1
10,11 Q                  2
      U                  4
      V                  2
10,5  A                  6
      B                  4
      C                 53
      D                 33
      H                  4
      M                  3
      Q                  8
      R                  3
      S                  2
      U                  3
      V                  5
      W                  1
10,6  A                 27
      B                 32
      C                520
      D                185
...                    ...
9,8   O                 24
      P                  5
      R                 73
      S                109
      U                  2
      V                 10
      W                 14
      Y                  2
      Z                 10
9,9   A                 30
      B                 13
      C                298
      D                146
      E                  2
      G                  2
      H                  1
      I                  6
      K                  6
      M                  7
      O                  3
      P                  2
      Q                  7
      R                 26
      S                 24
      T                 21
      U                  1
      V                 14
      W                  6
      Y                  3
      Z                  1

[1359 rows x 1 columns]

In [17]:
freq2 = group2.sum()
freq2['w_freq'] = freq2['freq']
freq2.drop('freq', axis=1, inplace=True)
freq2 = freq2.reset_index()

In [18]:
freq=freq.reset_index()
freq

      place BldgClass_code  freq
0       0,0              P     1
1       0,2              Y     1
2       1,0              Z     1
3     10,10              D     3
4     10,10              I     2
5     10,10              Q     6
6     10,10              T    21
7     10,10              U     1
8     10,10              V    13
9     10,10              Y     2
10    10,10              Z     1
11    10,11              Q     2
12    10,11              U     4
13    10,11              V     2
14     10,5              A     6
15     10,5              B     4
16     10,5              C    53
17     10,5              D    33
18     10,5              H     4
19     10,5              M     3
20     10,5              Q     8
21     10,5              R     3
22     10,5              S     2
23     10,5              U     3
24     10,5              V     5
25     10,5              W     1
26     10,6              A    27
27     10,6              B    32
28     10,6              C   520
29     10,6              D   185
...     ...            ...   ...
1329    9,8              O    24
1330    9,8              P     5
1331    9,8              R    73
1332    9,8              S   109
1333    9,8              U     2
1334    9,8              V    10
1335    9,8              W    14
1336    9,8              Y     2
1337    9,8              Z    10
1338    9,9              A    30
1339    9,9              B    13
1340    9,9              C   298
1341    9,9              D   146
1342    9,9              E     2
1343    9,9              G     2
1344    9,9              H     1
1345    9,9              I     6
1346    9,9              K     6
1347    9,9              M     7
1348    9,9              O     3
1349    9,9              P     2
1350    9,9              Q     7
1351    9,9              R    26
1352    9,9              S    24
1353    9,9              T    21
1354    9,9              U     1
1355    9,9              V    14
1356    9,9              W     6
1357    9,9              Y     3
1358    9,9              Z     1

[1359 rows x 3 columns]

In [19]:
freq2.sort_values('w_freq')

    place  w_freq
0     0,0       1
1     0,2       1
2     1,0       1
71    7,9       1
37  19,10       1
44    2,5       3
40  19,13       3
45  20,12       4
11  11,11       6
78    9,4       8
4   10,11       8
41    2,2      25
46    3,2      38
38  19,11      39
3   10,10      49
33   17,9      50
77    8,9      62
34  18,10      63
14   11,8      73
59    5,7      73
64    6,7      73
21   13,7      74
36  18,12      76
43    2,4      88
50    3,6      97
30   16,9     113
5    10,5     125
70    7,8     128
32  17,11     141
65    7,3     151
..    ...     ...
9    10,9     590
31  17,10     605
17   12,7     609
55    5,3     614
83    9,9     619
8    10,8     619
67    7,5     637
28   15,9     643
69    7,7     658
16  12,10     724
15   11,9     778
49    3,5     779
18   12,8     787
10  11,10     797
62    6,5     813
57    5,5     869
48    3,4     904
73    8,5     928
75    8,7     936
6    10,6     965
19   12,9     969
61    6,4     983
63    6,6     997
26   14,9    1041
23   13,9    1161
54    4,6    1188
52    4,4    1196
82    9,8    1229
56    5,4    1365
53    4,5    1385

[84 rows x 2 columns]

In [20]:
freq = freq.merge(freq2)
freq.set_index(['place','BldgClass_code'], inplace=True)

In [21]:
freq['ratio']= freq['freq']/freq['w_freq']
freq

                      freq  w_freq     ratio
place BldgClass_code
0,0   P                  1       1  1.000000
0,2   Y                  1       1  1.000000
1,0   Z                  1       1  1.000000
10,10 D                  3      49  0.061224
      I                  2      49  0.040816
      Q                  6      49  0.122449
      T                 21      49  0.428571
      U                  1      49  0.020408
      V                 13      49  0.265306
      Y                  2      49  0.040816
      Z                  1      49  0.020408
10,11 Q                  2       8  0.250000
      U                  4       8  0.500000
      V                  2       8  0.250000
10,5  A                  6     125  0.048000
      B                  4     125  0.032000
      C                 53     125  0.424000
      D                 33     125  0.264000
      H                  4     125  0.032000
      M                  3     125  0.024000
      Q                  8     125  0.064000
      R                  3     125  0.024000
      S                  2     125  0.016000
      U                  3     125  0.024000
      V                  5     125  0.040000
      W                  1     125  0.008000
10,6  A                 27     965  0.027979
      B                 32     965  0.033161
      C                520     965  0.538860
      D                185     965  0.191710
...                    ...     ...       ...
9,8   O                 24    1229  0.019528
      P                  5    1229  0.004068
      R                 73    1229  0.059398
      S                109    1229  0.088690
      U                  2    1229  0.001627
      V                 10    1229  0.008137
      W                 14    1229  0.011391
      Y                  2    1229  0.001627
      Z                 10    1229  0.008137
9,9   A                 30     619  0.048465
      B                 13     619  0.021002
      C                298     619  0.481422
      D                146     619  0.235864
      E                  2     619  0.003231
      G                  2     619  0.003231
      H                  1     619  0.001616
      I                  6     619  0.009693
      K                  6     619  0.009693
      M                  7     619  0.011309
      O                  3     619  0.004847
      P                  2     619  0.003231
      Q                  7     619  0.011309
      R                 26     619  0.042003
      S                 24     619  0.038772
      T                 21     619  0.033926
      U                  1     619  0.001616
      V                 14     619  0.022617
      W                  6     619  0.009693
      Y                  3     619  0.004847
      Z                  1     619  0.001616

[1359 rows x 3 columns]

In [22]:
freq.loc['20,12'].sort_values('ratio', ascending=False)

                freq  w_freq  ratio
BldgClass_code
B                  1       4   0.25
E                  1       4   0.25
K                  1       4   0.25
Z                  1       4   0.25

In [23]:
freq.loc['10,10'].sort_values('ratio', ascending=False)

                freq  w_freq     ratio
BldgClass_code
T                 21      49  0.428571
V                 13      49  0.265306
Q                  6      49  0.122449
D                  3      49  0.061224
I                  2      49  0.040816
Y                  2      49  0.040816
U                  1      49  0.020408
Z                  1      49  0.020408

In [24]:
freq.loc['9,9','A']['ratio']

0.048465266558966075

In [25]:
s= set(freq.index.get_level_values(1))
l = list(s)
l.sort()
l

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'Y',
 'Z']

In [26]:
s= set(freq.index.get_level_values(0))
l = list(s)
l.sort()
l

['0,0',
 '0,2',
 '1,0',
 '10,10',
 '10,11',
 '10,5',
 '10,6',
 '10,7',
 '10,8',
 '10,9',
 '11,10',
 '11,11',
 '11,6',
 '11,7',
 '11,8',
 '11,9',
 '12,10',
 '12,7',
 '12,8',
 '12,9',
 '13,10',
 '13,7',
 '13,8',
 '13,9',
 '14,10',
 '14,8',
 '14,9',
 '15,10',
 '15,9',
 '16,10',
 '16,9',
 '17,10',
 '17,11',
 '17,9',
 '18,10',
 '18,11',
 '18,12',
 '19,10',
 '19,11',
 '19,12',
 '19,13',
 '2,2',
 '2,3',
 '2,4',
 '2,5',
 '20,12',
 '3,2',
 '3,3',
 '3,4',
 '3,5',
 '3,6',
 '4,3',
 '4,4',
 '4,5',
 '4,6',
 '5,3',
 '5,4',
 '5,5',
 '5,6',
 '5,7',
 '6,3',
 '6,4',
 '6,5',
 '6,6',
 '6,7',
 '7,3',
 '7,4',
 '7,5',
 '7,6',
 '7,7',
 '7,8',
 '7,9',
 '8,4',
 '8,5',
 '8,6',
 '8,7',
 '8,8',
 '8,9',
 '9,4',
 '9,5',
 '9,6',
 '9,7',
 '9,8',
 '9,9']

In [27]:
from sklearn.cluster import KMeans

In [28]:
import numpy as np

In [29]:
def features(data):
    s = set(data.index.get_level_values(0))
    l = list(s)
    l.sort()
    s2 = set(data.index.get_level_values(1))
    l2 = list(s2)
    l2.sort()
    
    features = np.zeros((len(l),len(l2)))
    
    for e in l:
        for e2 in l2:
            try:
                features[ l.index(e) , l2.index(e2) ] = data.loc[e,e2]['ratio']
            except:
                features[ l.index(e) , l2.index(e2) ] = 0
    return features, l

In [30]:
f, l = features(freq)

In [31]:
f.shape

(84, 25)

In [32]:
from sklearn.cluster import KMeans

In [33]:
kmeans = KMeans(n_clusters=4, random_state=4).fit(f)

In [34]:
kmeans.labels_

array([0, 1, 1, 3, 3, 2, 2, 2, 2, 2, 2, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 2, 2, 3, 2, 1, 1, 1, 1, 1, 3, 1,
       3, 1, 2, 2, 1, 1, 2, 2, 2, 2, 2, 2, 2, 3, 1, 2, 1, 2, 3, 3, 1, 1, 1,
       1, 1, 3, 1, 2, 1, 1, 2, 3, 3, 1, 2, 1, 2, 2], dtype=int32)

In [35]:
tmp = pd.DataFrame(kmeans.labels_, index=l, columns=['label_1'])
tmp.reset_index(inplace=True)
tmp['place'] = tmp['index']
tmp.drop('index', axis=1, inplace=True)
tmp

    label_1  place
0         0    0,0
1         1    0,2
2         1    1,0
3         3  10,10
4         3  10,11
5         2   10,5
6         2   10,6
7         2   10,7
8         2   10,8
9         2   10,9
10        2  11,10
11        3  11,11
12        2   11,6
13        2   11,7
14        2   11,8
15        2   11,9
16        2  12,10
17        2   12,7
18        2   12,8
19        2   12,9
20        2  13,10
21        3   13,7
22        2   13,8
23        2   13,9
24        2  14,10
25        2   14,8
26        2   14,9
27        2  15,10
28        2   15,9
29        2  16,10
..      ...    ...
54        2    4,6
55        2    5,3
56        2    5,4
57        2    5,5
58        2    5,6
59        3    5,7
60        1    6,3
61        2    6,4
62        1    6,5
63        2    6,6
64        3    6,7
65        3    7,3
66        1    7,4
67        1    7,5
68        1    7,6
69        1    7,7
70        1    7,8
71        3    7,9
72        1    8,4
73        2    8,5
74        1    8,6
75        1    8,7
76        2    8,8
77        3    8,9
78        3    9,4
79        1    9,5
80        2    9,6
81        1    9,7
82        2    9,8
83        2    9,9

[84 rows x 2 columns]

In [36]:
tmp.loc[tmp['label_1']==3,:]

    label_1  place
3         3  10,10
4         3  10,11
11        3  11,11
21        3   13,7
33        3   17,9
34        3  18,10
37        3  19,10
44        3    2,5
46        3    3,2
59        3    5,7
64        3    6,7
65        3    7,3
71        3    7,9
77        3    8,9
78        3    9,4

In [37]:
freq.loc['4,3'].sort_values('ratio', ascending=False)

                freq  w_freq     ratio
BldgClass_code
R                 81     381  0.212598
D                 40     381  0.104987
V                 40     381  0.104987
O                 34     381  0.089239
T                 31     381  0.081365
S                 27     381  0.070866
C                 23     381  0.060367
K                 20     381  0.052493
Q                 19     381  0.049869
Y                 11     381  0.028871
G                 11     381  0.028871
U                  7     381  0.018373
L                  7     381  0.018373
A                  6     381  0.015748
H                  6     381  0.015748
W                  5     381  0.013123
E                  4     381  0.010499
Z                  4     381  0.010499
B                  2     381  0.005249
F                  2     381  0.005249
P                  1     381  0.002625

In [38]:
kmeans.cluster_centers_

array([[  0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
          1.00000000e+00,   0.00000000e+00,   0.00000000e+00,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
          0.00000000e+00],
       [  2.93780705e-02,   2.29402053e-02,   7.31163128e-02,
          1.43614908e-01,   1.84183997e-02,   7.41824281e-04,
          2.66495895e-02,   2.34042818e-02,   2.46176947e-03,
          3.66090895e-03,   9.31294565e-02,   1.93020911e-02,
          1.32883057e-02,   1.27950340e-03,   1.07611867e-01,
          7.67564678e-03,   2.75249693e-02,   1.15407499e-01,
          3.60466404e-02,   2.13045162e-02,   2.07599730e-02,
          5.29188124e-02,   1.96454835e-02,   5.23630947e-02,
          6.73558699e-02],
       [  2.47009442e-02,   2.74638589e-02,   3.98842490e-01,
          1.68355074e-01,   3.84190947e-03,   7.77164394e-04,
          2.51593824e-02,   8.34887320e-03,   1.26492386e-02,
          1.68248305e-03,   3.87491256e-02,   6.77790747e-03,
          2.64348238e-02,   4.21375123e-03,   1.85588517e-02,
          5.48031356e-03,   2.46035721e-02,   5.09777378e-02,
          4.18531473e-02,   8.76970806e-03,   1.01874854e-02,
          6.45619759e-02,   1.86597204e-02,   3.83610226e-03,
          4.51435876e-03],
       [  9.13242009e-04,  -3.46944695e-18,   8.04301075e-03,
          5.76011949e-02,   8.83002208e-04,  -1.08420217e-19,
          1.81300691e-02,   1.81414291e-03,   7.77337891e-03,
         -6.50521303e-19,   1.05820106e-03,   1.73472348e-18,
          2.71504381e-03,   9.13242009e-04,   1.19647754e-02,
          3.29243529e-03,   2.36860849e-01,   1.16531237e-02,
          6.93889390e-18,   2.44487265e-01,   9.15377960e-02,
          2.44071322e-01,   6.65031549e-03,   4.32418235e-02,
          6.39576693e-03]])

In [39]:
s2 = set(freq.index.get_level_values(1))
l2 = list(s2)
l2.sort()

In [40]:
idf = pd.DataFrame(0,index=l2, columns=['idf'])
idf

   idf
A    0
B    0
C    0
D    0
E    0
F    0
G    0
H    0
I    0
J    0
K    0
L    0
M    0
N    0
O    0
P    0
Q    0
R    0
S    0
T    0
U    0
V    0
W    0
Y    0
Z    0

In [41]:
freq2 = freq
freq2.reset_index(inplace=True)
freq2.loc[freq2['idf']=='P'].shape

KeyError: 'idf'

In [45]:
for e in l2:
    #total number of places with buildings according to the PLUTO file
    total_buidings = PLUTO_MN['place'].unique().shape[0]
    count = freq2.loc[freq2['BldgClass_code']==e].shape[0]
    idf_ = math.log(float(total_buidings) / count ,2)
    idf.loc[e,"idf"] = idf_
    print(str(idf_))
idf

0.637429920615
0.664396968216
0.36994960975
0.222392421336
1.14438990934
2.58496250072
0.48542682717
0.664396968216
0.664396968216
1.80735492206
0.438121112392
1.18286405715
0.415037499279
1.0
0.559427408614
0.584962500721
0.263034405834
0.36994960975
0.584962500721
0.900464326449
0.438121112392
0.144389909335
0.326228232321
0.509674373417
0.584962500721

        idf
A  0.637430
B  0.664397
C  0.369950
D  0.222392
E  1.144390
F  2.584963
G  0.485427
H  0.664397
I  0.664397
J  1.807355
K  0.438121
L  1.182864
M  0.415037
N  1.000000
O  0.559427
P  0.584963
Q  0.263034
R  0.369950
S  0.584963
T  0.900464
U  0.438121
V  0.144390
W  0.326228
Y  0.509674
Z  0.584963

In [46]:
idf.reset_index(inplace=True)
idf['BldgClass_code']=idf['index']
idf

   index       idf BldgClass_code
0      A  0.637430              A
1      B  0.664397              B
2      C  0.369950              C
3      D  0.222392              D
4      E  1.144390              E
5      F  2.584963              F
6      G  0.485427              G
7      H  0.664397              H
8      I  0.664397              I
9      J  1.807355              J
10     K  0.438121              K
11     L  1.182864              L
12     M  0.415037              M
13     N  1.000000              N
14     O  0.559427              O
15     P  0.584963              P
16     Q  0.263034              Q
17     R  0.369950              R
18     S  0.584963              S
19     T  0.900464              T
20     U  0.438121              U
21     V  0.144390              V
22     W  0.326228              W
23     Y  0.509674              Y
24     Z  0.584963              Z

In [48]:
idf.drop(['index'],inplace=True, axis=1)
idf

         idf BldgClass_code
0   0.637430              A
1   0.664397              B
2   0.369950              C
3   0.222392              D
4   1.144390              E
5   2.584963              F
6   0.485427              G
7   0.664397              H
8   0.664397              I
9   1.807355              J
10  0.438121              K
11  1.182864              L
12  0.415037              M
13  1.000000              N
14  0.559427              O
15  0.584963              P
16  0.263034              Q
17  0.369950              R
18  0.584963              S
19  0.900464              T
20  0.438121              U
21  0.144390              V
22  0.326228              W
23  0.509674              Y
24  0.584963              Z

In [49]:
#freq.drop(['index','level_0'],axis=1,inplace=True)
freq

      place BldgClass_code  freq  w_freq     ratio
0       0,0              P     1       1  1.000000
1       0,2              Y     1       1  1.000000
2       1,0              Z     1       1  1.000000
3     10,10              D     3      49  0.061224
4     10,10              I     2      49  0.040816
5     10,10              Q     6      49  0.122449
6     10,10              T    21      49  0.428571
7     10,10              U     1      49  0.020408
8     10,10              V    13      49  0.265306
9     10,10              Y     2      49  0.040816
10    10,10              Z     1      49  0.020408
11    10,11              Q     2       8  0.250000
12    10,11              U     4       8  0.500000
13    10,11              V     2       8  0.250000
14     10,5              A     6     125  0.048000
15     10,5              B     4     125  0.032000
16     10,5              C    53     125  0.424000
17     10,5              D    33     125  0.264000
18     10,5              H     4     125  0.032000
19     10,5              M     3     125  0.024000
20     10,5              Q     8     125  0.064000
21     10,5              R     3     125  0.024000
22     10,5              S     2     125  0.016000
23     10,5              U     3     125  0.024000
24     10,5              V     5     125  0.040000
25     10,5              W     1     125  0.008000
26     10,6              A    27     965  0.027979
27     10,6              B    32     965  0.033161
28     10,6              C   520     965  0.538860
29     10,6              D   185     965  0.191710
...     ...            ...   ...     ...       ...
1329    9,8              O    24    1229  0.019528
1330    9,8              P     5    1229  0.004068
1331    9,8              R    73    1229  0.059398
1332    9,8              S   109    1229  0.088690
1333    9,8              U     2    1229  0.001627
1334    9,8              V    10    1229  0.008137
1335    9,8              W    14    1229  0.011391
1336    9,8              Y     2    1229  0.001627
1337    9,8              Z    10    1229  0.008137
1338    9,9              A    30     619  0.048465
1339    9,9              B    13     619  0.021002
1340    9,9              C   298     619  0.481422
1341    9,9              D   146     619  0.235864
1342    9,9              E     2     619  0.003231
1343    9,9              G     2     619  0.003231
1344    9,9              H     1     619  0.001616
1345    9,9              I     6     619  0.009693
1346    9,9              K     6     619  0.009693
1347    9,9              M     7     619  0.011309
1348    9,9              O     3     619  0.004847
1349    9,9              P     2     619  0.003231
1350    9,9              Q     7     619  0.011309
1351    9,9              R    26     619  0.042003
1352    9,9              S    24     619  0.038772
1353    9,9              T    21     619  0.033926
1354    9,9              U     1     619  0.001616
1355    9,9              V    14     619  0.022617
1356    9,9              W     6     619  0.009693
1357    9,9              Y     3     619  0.004847
1358    9,9              Z     1     619  0.001616

[1359 rows x 5 columns]

In [50]:
freq=freq.merge(idf)
freq

      place BldgClass_code  freq  w_freq     ratio       idf
0       0,0              P     1       1  1.000000  0.584963
1      10,6              P     6     965  0.006218  0.584963
2      10,8              P     7     619  0.011309  0.584963
3     11,10              P     3     797  0.003764  0.584963
4      11,6              P     2     337  0.005935  0.584963
5      11,8              P     2      73  0.027397  0.584963
6      11,9              P     2     778  0.002571  0.584963
7     12,10              P     1     724  0.001381  0.584963
8      12,7              P     2     609  0.003284  0.584963
9      12,8              P     4     787  0.005083  0.584963
10     12,9              P     8     969  0.008256  0.584963
11    13,10              P     5     265  0.018868  0.584963
12     13,7              P     1      74  0.013514  0.584963
13     13,8              P     2     554  0.003610  0.584963
14     13,9              P     7    1161  0.006029  0.584963
15    14,10              P     1     393  0.002545  0.584963
16     14,8              P     2     404  0.004950  0.584963
17     14,9              P     4    1041  0.003842  0.584963
18    15,10              P     2     175  0.011429  0.584963
19     15,9              P     7     643  0.010886  0.584963
20    16,10              P     3     459  0.006536  0.584963
21     16,9              P     1     113  0.008850  0.584963
22    17,10              P     3     605  0.004959  0.584963
23     17,9              P     1      50  0.020000  0.584963
24    18,10              P     1      63  0.015873  0.584963
25    18,11              P     3     403  0.007444  0.584963
26      2,2              P     1      25  0.040000  0.584963
27      2,3              P     8     331  0.024169  0.584963
28      3,4              P     2     904  0.002212  0.584963
29      3,5              P     4     779  0.005135  0.584963
...     ...            ...   ...     ...       ...       ...
1329    5,3              L     4     614  0.006515  1.182864
1330    5,4              L     7    1365  0.005128  1.182864
1331    5,5              L    14     869  0.016110  1.182864
1332    5,6              L     1     385  0.002597  1.182864
1333    6,3              L     5     250  0.020000  1.182864
1334    6,4              L    33     983  0.033571  1.182864
1335    6,5              L    72     813  0.088561  1.182864
1336    6,6              L     3     997  0.003009  1.182864
1337    7,4              L    12     428  0.028037  1.182864
1338    7,5              L    54     637  0.084772  1.182864
1339    7,6              L     5     465  0.010753  1.182864
1340    8,4              L     2     236  0.008475  1.182864
1341    8,5              L     5     928  0.005388  1.182864
1342    8,6              L     3     354  0.008475  1.182864
1343    8,7              L     2     936  0.002137  1.182864
1344    9,8              L     3    1229  0.002441  1.182864
1345   10,9              F     3     590  0.005085  2.584963
1346  11,10              F     4     797  0.005019  2.584963
1347  12,10              F     4     724  0.005525  2.584963
1348   13,8              F     2     554  0.003610  2.584963
1349  18,11              F     2     403  0.004963  2.584963
1350    3,4              F     5     904  0.005531  2.584963
1351    3,5              F     2     779  0.002567  2.584963
1352    4,3              F     2     381  0.005249  2.584963
1353    4,6              F     1    1188  0.000842  2.584963
1354    6,3              F     1     250  0.004000  2.584963
1355    6,4              F     1     983  0.001017  2.584963
1356    7,4              F     2     428  0.004673  2.584963
1357    7,5              F     2     637  0.003140  2.584963
1358    9,8              F     1    1229  0.000814  2.584963

[1359 rows x 6 columns]

In [51]:
freq['tf-idf'] = freq['ratio']*freq['idf']
freq.set_index(['place','BldgClass_code'], inplace=True)
freq

                      freq  w_freq     ratio       idf    tf-idf
place BldgClass_code
0,0   P                  1       1  1.000000  0.584963  0.584963
10,6  P                  6     965  0.006218  0.584963  0.003637
10,8  P                  7     619  0.011309  0.584963  0.006615
11,10 P                  3     797  0.003764  0.584963  0.002202
11,6  P                  2     337  0.005935  0.584963  0.003472
11,8  P                  2      73  0.027397  0.584963  0.016026
11,9  P                  2     778  0.002571  0.584963  0.001504
12,10 P                  1     724  0.001381  0.584963  0.000808
12,7  P                  2     609  0.003284  0.584963  0.001921
12,8  P                  4     787  0.005083  0.584963  0.002973
12,9  P                  8     969  0.008256  0.584963  0.004829
13,10 P                  5     265  0.018868  0.584963  0.011037
13,7  P                  1      74  0.013514  0.584963  0.007905
13,8  P                  2     554  0.003610  0.584963  0.002112
13,9  P                  7    1161  0.006029  0.584963  0.003527
14,10 P                  1     393  0.002545  0.584963  0.001488
14,8  P                  2     404  0.004950  0.584963  0.002896
14,9  P                  4    1041  0.003842  0.584963  0.002248
15,10 P                  2     175  0.011429  0.584963  0.006685
15,9  P                  7     643  0.010886  0.584963  0.006368
16,10 P                  3     459  0.006536  0.584963  0.003823
16,9  P                  1     113  0.008850  0.584963  0.005177
17,10 P                  3     605  0.004959  0.584963  0.002901
17,9  P                  1      50  0.020000  0.584963  0.011699
18,10 P                  1      63  0.015873  0.584963  0.009285
18,11 P                  3     403  0.007444  0.584963  0.004355
2,2   P                  1      25  0.040000  0.584963  0.023399
2,3   P                  8     331  0.024169  0.584963  0.014138
3,4   P                  2     904  0.002212  0.584963  0.001294
3,5   P                  4     779  0.005135  0.584963  0.003004
...                    ...     ...       ...       ...       ...
5,3   L                  4     614  0.006515  1.182864  0.007706
5,4   L                  7    1365  0.005128  1.182864  0.006066
5,5   L                 14     869  0.016110  1.182864  0.019056
5,6   L                  1     385  0.002597  1.182864  0.003072
6,3   L                  5     250  0.020000  1.182864  0.023657
6,4   L                 33     983  0.033571  1.182864  0.039710
6,5   L                 72     813  0.088561  1.182864  0.104755
6,6   L                  3     997  0.003009  1.182864  0.003559
7,4   L                 12     428  0.028037  1.182864  0.033164
7,5   L                 54     637  0.084772  1.182864  0.100274
7,6   L                  5     465  0.010753  1.182864  0.012719
8,4   L                  2     236  0.008475  1.182864  0.010024
8,5   L                  5     928  0.005388  1.182864  0.006373
8,6   L                  3     354  0.008475  1.182864  0.010024
8,7   L                  2     936  0.002137  1.182864  0.002527
9,8   L                  3    1229  0.002441  1.182864  0.002887
10,9  F                  3     590  0.005085  2.584963  0.013144
11,10 F                  4     797  0.005019  2.584963  0.012973
12,10 F                  4     724  0.005525  2.584963  0.014282
13,8  F                  2     554  0.003610  2.584963  0.009332
18,11 F                  2     403  0.004963  2.584963  0.012829
3,4   F                  5     904  0.005531  2.584963  0.014297
3,5   F                  2     779  0.002567  2.584963  0.006637
4,3   F                  2     381  0.005249  2.584963  0.013569
4,6   F                  1    1188  0.000842  2.584963  0.002176
6,3   F                  1     250  0.004000  2.584963  0.010340
6,4   F                  1     983  0.001017  2.584963  0.002630
7,4   F                  2     428  0.004673  2.584963  0.012079
7,5   F                  2     637  0.003140  2.584963  0.008116
9,8   F                  1    1229  0.000814  2.584963  0.002103

[1359 rows x 5 columns]

In [52]:
freq=freq.sort_index(axis=0, level=0)
freq.loc['4,5']

                freq  w_freq     ratio       idf    tf-idf
BldgClass_code
A                  4    1385  0.002888  0.637430  0.001841
B                 10    1385  0.007220  0.664397  0.004797
C                693    1385  0.500361  0.369950  0.185108
D                121    1385  0.087365  0.222392  0.019429
E                  7    1385  0.005054  1.144390  0.005784
G                 25    1385  0.018051  0.485427  0.008762
H                 19    1385  0.013718  0.664397  0.009114
I                  9    1385  0.006498  0.664397  0.004317
J                 10    1385  0.007220  1.807355  0.013049
K                 94    1385  0.067870  0.438121  0.029735
L                 28    1385  0.020217  1.182864  0.023913
M                 31    1385  0.022383  0.415037  0.009290
N                  9    1385  0.006498  1.000000  0.006498
O                 26    1385  0.018773  0.559427  0.010502
P                  8    1385  0.005776  0.584963  0.003379
Q                 17    1385  0.012274  0.263034  0.003229
R                102    1385  0.073646  0.369950  0.027245
S                110    1385  0.079422  0.584963  0.046459
T                  1    1385  0.000722  0.900464  0.000650
U                  3    1385  0.002166  0.438121  0.000949
V                 35    1385  0.025271  0.144390  0.003649
W                 17    1385  0.012274  0.326228  0.004004
Y                  2    1385  0.001444  0.509674  0.000736
Z                  4    1385  0.002888  0.584963  0.001689

In [53]:
freq

                      freq  w_freq     ratio       idf    tf-idf
place BldgClass_code
0,0   P                  1       1  1.000000  0.584963  0.584963
0,2   Y                  1       1  1.000000  0.509674  0.509674
1,0   Z                  1       1  1.000000  0.584963  0.584963
10,10 D                  3      49  0.061224  0.222392  0.013616
      I                  2      49  0.040816  0.664397  0.027118
      Q                  6      49  0.122449  0.263034  0.032208
      T                 21      49  0.428571  0.900464  0.385913
      U                  1      49  0.020408  0.438121  0.008941
      V                 13      49  0.265306  0.144390  0.038308
      Y                  2      49  0.040816  0.509674  0.020803
      Z                  1      49  0.020408  0.584963  0.011938
10,11 Q                  2       8  0.250000  0.263034  0.065759
      U                  4       8  0.500000  0.438121  0.219061
      V                  2       8  0.250000  0.144390  0.036097
10,5  A                  6     125  0.048000  0.637430  0.030597
      B                  4     125  0.032000  0.664397  0.021261
      C                 53     125  0.424000  0.369950  0.156859
      D                 33     125  0.264000  0.222392  0.058712
      H                  4     125  0.032000  0.664397  0.021261
      M                  3     125  0.024000  0.415037  0.009961
      Q                  8     125  0.064000  0.263034  0.016834
      R                  3     125  0.024000  0.369950  0.008879
      S                  2     125  0.016000  0.584963  0.009359
      U                  3     125  0.024000  0.438121  0.010515
      V                  5     125  0.040000  0.144390  0.005776
      W                  1     125  0.008000  0.326228  0.002610
10,6  A                 27     965  0.027979  0.637430  0.017835
      B                 32     965  0.033161  0.664397  0.022032
      C                520     965  0.538860  0.369950  0.199351
      D                185     965  0.191710  0.222392  0.042635
...                    ...     ...       ...       ...       ...
9,8   O                 24    1229  0.019528  0.559427  0.010925
      P                  5    1229  0.004068  0.584963  0.002380
      R                 73    1229  0.059398  0.369950  0.021974
      S                109    1229  0.088690  0.584963  0.051880
      U                  2    1229  0.001627  0.438121  0.000713
      V                 10    1229  0.008137  0.144390  0.001175
      W                 14    1229  0.011391  0.326228  0.003716
      Y                  2    1229  0.001627  0.509674  0.000829
      Z                 10    1229  0.008137  0.584963  0.004760
9,9   A                 30     619  0.048465  0.637430  0.030893
      B                 13     619  0.021002  0.664397  0.013953
      C                298     619  0.481422  0.369950  0.178102
      D                146     619  0.235864  0.222392  0.052454
      E                  2     619  0.003231  1.144390  0.003698
      G                  2     619  0.003231  0.485427  0.001568
      H                  1     619  0.001616  0.664397  0.001073
      I                  6     619  0.009693  0.664397  0.006440
      K                  6     619  0.009693  0.438121  0.004247
      M                  7     619  0.011309  0.415037  0.004693
      O                  3     619  0.004847  0.559427  0.002711
      P                  2     619  0.003231  0.584963  0.001890
      Q                  7     619  0.011309  0.263034  0.002975
      R                 26     619  0.042003  0.369950  0.015539
      S                 24     619  0.038772  0.584963  0.022680
      T                 21     619  0.033926  0.900464  0.030549
      U                  1     619  0.001616  0.438121  0.000708
      V                 14     619  0.022617  0.144390  0.003266
      W                  6     619  0.009693  0.326228  0.003162
      Y                  3     619  0.004847  0.509674  0.002470
      Z                  1     619  0.001616  0.584963  0.000945

[1359 rows x 5 columns]

In [54]:
def features_tf_idf(data):
    s = set(data.index.get_level_values(0))
    l = list(s)
    l.sort()
    s2 = set(data.index.get_level_values(1))
    l2 = list(s2)
    l2.sort()
    
    features = np.zeros((len(l),len(l2)))
    
    for e in l:
        for e2 in l2:
            try:
                features[ l.index(e) , l2.index(e2) ] = data.loc[e,e2]['tf-idf']
            except:
                features[ l.index(e) , l2.index(e2) ] = 0
    return features, l

In [55]:
fea, index_tf_idf= features_tf_idf(freq)
fea

array([[ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.50967437,  0.        ],
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.5849625 ],
       ...,
       [ 0.13648499,  0.02970245,  0.04526442, ...,  0.01074634,
         0.        ,  0.00825829],
       [ 0.03993662,  0.02540818,  0.14328398, ...,  0.00371619,
         0.00082941,  0.00475966],
       [ 0.03089321,  0.01395341,  0.17810175, ...,  0.00316215,
         0.00247015,  0.00094501]])

In [83]:
kmeans2 = KMeans(n_clusters=4, random_state=100).fit(fea)

In [84]:
kmeans2.labels_

array([0, 3, 0, 2, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 2, 0,
       2, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 2, 0, 1, 0, 1, 0, 2, 0, 0, 0,
       1, 0, 0, 0, 1, 0, 0, 1, 2, 2, 0, 1, 0, 1, 1], dtype=int32)

In [85]:
tmp2 = pd.DataFrame(kmeans2.labels_, index=index_tf_idf, columns=['label_1'])
tmp2.reset_index(inplace=True)
tmp2['place'] = tmp2['index']
tmp2.drop('index', axis=1, inplace=True)
tmp2

    label_1  place
0         0    0,0
1         3    0,2
2         0    1,0
3         2  10,10
4         0  10,11
5         1   10,5
6         1   10,6
7         1   10,7
8         1   10,8
9         1   10,9
10        1  11,10
11        0  11,11
12        1   11,6
13        1   11,7
14        1   11,8
15        1   11,9
16        1  12,10
17        1   12,7
18        1   12,8
19        1   12,9
20        1  13,10
21        0   13,7
22        1   13,8
23        1   13,9
24        1  14,10
25        1   14,8
26        1   14,9
27        1  15,10
28        1   15,9
29        1  16,10
..      ...    ...
54        1    4,6
55        1    5,3
56        1    5,4
57        1    5,5
58        1    5,6
59        2    5,7
60        0    6,3
61        1    6,4
62        0    6,5
63        1    6,6
64        0    6,7
65        2    7,3
66        0    7,4
67        0    7,5
68        0    7,6
69        1    7,7
70        0    7,8
71        0    7,9
72        0    8,4
73        1    8,5
74        0    8,6
75        0    8,7
76        1    8,8
77        2    8,9
78        2    9,4
79        0    9,5
80        1    9,6
81        0    9,7
82        1    9,8
83        1    9,9

[84 rows x 2 columns]

In [91]:
tmp2.loc[tmp2['label_1']==2]

    label_1  place
3         2  10,10
44        2    2,5
46        2    3,2
59        2    5,7
65        2    7,3
77        2    8,9
78        2    9,4

In [120]:
freq.loc['3,2']

                freq  w_freq     ratio       idf    tf-idf
BldgClass_code
D                  3      38  0.078947  0.222392  0.017557
O                  4      38  0.105263  0.559427  0.058887
Q                  4      38  0.105263  0.263034  0.027688
R                  3      38  0.078947  0.369950  0.029207
T                 15      38  0.394737  0.900464  0.355446
V                  5      38  0.131579  0.144390  0.018999
Y                  4      38  0.105263  0.509674  0.053650

In [135]:
x = tmp2.loc[tmp2['label_1']==2]#['place']
tmp2

    label_1  place
0         0    0,0
1         3    0,2
2         0    1,0
3         2  10,10
4         0  10,11
5         1   10,5
6         1   10,6
7         1   10,7
8         1   10,8
9         1   10,9
10        1  11,10
11        0  11,11
12        1   11,6
13        1   11,7
14        1   11,8
15        1   11,9
16        1  12,10
17        1   12,7
18        1   12,8
19        1   12,9
20        1  13,10
21        0   13,7
22        1   13,8
23        1   13,9
24        1  14,10
25        1   14,8
26        1   14,9
27        1  15,10
28        1   15,9
29        1  16,10
..      ...    ...
54        1    4,6
55        1    5,3
56        1    5,4
57        1    5,5
58        1    5,6
59        2    5,7
60        0    6,3
61        1    6,4
62        0    6,5
63        1    6,6
64        0    6,7
65        2    7,3
66        0    7,4
67        0    7,5
68        0    7,6
69        1    7,7
70        0    7,8
71        0    7,9
72        0    8,4
73        1    8,5
74        0    8,6
75        0    8,7
76        1    8,8
77        2    8,9
78        2    9,4
79        0    9,5
80        1    9,6
81        0    9,7
82        1    9,8
83        1    9,9

[84 rows x 2 columns]

In [118]:
freq.loc['3,2']

                freq  w_freq     ratio       idf    tf-idf
BldgClass_code
D                  3      38  0.078947  0.222392  0.017557
O                  4      38  0.105263  0.559427  0.058887
Q                  4      38  0.105263  0.263034  0.027688
R                  3      38  0.078947  0.369950  0.029207
T                 15      38  0.394737  0.900464  0.355446
V                  5      38  0.131579  0.144390  0.018999
Y                  4      38  0.105263  0.509674  0.053650

In [130]:
entropy = pd.read_csv('data/places_entropy2.csv')

In [140]:
entropy.set_index('place', inplace=True)
entropy

        Entropy  SpatialDiversity  SpatialDiversity-Incoming
place
3,13  -0.000000               NaN                   0.878291
2,13  -0.000000               NaN                   0.856131
5,13  -0.000000               NaN                   0.842609
20,13 -0.000000               NaN                   0.886151
20,11 -0.000000               NaN                   0.871764
5,8   -0.000000               NaN                   1.000000
4,2    1.000000          1.000000                        NaN
16,13  1.000000          1.000000                   0.949617
15,13  1.000000          1.000000                   0.914976
15,8   1.584963          1.000000                   0.948770
19,10  1.584963          1.000000                   0.989297
17,13  1.921928          0.960964                   0.910475
5,7    2.173557          0.774237                   0.811512
20,12  2.235926          0.962961                   0.867751
13,13  2.251629          0.969724                   0.894253
0,13   2.321928          1.000000                   0.833961
3,11   2.521641          0.975504                   0.917610
1,13   2.584963          1.000000                   0.803861
14,13  2.641604          0.940958                   0.911642
18,13  2.725481          0.970836                   0.894824
12,13  2.750000          0.979570                   0.854853
3,12   2.807355          1.000000                   0.869431
11,11  2.842092          0.727456                   0.884537
4,11   2.845351          0.948450                   0.877503
4,13   2.985228          0.941735                   0.843278
1,4    3.273367          0.800831                   0.911131
8,13   3.321928          1.000000                   0.849072
12,6   3.503258          0.946714                   0.940924
4,12   3.565448          0.936463                   0.903902
5,9    3.672906          0.918226                   0.908344
...         ...               ...                        ...
8,6    5.292727          0.582591                   0.689577
10,9   5.298749          0.622811                   0.705238
5,5    5.303888          0.588587                   0.678426
13,8   5.319212          0.677456                   0.765728
3,6    5.327046          0.725770                   0.722495
14,8   5.330305          0.694097                   0.773934
5,4    5.338598          0.596991                   0.676921
12,8   5.372764          0.676456                   0.751080
14,10  5.376936          0.777142                   0.844205
6,3    5.377346          0.614445                   0.702569
4,6    5.389964          0.637154                   0.668466
13,10  5.398156          0.724467                   0.821424
3,3    5.398983          0.606981                   0.714066
15,10  5.399445          0.851668                   0.843383
8,5    5.468417          0.606469                   0.696026
11,9   5.490741          0.670031                   0.742827
12,9   5.497388          0.697947                   0.782707
11,10  5.498595          0.693845                   0.734809
2,4    5.534475          0.689880                   0.751390
12,10  5.551328          0.702087                   0.735747
17,10  5.592200          0.760063                   0.780825
18,11  5.614076          0.785213                   0.806628
4,5    5.629769          0.623215                   0.674619
3,4    5.653090          0.645707                   0.716866
14,9   5.656886          0.736624                   0.796977
2,3    5.670737          0.630875                   0.720141
15,9   5.691895          0.749678                   0.794645
16,9   5.865063          0.833885                   0.796087
16,10  5.883935          0.799714                   0.812389
3,5    5.929242          0.672969                   0.703419

[165 rows x 3 columns]

In [133]:
entropy.loc[entropy['place']== x]

ValueError: Can only compare identically-labeled Series objects

In [138]:
x.set_index('place',inplace=True)

KeyError: 'place'

In [139]:
ind = x.index
ind

Index([u'10,10', u'2,5', u'3,2', u'5,7', u'7,3', u'8,9', u'9,4'], dtype='object', name=u'place')

In [143]:
def getGroupIndex(data,label):
    x = data.loc[data['label_1']==label]
    x.set_index('place',inplace=True)
    ind = x.index
    return ind

In [146]:
entropy.loc[getGroupIndex(tmp2,2)]

        Entropy  SpatialDiversity  SpatialDiversity-Incoming
place
10,10  5.223122          0.880687                   0.805694
2,5    4.705195          0.793358                   0.827704
3,2    5.245417          0.650740                   0.752559
5,7    2.173557          0.774237                   0.811512
7,3    5.183775          0.684107                   0.715249
8,9    4.663399          0.806627                   0.768498
9,4    4.327214          0.669906                   0.703801

In [147]:
entropy.loc[getGroupIndex(tmp2,0)]

        Entropy  SpatialDiversity  SpatialDiversity-Incoming
place
0,0         NaN               NaN                        NaN
1,0         NaN               NaN                        NaN
10,11       NaN               NaN                        NaN
11,11  2.842092          0.727456                   0.884537
13,7   5.237447          0.769381                   0.783911
17,9   4.619658          0.900644                   0.888860
18,10  4.564179          0.817226                   0.860539
19,10  1.584963          1.000000                   0.989297
19,12  5.088040          0.841778                   0.835794
19,13  4.035582          0.950012                   0.920459
2,2    5.085670          0.646687                   0.731989
2,3    5.670737          0.630875                   0.720141
2,4    5.534475          0.689880                   0.751390
20,12  2.235926          0.962961                   0.867751
3,3    5.398983          0.606981                   0.714066
3,6    5.327046          0.725770                   0.722495
4,3    5.205205          0.625481                   0.723385
6,3    5.377346          0.614445                   0.702569
6,5    5.241968          0.576165                   0.675577
6,7    5.059300          0.621570                   0.733122
7,4    5.138246          0.588485                   0.682140
7,5    5.053708          0.564212                   0.674674
7,6    5.210208          0.569754                   0.683641
7,8    4.494149          0.692275                   0.725856
7,9    5.128180          0.854697                   0.819731
8,4    5.275103          0.604394                   0.673615
8,6    5.292727          0.582591                   0.689577
8,7    5.061327          0.567486                   0.670923
9,5    5.142467          0.609685                   0.700259
9,7    4.744064          0.576182                   0.672389

In [148]:
kmeans2.cluster_centers_

array([[  1.36146964e-02,   1.12475294e-02,   1.85511228e-02,
          2.77180171e-02,   1.61596703e-02,   1.47015076e-03,
          1.17195464e-02,   1.20529146e-02,   1.25395400e-03,
          5.07269739e-03,   3.05589618e-02,   1.75043415e-02,
          4.58144844e-03,   1.33625649e-03,   4.53050925e-02,
          2.38447658e-02,   2.84874111e-02,   3.21234448e-02,
          1.45064138e-02,   2.97732618e-02,   2.55083622e-02,
          1.59878564e-02,   5.69065750e-03,   8.15252057e-03,
          2.99540473e-02],
       [  1.60767407e-02,   1.81355889e-02,   1.46091792e-01,
          3.77070344e-02,   4.30106325e-03,   1.96526819e-03,
          1.20437641e-02,   5.73368647e-03,   8.22141761e-03,
          2.97473872e-03,   1.72301623e-02,   7.84305306e-03,
          1.08700544e-02,   4.18822433e-03,   1.12101283e-02,
          3.17473931e-03,   6.42649130e-03,   1.93047844e-02,
          2.50325548e-02,   7.78463892e-03,   4.38079775e-03,
          9.18145850e-03,   6.04121831e-03,   1.91265947e-03,
          3.12445430e-03],
       [  1.73472348e-18,   0.00000000e+00,   4.26209228e-03,
          6.50300816e-03,   2.16535461e-03,  -2.16840434e-19,
          1.05053346e-02,   0.00000000e+00,   1.10670201e-02,
          4.33680869e-19,  -3.46944695e-18,   0.00000000e+00,
          8.67361738e-19,  -4.33680869e-19,   1.10587403e-02,
         -1.73472348e-18,   3.45770068e-02,   6.22720056e-03,
          3.46944695e-18,   4.06796726e-01,   6.40667256e-03,
          3.16964054e-02,   7.51677955e-04,   2.71665259e-02,
          5.54585046e-03],
       [  0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
          0.00000000e+00,   0.00000000e+00,   5.09674373e-01,
          0.00000000e+00]])