In [2]:
import pandas as pd
import dateutil

In [3]:
data = pd.read_csv('data/manhattan_jan_time.csv')

In [3]:
data

,pickup_datetime,pickup_latitude,pickup_longitude,trip_distance,passenger_count,dropoff_datetime,dropoff_latitude,dropoff_longitude,fare_amount,tolls_amount,...,pickup_neighborhood,dropoff_neighborhood,pickups_place,dropoff_place,dummy,pick_day,pick_weekday,time,pick_hour,weekgroup
0,2016-01-01 00:00:00,40.73470,-73.99037,1.10,2,2016-01-01 00:00:00,40.73241,-73.98184,7.5,0.0,...,Greenwich Village,Gramercy,"5,5","5,6",1,1,4,2016-01-01 00:00:00,0,1
1,2016-01-01 00:00:00,40.78133,-73.96062,1.76,3,2016-01-01 00:00:00,40.75851,-73.97726,8.0,0.0,...,Upper East Side,Midtown,"10,8","7,6",1,1,4,2016-01-01 00:00:00,0,1
2,2016-01-01 00:00:00,40.74305,-73.98012,5.52,2,2016-01-01 00:18:30,40.76314,-73.91349,19.0,0.0,...,Gramercy,Astoria-Long Island City,"6,6","8,12",1,1,4,2016-01-01 00:00:00,0,1
3,2016-01-01 00:00:00,40.71999,-73.99406,7.45,2,2016-01-01 00:26:45,40.78987,-73.96636,26.0,0.0,...,Lower East Side,Upper West Side,"4,4","11,7",1,1,4,2016-01-01 00:00:00,0,1
4,2016-01-01 00:00:01,40.74461,-73.97942,1.20,1,2016-01-01 00:11:55,40.75394,-73.99203,9.0,0.0,...,Gramercy,Garment District,"6,6","7,5",1,1,4,2016-01-01 00:00:01,0,1
5,2016-01-01 00:00:02,40.79105,-73.94715,6.00,1,2016-01-01 00:11:14,40.86558,-73.92077,18.0,0.0,...,Yorkville,Inwood,"11,9","18,11",1,1,4,2016-01-01 00:00:02,0,1
6,2016-01-01 00:00:03,40.72154,-73.98902,0.01,4,2016-01-01 00:00:11,40.72170,-73.98896,2.5,0.0,...,Lower East Side,Lower East Side,"4,5","4,5",1,1,4,2016-01-01 00:00:03,0,1
7,2016-01-01 00:00:03,40.74492,-74.00615,0.79,1,2016-01-01 00:06:19,40.74144,-73.99380,6.0,0.0,...,Chelsea,Chelsea,"6,3","6,5",1,1,4,2016-01-01 00:00:03,0,1
8,2016-01-01 00:00:03,40.76354,-73.96933,2.43,6,2016-01-01 00:15:49,40.74425,-73.99569,12.0,0.0,...,Upper East Side,Chelsea,"8,7","6,4",1,1,4,2016-01-01 00:00:03,0,1
9,2016-01-01 00:00:04,40.74224,-74.00430,3.70,1,2016-01-01 00:14:32,40.70694,-74.00736,14.0,0.0,...,Chelsea,Financial District,"6,4","2,3",1,1,4,2016-01-01 00:00:04,0,1
10,2016-01-01 00:00:05,40.79536,-73.97309,1.92,1,2016-01-01 00:07:14,40.77315,-73.97837,7.5,0.0,...,Upper West Side,Upper West Side,"11,6","9,6",1,1,4,2016-01-01 00:00:05,0,1
11,2016-01-01 00:00:05,40.76895,-73.98516,0.54,1,2016-01-01 00:07:17,40.76173,-73.99023,6.0,0.0,...,Midtown,Clinton,"8,5","8,5",1,1,4,2016-01-01 00:00:05,0,1
12,2016-01-01 00:00:05,40.71858,-73.99200,2.20,2,2016-01-01 00:14:27,40.73994,-74.00513,11.0,0.0,...,Lower East Side,West Village,"3,5","6,3",1,1,4,2016-01-01 00:00:05,0,1
13,2016-01-01 00:00:06,40.77470,-73.98210,1.70,1,2016-01-01 00:04:44,40.79671,-73.97094,7.0,0.0,...,Upper West Side,Upper West Side,"9,6","11,7",1,1,4,2016-01-01 00:00:06,0,1
14,2016-01-01 00:00:06,40.71850,-73.99484,1.38,1,2016-01-01 00:07:14,40.73423,-73.98981,7.0,0.0,...,Lower East Side,Greenwich Village,"3,4","5,5",1,1,4,2016-01-01 00:00:06,0,1
15,2016-01-01 00:00:07,40.72659,-73.98917,1.80,1,2016-01-01 00:09:49,40.71507,-74.00948,9.0,0.0,...,East Village,Tribeca,"4,5","3,3",1,1,4,2016-01-01 00:00:07,0,1
16,2016-01-01 00:00:08,40.73668,-73.99741,0.69,1,2016-01-01 00:03:24,40.73268,-73.98566,4.5,0.0,...,Greenwich Village,East Village,"5,4","5,5",1,1,4,2016-01-01 00:00:08,0,1
17,2016-01-01 00:00:08,40.74722,-73.99714,0.72,1,2016-01-01 00:04:37,40.75180,-74.00449,5.0,0.0,...,Chelsea,Chelsea,"6,4","7,4",1,1,4,2016-01-01 00:00:08,0,1
18,2016-01-01 00:00:08,40.72017,-73.99907,3.09,1,2016-01-01 00:18:51,40.75656,-73.97339,14.5,0.0,...,Little Italy,Midtown,"4,4","7,6",1,1,4,2016-01-01 00:00:08,0,1
19,2016-01-01 00:00:09,40.73696,-73.99713,5.30,3,2016-01-01 00:19:03,40.75558,-73.92842,18.0,0.0,...,Greenwich Village,Astoria-Long Island City,"5,4","7,11",1,1,4,2016-01-01 00:00:09,0,1
20,2016-01-01 00:00:10,40.77807,-73.95441,0.87,1,2016-01-01 00:02:20,40.78858,-73.94893,4.5,0.0,...,Upper East Side,Yorkville,"9,8","10,9",1,1,4,2016-01-01 00:00:10,0,1
21,2016-01-01 00:00:10,40.74390,-73.99940,0.97,2,2016-01-01 00:06:15,40.74532,-73.98888,6.0,0.0,...,Chelsea,Chelsea,"6,4","6,5",1,1,4,2016-01-01 00:00:10,0,1
22,2016-01-01 00:00:14,40.77201,-73.99027,0.44,2,2016-01-01 00:02:38,40.76977,-73.99504,4.0,0.0,...,Upper West Side,Midtown,"9,5","9,4",1,1,4,2016-01-01 00:00:14,0,1
23,2016-01-01 00:00:14,40.74424,-73.99560,2.40,1,2016-01-01 00:13:02,40.76871,-73.98546,11.0,0.0,...,Chelsea,Midtown,"6,4","8,5",1,1,4,2016-01-01 00:00:14,0,1
24,2016-01-01 00:00:16,40.77488,-73.98215,2.90,2,2016-01-01 00:33:00,40.74411,-73.98136,20.5,0.0,...,Upper West Side,Gramercy,"9,6","6,6",1,1,4,2016-01-01 00:00:16,0,1
25,2016-01-01 00:00:17,40.73064,-74.00268,1.50,1,2016-01-01 00:13:59,40.72621,-73.98042,10.0,0.0,...,Greenwich Village,East Village,"5,4","4,6",1,1,4,2016-01-01 00:00:17,0,1
26,2016-01-01 00:00:17,40.71916,-73.98174,9.63,5,2016-01-01 00:14:26,40.82918,-73.93883,27.0,0.0,...,Lower East Side,Harlem,"3,6","15,10",1,1,4,2016-01-01 00:00:17,0,1
27,2016-01-01 00:00:17,40.74207,-74.00806,1.20,1,2016-01-01 00:19:14,40.74216,-74.00229,12.5,0.0,...,West Village,Chelsea,"6,3","6,4",1,1,4,2016-01-01 00:00:17,0,1
28,2016-01-01 00:00:17,40.77374,-73.98166,2.32,1,2016-01-01 00:42:23,40.75384,-73.99596,19.0,0.0,...,Upper West Side,Clinton,"9,6","7,4",1,1,4,2016-01-01 00:00:17,0,1
29,2016-01-01 00:00:18,40.77502,-73.96306,1.17,5,2016-01-01 00:05:44,40.77880,-73.95174,6.0,0.0,...,Upper East Side,Upper East Side,"9,7","9,8",1,1,4,2016-01-01 00:00:18,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9423006,2016-01-31 23:59:36,40.75265,-73.97336,0.87,2,2016-02-01 00:02:22,40.76377,-73.96489,5.0,0.0,...,Midtown,Upper East Side,"7,6","8,7",1,31,6,2016-01-31 23:59:36,23,3
9423007,2016-01-31 23:59:36,40.72885,-73.97673,4.61,1,2016-02-01 00:17:26,40.67954,-73.97581,16.5,0.0,...,East Village,Park Slope,"4,6","0,6",1,31,6,2016-01-31 23:59:36,23,3
9423008,2016-01-31 23:59:36,40.73092,-74.00096,5.20,2,2016-02-01 00:19:20,40.67475,-73.96318,18.5,0.0,...,Greenwich Village,Fort Green,"5,4","0,7",1,31,6,2016-01-31 23:59:36,23,3
9423009,2016-01-31 23:59:37,40.74380,-74.00616,1.60,1,2016-02-01 00:07:11,40.74304,-73.98853,7.5,0.0,...,Chelsea,Gramercy,"6,3","6,5",1,31,6,2016-01-31 23:59:37,23,3
9423010,2016-01-31 23:59:38,40.77369,-73.95777,2.42,5,2016-02-01 00:06:58,40.79863,-73.93351,9.0,0.0,...,Upper East Side,East Harlem,"9,8","11,10",1,31,6,2016-01-31 23:59:38,23,3
9423011,2016-01-31 23:59:39,40.72703,-73.98561,2.57,1,2016-02-01 00:18:24,40.77376,-73.93034,15.0,0.0,...,East Village,Astoria-Long Island City,"4,5","9,10",1,31,6,2016-01-31 23:59:39,23,3
9423012,2016-01-31 23:59:40,40.79461,-73.97149,9.60,1,2016-02-01 00:34:03,40.83978,-73.91837,34.0,0.0,...,Upper West Side,High Bridge,"11,7","16,12",1,31,6,2016-01-31 23:59:40,23,3
9423013,2016-01-31 23:59:41,40.80455,-73.93737,0.05,1,2016-02-01 00:03:56,40.80431,-73.93758,4.5,0.0,...,Harlem,East Harlem,"12,10","12,10",1,31,6,2016-01-31 23:59:41,23,3
9423014,2016-01-31 23:59:41,40.75937,-73.98458,5.65,2,2016-02-01 00:16:32,40.82013,-73.95499,19.5,0.0,...,Midtown,Hamilton Heights,"7,5","14,8",1,31,6,2016-01-31 23:59:41,23,3
9423015,2016-01-31 23:59:44,40.73288,-74.00397,6.74,1,2016-02-01 00:22:53,40.67239,-73.93101,23.0,0.0,...,West Village,Bedford-Stuyvesant,"5,4","0,10",1,31,6,2016-01-31 23:59:44,23,3
9423016,2016-01-31 23:59:45,40.71875,-73.98812,4.15,3,2016-02-01 00:15:23,40.70059,-73.92170,15.0,0.0,...,Lower East Side,Bushwick,"3,5","2,11",1,31,6,2016-01-31 23:59:45,23,3
9423017,2016-01-31 23:59:46,40.72048,-73.98719,1.30,1,2016-02-01 00:07:46,40.73141,-73.97496,7.5,0.0,...,Lower East Side,Gramercy,"4,5","5,6",1,31,6,2016-01-31 23:59:46,23,3
9423018,2016-01-31 23:59:48,40.72889,-73.98440,0.70,2,2016-02-01 00:04:44,40.73559,-73.99236,5.5,0.0,...,East Village,Greenwich Village,"4,5","5,5",1,31,6,2016-01-31 23:59:48,23,3
9423019,2016-01-31 23:59:49,40.72438,-73.98756,6.55,1,2016-02-01 00:22:36,40.80084,-73.95860,21.5,0.0,...,East Village,Harlem,"4,5","12,8",1,31,6,2016-01-31 23:59:49,23,3
9423020,2016-01-31 23:59:51,40.74284,-73.98109,0.71,1,2016-02-01 00:03:15,40.75063,-73.97881,4.5,0.0,...,Gramercy,Murray Hill,"6,6","7,6",1,31,6,2016-01-31 23:59:51,23,3
9423021,2016-01-31 23:59:52,40.73639,-73.98493,0.99,1,2016-02-01 00:03:20,40.74887,-73.97607,5.0,0.0,...,Gramercy,Murray Hill,"5,5","6,6",1,31,6,2016-01-31 23:59:52,23,3
9423022,2016-01-31 23:59:52,40.76479,-73.97318,1.00,1,2016-02-01 00:03:43,40.76172,-73.98613,5.5,0.0,...,Central Park,Midtown,"8,6","8,5",1,31,6,2016-01-31 23:59:52,23,3
9423023,2016-01-31 23:59:52,40.75505,-73.97508,1.14,1,2016-02-01 00:03:46,40.74207,-73.98282,5.5,0.0,...,Midtown,Gramercy,"7,6","6,6",1,31,6,2016-01-31 23:59:52,23,3
9423024,2016-01-31 23:59:53,40.72983,-74.00057,2.10,1,2016-02-01 00:11:03,40.72578,-73.98377,10.0,0.0,...,Greenwich Village,East Village,"5,4","4,5",1,31,6,2016-01-31 23:59:53,23,3
9423025,2016-01-31 23:59:53,40.71606,-74.00703,5.44,6,2016-02-01 00:18:18,40.78402,-73.97618,18.5,0.0,...,Tribeca,Upper West Side,"3,3","10,6",1,31,6,2016-01-31 23:59:53,23,3
9423026,2016-01-31 23:59:56,40.74187,-73.99355,2.49,1,2016-02-01 00:06:28,40.76187,-73.96685,9.0,0.0,...,Chelsea,Upper East Side,"6,5","8,7",1,31,6,2016-01-31 23:59:56,23,3
9423027,2016-01-31 23:59:56,40.72383,-74.00466,2.40,1,2016-02-01 00:08:03,40.74717,-73.98119,9.5,0.0,...,Soho,Gramercy,"4,3","6,6",1,31,6,2016-01-31 23:59:56,23,3
9423028,2016-01-31 23:59:57,40.74152,-73.98744,2.74,1,2016-02-01 00:09:00,40.71005,-74.00619,10.5,0.0,...,Gramercy,Financial District,"6,5","3,3",1,31,6,2016-01-31 23:59:57,23,3
9423029,2016-01-31 23:59:57,40.72486,-73.99236,3.40,1,2016-02-01 00:13:28,40.76514,-73.97666,13.5,0.0,...,East Village,Midtown,"4,5","8,6",1,31,6,2016-01-31 23:59:57,23,3
9423030,2016-01-31 23:59:57,40.76300,-73.98600,9.18,2,2016-02-01 00:17:58,40.85940,-73.92785,27.0,0.0,...,Midtown,Washington Heights,"8,5","18,11",1,31,6,2016-01-31 23:59:57,23,3
9423031,2016-01-31 23:59:58,40.75417,-73.98474,2.20,1,2016-02-01 00:07:36,40.78054,-73.98373,9.0,0.0,...,Garment District,Upper West Side,"7,5","10,5",1,31,6,2016-01-31 23:59:58,23,3
9423032,2016-01-31 23:59:59,40.73433,-74.00294,0.80,2,2016-02-01 00:07:26,40.73919,-73.99695,6.5,0.0,...,West Village,Chelsea,"5,4","5,4",1,31,6,2016-01-31 23:59:59,23,3
9423033,2016-01-31 23:59:59,40.72823,-73.99911,1.10,1,2016-02-01 00:09:28,40.73845,-73.99717,8.0,0.0,...,Greenwich Village,Chelsea,"4,4","5,4",1,31,6,2016-01-31 23:59:59,23,3
9423034,2016-01-31 23:59:59,40.72007,-73.98833,2.64,1,2016-02-01 00:12:16,40.74385,-74.00665,11.0,0.0,...,Lower East Side,Chelsea,"4,5","6,3",1,31,6,2016-01-31 23:59:59,23,3
9423035,2016-01-31 23:59:59,40.72289,-73.98891,3.95,1,2016-02-01 00:13:01,40.68917,-73.96004,14.0,0.0,...,Lower East Side,Fort Green,"4,5","0,8",1,31,6,2016-01-31 23:59:59,23,3

In [4]:
grid_4_5 = data.loc[data['pickups_place']=='4,5',:]
grid_4_5

,pickup_datetime,pickup_latitude,pickup_longitude,trip_distance,passenger_count,dropoff_datetime,dropoff_latitude,dropoff_longitude,fare_amount,tolls_amount,...,pickup_neighborhood,dropoff_neighborhood,pickups_place,dropoff_place,dummy,pick_day,pick_weekday,time,pick_hour,weekgroup
6,2016-01-01 00:00:03,40.72154,-73.98902,0.01,4,2016-01-01 00:00:11,40.72170,-73.98896,2.5,0.0,...,Lower East Side,Lower East Side,"4,5","4,5",1,1,4,2016-01-01 00:00:03,0,1
15,2016-01-01 00:00:07,40.72659,-73.98917,1.80,1,2016-01-01 00:09:49,40.71507,-74.00948,9.0,0.0,...,East Village,Tribeca,"4,5","3,3",1,1,4,2016-01-01 00:00:07,0,1
52,2016-01-01 00:00:40,40.72389,-73.99133,1.03,1,2016-01-01 00:07:33,40.72152,-73.98369,6.5,0.0,...,Lower East Side,Lower East Side,"4,5","4,5",1,1,4,2016-01-01 00:00:40,0,1
74,2016-01-01 00:01:07,40.72648,-73.99197,0.94,2,2016-01-01 00:05:04,40.72205,-74.00308,5.0,0.0,...,Greenwich Village,Soho,"4,5","4,4",1,1,4,2016-01-01 00:01:07,0,1
114,2016-01-01 00:01:27,40.72937,-73.98987,1.40,1,2016-01-01 00:14:34,40.74565,-73.98392,9.0,0.0,...,East Village,Gramercy,"4,5","6,5",1,1,4,2016-01-01 00:01:27,0,1
133,2016-01-01 00:01:38,40.72039,-73.99268,1.20,1,2016-01-01 00:06:34,40.70817,-74.00337,6.0,0.0,...,Lower East Side,Financial District,"4,5","2,4",1,1,4,2016-01-01 00:01:38,0,1
135,2016-01-01 00:01:38,40.72014,-73.98836,7.80,1,2016-01-01 00:45:57,40.79058,-73.96885,32.5,0.0,...,Lower East Side,Upper West Side,"4,5","11,7",1,1,4,2016-01-01 00:01:38,0,1
154,2016-01-01 00:01:48,40.72470,-73.98754,0.90,2,2016-01-01 00:09:12,40.73026,-73.99993,6.5,0.0,...,East Village,Greenwich Village,"4,5","5,4",1,1,4,2016-01-01 00:01:48,0,1
156,2016-01-01 00:01:49,40.72510,-73.99222,0.27,1,2016-01-01 00:02:44,40.72410,-73.98839,3.0,0.0,...,East Village,East Village,"4,5","4,5",1,1,4,2016-01-01 00:01:49,0,1
164,2016-01-01 00:01:55,40.72249,-73.99155,2.40,1,2016-01-01 00:11:39,40.73801,-73.97363,10.0,0.0,...,Lower East Side,Gramercy,"4,5","5,6",1,1,4,2016-01-01 00:01:55,0,1
198,2016-01-01 00:02:16,40.72533,-73.98414,3.13,3,2016-01-01 00:12:44,40.70996,-74.00741,11.5,0.0,...,East Village,Financial District,"4,5","2,3",1,1,4,2016-01-01 00:02:16,0,1
214,2016-01-01 00:02:25,40.72968,-73.98465,1.24,2,2016-01-01 00:16:21,40.71753,-73.99525,6.5,0.0,...,East Village,Chinatown,"4,5","3,4",1,1,4,2016-01-01 00:02:25,0,1
217,2016-01-01 00:02:29,40.72453,-73.98761,0.93,1,2016-01-01 00:08:37,40.71917,-73.97600,6.0,0.0,...,East Village,Lower East Side,"4,5","3,6",1,1,4,2016-01-01 00:02:29,0,1
234,2016-01-01 00:02:40,40.72694,-73.99164,1.30,1,2016-01-01 00:16:18,40.73396,-73.98062,10.0,0.0,...,East Village,Gramercy,"4,5","5,6",1,1,4,2016-01-01 00:02:40,0,1
235,2016-01-01 00:02:40,40.72940,-73.98711,1.95,6,2016-01-01 00:19:06,40.74904,-73.99198,11.5,0.0,...,East Village,Garment District,"4,5","6,5",1,1,4,2016-01-01 00:02:40,0,1
259,2016-01-01 00:02:48,40.72048,-73.98833,0.80,5,2016-01-01 00:07:30,40.71415,-73.99744,5.0,0.0,...,Lower East Side,Chinatown,"4,5","3,4",1,1,4,2016-01-01 00:02:48,0,1
271,2016-01-01 00:02:54,40.72150,-73.98904,1.50,2,2016-01-01 00:13:51,40.73721,-73.99657,9.0,0.0,...,Lower East Side,Greenwich Village,"4,5","5,4",1,1,4,2016-01-01 00:02:54,0,1
298,2016-01-01 00:03:07,40.72953,-73.98708,1.80,1,2016-01-01 00:18:03,40.74809,-73.98888,10.5,0.0,...,East Village,Garment District,"4,5","6,5",1,1,4,2016-01-01 00:03:07,0,1
305,2016-01-01 00:03:12,40.72729,-73.98547,2.20,2,2016-01-01 00:11:19,40.75431,-73.97323,8.5,0.0,...,East Village,Midtown,"4,5","7,6",1,1,4,2016-01-01 00:03:12,0,1
313,2016-01-01 00:03:14,40.72965,-73.98692,1.80,4,2016-01-01 00:21:03,40.74781,-73.98962,12.0,0.0,...,East Village,Garment District,"4,5","6,5",1,1,4,2016-01-01 00:03:14,0,1
324,2016-01-01 00:03:18,40.72755,-73.98527,4.18,2,2016-01-01 00:15:44,40.77923,-73.94877,13.5,0.0,...,East Village,Upper East Side,"4,5","10,9",1,1,4,2016-01-01 00:03:18,0,1
362,2016-01-01 00:03:34,40.72248,-73.98747,5.00,1,2016-01-01 00:25:15,40.68208,-73.91453,18.5,0.0,...,Lower East Side,Bedford-Stuyvesant,"4,5","0,12",1,1,4,2016-01-01 00:03:34,0,1
384,2016-01-01 00:03:45,40.72132,-73.98849,0.49,2,2016-01-01 00:07:19,40.72499,-73.99476,4.5,0.0,...,Lower East Side,Little Italy,"4,5","4,4",1,1,4,2016-01-01 00:03:45,0,1
410,2016-01-01 00:03:56,40.72731,-73.99205,4.70,1,2016-01-01 00:20:32,40.67358,-73.95427,17.5,0.0,...,Greenwich Village,Fort Green,"4,5","0,8",1,1,4,2016-01-01 00:03:56,0,1
429,2016-01-01 00:04:05,40.72306,-73.98585,1.71,2,2016-01-01 00:16:19,40.73317,-74.00628,9.5,0.0,...,East Village,West Village,"4,5","5,3",1,1,4,2016-01-01 00:04:05,0,1
453,2016-01-01 00:04:15,40.72954,-73.98712,2.03,1,2016-01-01 00:18:13,40.75269,-73.97922,11.0,0.0,...,East Village,Murray Hill,"4,5","7,6",1,1,4,2016-01-01 00:04:15,0,1
455,2016-01-01 00:04:16,40.72651,-73.99192,1.30,2,2016-01-01 00:13:35,40.73634,-73.98120,7.5,0.0,...,East Village,Gramercy,"4,5","5,6",1,1,4,2016-01-01 00:04:16,0,1
472,2016-01-01 00:04:20,40.72687,-73.99167,2.90,2,2016-01-01 00:20:36,40.75566,-73.96658,13.0,0.0,...,East Village,Midtown,"4,5","7,7",1,1,4,2016-01-01 00:04:20,0,1
489,2016-01-01 00:04:25,40.72604,-73.99192,2.10,2,2016-01-01 00:16:33,40.75146,-73.97203,10.0,0.0,...,East Village,Midtown,"4,5","7,7",1,1,4,2016-01-01 00:04:25,0,1
504,2016-01-01 00:04:30,40.72116,-73.98779,0.90,2,2016-01-01 00:09:21,40.71412,-73.97718,5.5,0.0,...,Lower East Side,Lower East Side,"4,5","3,6",1,1,4,2016-01-01 00:04:30,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9422717,2016-01-31 23:56:28,40.72168,-73.98858,10.91,6,2016-02-01 00:24:48,40.61538,-73.99314,33.5,0.0,...,Lower East Side,Bensonhurst,"4,5","-6,5",1,31,6,2016-01-31 23:56:28,23,3
9422780,2016-01-31 23:57:15,40.72962,-73.98990,1.10,1,2016-02-01 00:02:24,40.74080,-73.98919,6.0,0.0,...,East Village,Gramercy,"4,5","6,5",1,31,6,2016-01-31 23:57:15,23,3
9422792,2016-01-31 23:57:19,40.72744,-73.99215,2.10,2,2016-02-01 00:09:29,40.73327,-74.00422,10.5,0.0,...,Greenwich Village,West Village,"4,5","5,4",1,31,6,2016-01-31 23:57:19,23,3
9422800,2016-01-31 23:57:25,40.72594,-73.98370,0.40,1,2016-02-01 00:00:54,40.72070,-73.98589,4.0,0.0,...,East Village,Lower East Side,"4,5","4,5",1,31,6,2016-01-31 23:57:25,23,3
9422807,2016-01-31 23:57:32,40.72776,-73.99110,2.02,5,2016-02-01 00:04:11,40.75261,-73.97311,8.0,0.0,...,East Village,Midtown,"4,5","7,6",1,31,6,2016-01-31 23:57:32,23,3
9422823,2016-01-31 23:57:43,40.72144,-73.98855,7.02,2,2016-02-01 00:18:09,40.76375,-73.92612,22.0,0.0,...,Lower East Side,Astoria-Long Island City,"4,5","8,11",1,31,6,2016-01-31 23:57:43,23,3
9422825,2016-01-31 23:57:44,40.72135,-73.98399,0.50,1,2016-02-01 00:01:56,40.72062,-73.98997,5.0,0.0,...,Lower East Side,Lower East Side,"4,5","4,5",1,31,6,2016-01-31 23:57:44,23,3
9422830,2016-01-31 23:57:46,40.72625,-73.98932,0.60,1,2016-02-01 00:00:21,40.73147,-73.98254,4.0,0.0,...,East Village,East Village,"4,5","5,6",1,31,6,2016-01-31 23:57:46,23,3
9422831,2016-01-31 23:57:46,40.72337,-73.99128,0.70,1,2016-02-01 00:01:56,40.73106,-73.98283,5.0,0.0,...,Lower East Side,East Village,"4,5","5,6",1,31,6,2016-01-31 23:57:46,23,3
9422841,2016-01-31 23:57:51,40.72563,-73.98386,2.40,1,2016-02-01 00:09:17,40.74764,-74.00007,10.5,0.0,...,East Village,Chelsea,"4,5","6,4",1,31,6,2016-01-31 23:57:51,23,3
9422846,2016-01-31 23:57:55,40.72478,-73.99174,1.10,1,2016-02-01 00:02:58,40.73834,-73.98769,6.0,0.0,...,East Village,Gramercy,"4,5","5,5",1,31,6,2016-01-31 23:57:55,23,3
9422847,2016-01-31 23:57:55,40.72394,-73.98813,1.74,1,2016-02-01 00:06:24,40.73943,-74.00278,8.0,0.0,...,East Village,West Village,"4,5","5,4",1,31,6,2016-01-31 23:57:55,23,3
9422862,2016-01-31 23:58:05,40.72269,-73.99303,1.35,1,2016-02-01 00:03:47,40.74000,-73.98229,6.5,0.0,...,Lower East Side,Gramercy,"4,5","6,6",1,31,6,2016-01-31 23:58:05,23,3
9422868,2016-01-31 23:58:07,40.72231,-73.98721,1.10,4,2016-02-01 00:03:34,40.72279,-74.00434,6.0,0.0,...,Lower East Side,Soho,"4,5","4,4",1,31,6,2016-01-31 23:58:07,23,3
9422942,2016-01-31 23:58:54,40.72976,-73.98965,2.35,5,2016-02-01 00:06:51,40.75447,-73.99182,9.0,0.0,...,East Village,Garment District,"4,5","7,5",1,31,6,2016-01-31 23:58:54,23,3
9422943,2016-01-31 23:58:55,40.72883,-73.99029,2.20,2,2016-02-01 00:06:39,40.75685,-73.97382,8.5,0.0,...,East Village,Midtown,"4,5","7,6",1,31,6,2016-01-31 23:58:55,23,3
9422947,2016-01-31 23:58:57,40.72293,-73.98361,0.88,1,2016-02-01 00:03:12,40.72868,-73.99644,5.0,0.0,...,East Village,Greenwich Village,"4,5","4,4",1,31,6,2016-01-31 23:58:57,23,3
9422976,2016-01-31 23:59:17,40.72799,-73.98815,1.13,1,2016-02-01 00:04:09,40.71513,-73.99682,6.0,0.0,...,East Village,Chinatown,"4,5","3,4",1,31,6,2016-01-31 23:59:17,23,3
9422979,2016-01-31 23:59:20,40.72578,-73.99218,2.50,1,2016-02-01 00:07:28,40.70988,-74.01539,9.5,0.0,...,East Village,Battery Park,"4,5","2,2",1,31,6,2016-01-31 23:59:20,23,3
9422987,2016-01-31 23:59:25,40.72549,-73.99217,4.09,2,2016-02-01 00:12:10,40.76829,-73.98242,14.0,0.0,...,East Village,Upper West Side,"4,5","8,6",1,31,6,2016-01-31 23:59:25,23,3
9422990,2016-01-31 23:59:28,40.72771,-73.98514,0.54,2,2016-02-01 00:00:59,40.73456,-73.98025,3.5,0.0,...,East Village,Gramercy,"4,5","5,6",1,31,6,2016-01-31 23:59:28,23,3
9422993,2016-01-31 23:59:30,40.72910,-73.98866,1.01,3,2016-02-01 00:03:27,40.73861,-73.98320,5.5,0.0,...,East Village,Gramercy,"4,5","5,6",1,31,6,2016-01-31 23:59:30,23,3
9422996,2016-01-31 23:59:30,40.72836,-73.98786,1.82,1,2016-02-01 00:07:17,40.72460,-74.00928,8.0,0.0,...,East Village,Tribeca,"4,5","4,3",1,31,6,2016-01-31 23:59:30,23,3
9423011,2016-01-31 23:59:39,40.72703,-73.98561,2.57,1,2016-02-01 00:18:24,40.77376,-73.93034,15.0,0.0,...,East Village,Astoria-Long Island City,"4,5","9,10",1,31,6,2016-01-31 23:59:39,23,3
9423017,2016-01-31 23:59:46,40.72048,-73.98719,1.30,1,2016-02-01 00:07:46,40.73141,-73.97496,7.5,0.0,...,Lower East Side,Gramercy,"4,5","5,6",1,31,6,2016-01-31 23:59:46,23,3
9423018,2016-01-31 23:59:48,40.72889,-73.98440,0.70,2,2016-02-01 00:04:44,40.73559,-73.99236,5.5,0.0,...,East Village,Greenwich Village,"4,5","5,5",1,31,6,2016-01-31 23:59:48,23,3
9423019,2016-01-31 23:59:49,40.72438,-73.98756,6.55,1,2016-02-01 00:22:36,40.80084,-73.95860,21.5,0.0,...,East Village,Harlem,"4,5","12,8",1,31,6,2016-01-31 23:59:49,23,3
9423029,2016-01-31 23:59:57,40.72486,-73.99236,3.40,1,2016-02-01 00:13:28,40.76514,-73.97666,13.5,0.0,...,East Village,Midtown,"4,5","8,6",1,31,6,2016-01-31 23:59:57,23,3
9423034,2016-01-31 23:59:59,40.72007,-73.98833,2.64,1,2016-02-01 00:12:16,40.74385,-74.00665,11.0,0.0,...,Lower East Side,Chelsea,"4,5","6,3",1,31,6,2016-01-31 23:59:59,23,3
9423035,2016-01-31 23:59:59,40.72289,-73.98891,3.95,1,2016-02-01 00:13:01,40.68917,-73.96004,14.0,0.0,...,Lower East Side,Fort Green,"4,5","0,8",1,31,6,2016-01-31 23:59:59,23,3

In [5]:
grid_4_5['dropoff_place'].value_counts()

5,5        24590
4,5        21091
6,6        20469
6,5        18727
5,4        18392
4,4        18306
5,6        14006
7,6        11753
4,6        11456
7,5        11020
6,4        10468
7,7         8940
2,3         8671
3,5         8241
3,3         7899
3,4         6778
5,3         6321
8,6         5843
9,8         5535
8,5         5431
8,8         5294
7,4         4362
4,3         4249
8,7         4237
6,3         4222
9,9         2971
10,9        2435
0,6         2391
3,6         2332
9,6         2256
           ...
-3,1           1
-12,-12        1
21,20          1
-4,-5          1
14,20          1
-8,11          1
-6,-8          1
-7,-5          1
-7,-7          1
-7,-6          1
-7,-9          1
-7,-8          1
14,19          1
5,30           1
-9,23          1
3,11           1
-4,5           1
18,19          1
-8,13          1
-6,13          1
12,23          1
7,30           1
-3,14          1
6,31           1
4,10           1
21,15          1
-11,-7         1
-11,-5         1
-11,-4         1
5,25           1
Name: dropoff_place, Length: 524, dtype: int64

In [11]:
grid_4_5.loc[grid_4_5['dropoff_place']=='5,5',['trip_distance']].mean()*1.6

trip_distance    1.505538
dtype: float64

In [14]:
grid_4_5.loc[grid_4_5['dropoff_place']=='7,6',['trip_distance']].mean()*1.6

trip_distance    3.969623
dtype: float64

In [36]:
def SpatialDiversityDay(data, cuadrant, pick_day, hour=-1):
    if hour==-1:
        grid = data.loc[ (data['pickups_place']==cuadrant)&( data['pick_day']==pick_day ) ,['dropoff_place','dummy']]    
    else:
        grid = data.loc[ (data['pickups_place']==cuadrant)&( data['pick_day']==pick_day )&(data['pick_hour']==hour) ,['dropoff_place','dummy']]    
    # Get the total amount of rides (not unique) in that time period
    totalrides = grid['dummy'].sum()
    
    unique_dropoff_places = grid['dropoff_place'].unique().size
    if unique_dropoff_places == 0:
        return None
    # Make a DataFrame called entropy that has the freq of each dropof destination
    entropy = pd.DataFrame(grid['dropoff_place'].value_counts())
    entropy['freq']  =entropy['dropoff_place']
    entropy.drop('dropoff_place', axis=1, inplace=True)
    #calculate probability as freq(x)/Totalrides
    entropy['prob'] = entropy['freq']/totalrides
    import math
    # Calculate log(prob)
    entropy['log_prob'] = entropy['prob'].apply(lambda x:math.log(x,2))
    # Calculate the product of prob *loc(prob)
    entropy['product'] = entropy['prob']*entropy['log_prob']
    # Sum of products times -1 is the entropy value
    Entropy = -1*entropy['product'].sum()
    import math
    
    return Entropy/math.log(unique_dropoff_places,2)

In [37]:
SpatialDiversityDay(data,'7,6',31)

0.66697164333893766

In [42]:
SpatialDiversityDay(data,'7,6',31,20)

0.83904518188575994

In [44]:
grid_4_5['pickup_time']=grid_4_5['pickup_datetime'].apply(dateutil.parser.parse)

/usr/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [45]:
grid_4_5['dropoff_time']=grid_4_5['dropoff_datetime'].apply(dateutil.parser.parse)

/usr/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [49]:
grid_4_5.head()

,pickup_datetime,pickup_latitude,pickup_longitude,trip_distance,passenger_count,dropoff_datetime,dropoff_latitude,dropoff_longitude,fare_amount,tolls_amount,...,dropoff_place,dummy,pick_day,pick_weekday,time,pick_hour,weekgroup,pickup_time,dropoff_time,timediff
6,2016-01-01 00:00:03,40.72154,-73.98902,0.01,4,2016-01-01 00:00:11,40.72170,-73.98896,2.5,0.0,...,"4,5",1,1,4,2016-01-01 00:00:03,0,1,2016-01-01 00:00:03,2016-01-01 00:00:11,00:00:08
15,2016-01-01 00:00:07,40.72659,-73.98917,1.80,1,2016-01-01 00:09:49,40.71507,-74.00948,9.0,0.0,...,"3,3",1,1,4,2016-01-01 00:00:07,0,1,2016-01-01 00:00:07,2016-01-01 00:09:49,00:09:42
52,2016-01-01 00:00:40,40.72389,-73.99133,1.03,1,2016-01-01 00:07:33,40.72152,-73.98369,6.5,0.0,...,"4,5",1,1,4,2016-01-01 00:00:40,0,1,2016-01-01 00:00:40,2016-01-01 00:07:33,00:06:53
74,2016-01-01 00:01:07,40.72648,-73.99197,0.94,2,2016-01-01 00:05:04,40.72205,-74.00308,5.0,0.0,...,"4,4",1,1,4,2016-01-01 00:01:07,0,1,2016-01-01 00:01:07,2016-01-01 00:05:04,00:03:57
114,2016-01-01 00:01:27,40.72937,-73.98987,1.40,1,2016-01-01 00:14:34,40.74565,-73.98392,9.0,0.0,...,"6,5",1,1,4,2016-01-01 00:01:27,0,1,2016-01-01 00:01:27,2016-01-01 00:14:34,00:13:07

In [48]:
grid_4_5['timediff'] = grid_4_5['dropoff_time']-grid_4_5['pickup_time']

/usr/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [54]:
def SpatialDiversity(data):
   
    # Get the total amount of rides (not unique) in that time period
    totalrides = data['dummy'].sum()
    
    unique_dropoff_places = data['dropoff_place'].unique().size
    if unique_dropoff_places == 0:
        return None
    # Make a DataFrame called entropy that has the freq of each dropoff destination
    entropy = pd.DataFrame(data['dropoff_place'].value_counts())
    entropy['freq']  =entropy['dropoff_place']
    entropy.drop('dropoff_place', axis=1, inplace=True)
    #calculate probability as freq(x)/Totalrides
    entropy['prob'] = entropy['freq']/totalrides
    import math
    # Calculate log(prob)
    entropy['log_prob'] = entropy['prob'].apply(lambda x:math.log(x,2))
    # Calculate the product of prob *loc(prob)
    entropy['product'] = entropy['prob']*entropy['log_prob']
    # Sum of products times -1 is the entropy value
    Entropy = -1*entropy['product'].sum()
    import math
    
    return Entropy/math.log(unique_dropoff_places,2)

In [55]:
group_days = grid_4_5.groupby('pick_day')
entropy_days = group_days.apply(SpatialDiversity)

In [56]:
entropy_days

pick_day
1     0.713388
2     0.705418
3     0.708003
4     0.716241
5     0.732029
6     0.739970
7     0.734101
8     0.711728
9     0.680710
10    0.700094
11    0.724459
12    0.736254
13    0.719199
14    0.718326
15    0.708506
16    0.695171
17    0.698718
18    0.721584
19    0.732059
20    0.727941
21    0.717641
22    0.701572
23    0.751344
24    0.740085
25    0.737923
26    0.744563
27    0.726233
28    0.722830
29    0.702352
30    0.683411
31    0.704548
dtype: float64

In [57]:
grid_4_5['timediff']

6         00:00:08
15        00:09:42
52        00:06:53
74        00:03:57
114       00:13:07
133       00:04:56
135       00:44:19
154       00:07:24
156       00:00:55
164       00:09:44
198       00:10:28
214       00:13:56
217       00:06:08
234       00:13:38
235       00:16:26
259       00:04:42
271       00:10:57
298       00:14:56
305       00:08:07
313       00:17:49
324       00:12:26
362       00:21:41
384       00:03:34
410       00:16:36
429       00:12:14
453       00:13:58
455       00:09:19
472       00:16:16
489       00:12:08
504       00:04:51
            ...
9422717   00:28:20
9422780   00:05:09
9422792   00:12:10
9422800   00:03:29
9422807   00:06:39
9422823   00:20:26
9422825   00:04:12
9422830   00:02:35
9422831   00:04:10
9422841   00:11:26
9422846   00:05:03
9422847   00:08:29
9422862   00:05:42
9422868   00:05:27
9422942   00:07:57
9422943   00:07:44
9422947   00:04:15
9422976   00:04:52
9422979   00:08:08
9422987   00:12:45
9422990   00:01:31
9422993   00:03:57
9422996   00:07:47
9423011   00:18:45
9423017   00:08:00
9423018   00:04:56
9423019   00:22:47
9423029   00:13:31
9423034   00:12:17
9423035   00:13:02
Name: timediff, Length: 338909, dtype: timedelta64[ns]

In [61]:
grid_4_5['Velocity'] = grid_4_5['trip_distance']/(grid_4_5['timediff'].dt.seconds )

/usr/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [63]:
grid_4_5.sort_values('Velocity', inplace=True, ascending=False)
grid_4_5

/usr/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,pickup_datetime,pickup_latitude,pickup_longitude,trip_distance,passenger_count,dropoff_datetime,dropoff_latitude,dropoff_longitude,fare_amount,tolls_amount,...,dummy,pick_day,pick_weekday,time,pick_hour,weekgroup,pickup_time,dropoff_time,timediff,Velocity
7212974,2016-01-24 23:59:08,40.72955,-73.98982,7.04,1,2016-01-24 23:59:08,40.81127,-73.95961,23.50,0.00,...,1,24,6,2016-01-24 23:59:08,23,3,2016-01-24 23:59:08,2016-01-24 23:59:08,00:00:00,inf
8731165,2016-01-30 00:00:00,40.72110,-73.98696,9.66,1,2016-01-30 00:00:00,40.64385,-74.01546,31.50,0.00,...,1,30,5,2016-01-30 00:00:00,0,2,2016-01-30 00:00:00,2016-01-30 00:00:00,00:00:00,inf
2694717,2016-01-10 00:00:00,40.72279,-73.98602,1.93,1,2016-01-10 00:00:00,40.74318,-73.98206,9.50,0.00,...,1,10,6,2016-01-10 00:00:00,0,3,2016-01-10 00:00:00,2016-01-10 00:00:00,00:00:00,inf
552846,2016-01-03 00:00:00,40.72510,-73.98427,1.00,2,2016-01-03 00:00:00,40.73268,-73.99564,6.50,0.00,...,1,3,6,2016-01-03 00:00:00,0,3,2016-01-03 00:00:00,2016-01-03 00:00:00,00:00:00,inf
4651355,2016-01-16 00:07:05,40.72155,-73.99313,4.43,1,2016-01-16 00:07:05,40.77265,-73.95249,16.00,0.00,...,1,16,5,2016-01-16 00:07:05,0,2,2016-01-16 00:07:05,2016-01-16 00:07:05,00:00:00,inf
5015960,2016-01-17 00:10:33,40.72892,-73.98483,6.49,1,2016-01-17 00:10:33,40.67730,-73.99838,21.00,0.00,...,1,17,6,2016-01-17 00:10:33,0,3,2016-01-17 00:10:33,2016-01-17 00:10:33,00:00:00,inf
211158,2016-01-01 17:58:57,40.72003,-73.99249,19.60,1,2016-01-01 17:59:00,40.72003,-73.99249,52.00,0.00,...,1,1,4,2016-01-01 17:58:57,17,1,2016-01-01 17:58:57,2016-01-01 17:59:00,00:00:03,6.533333
100692,2016-01-01 06:18:09,40.72033,-73.98964,17.40,1,2016-01-01 06:18:12,40.72033,-73.98963,2.50,0.00,...,1,1,4,2016-01-01 06:18:09,6,1,2016-01-01 06:18:09,2016-01-01 06:18:12,00:00:03,5.800000
9269887,2016-01-31 13:10:19,40.72062,-73.98964,21.30,1,2016-01-31 13:10:23,40.72062,-73.98964,20.00,0.00,...,1,31,6,2016-01-31 13:10:19,13,3,2016-01-31 13:10:19,2016-01-31 13:10:23,00:00:04,5.325000
9033307,2016-01-30 20:09:38,40.72823,-73.98492,18.40,1,2016-01-30 20:09:42,40.72823,-73.98492,52.00,0.00,...,1,30,5,2016-01-30 20:09:38,20,2,2016-01-30 20:09:38,2016-01-30 20:09:42,00:00:04,4.600000
6553573,2016-01-21 19:43:14,40.72003,-73.98380,4.40,1,2016-01-21 19:43:15,40.72002,-73.98380,17.50,0.00,...,1,21,3,2016-01-21 19:43:14,19,0,2016-01-21 19:43:14,2016-01-21 19:43:15,00:00:01,4.400000
5747892,2016-01-19 11:57:18,40.72690,-73.98586,6.10,1,2016-01-19 11:57:20,40.72692,-73.98587,2.50,0.00,...,1,19,1,2016-01-19 11:57:18,11,0,2016-01-19 11:57:18,2016-01-19 11:57:20,00:00:02,3.050000
5637205,2016-01-19 01:22:37,40.72647,-73.98826,12.00,1,2016-01-19 01:22:41,40.72647,-73.98826,52.00,0.00,...,1,19,1,2016-01-19 01:22:37,1,0,2016-01-19 01:22:37,2016-01-19 01:22:41,00:00:04,3.000000
7219609,2016-01-25 01:54:05,40.72151,-73.98881,8.60,1,2016-01-25 01:54:08,40.72151,-73.98881,52.00,0.00,...,1,25,0,2016-01-25 01:54:05,1,0,2016-01-25 01:54:05,2016-01-25 01:54:08,00:00:03,2.866667
4692703,2016-01-16 02:33:44,40.72616,-73.99190,9.00,1,2016-01-16 02:33:48,40.72617,-73.99190,2.50,0.00,...,1,16,5,2016-01-16 02:33:44,2,2,2016-01-16 02:33:44,2016-01-16 02:33:48,00:00:04,2.250000
2958008,2016-01-10 20:16:17,40.72093,-73.98418,10.80,1,2016-01-10 20:16:22,40.72093,-73.98418,52.00,0.00,...,1,10,6,2016-01-10 20:16:17,20,3,2016-01-10 20:16:17,2016-01-10 20:16:22,00:00:05,2.160000
5747596,2016-01-19 11:56:13,40.72792,-73.98805,6.10,1,2016-01-19 11:56:16,40.72781,-73.98816,2.50,0.00,...,1,19,1,2016-01-19 11:56:13,11,0,2016-01-19 11:56:13,2016-01-19 11:56:16,00:00:03,2.033333
8339912,2016-01-28 22:23:42,40.72967,-73.99323,2.00,1,2016-01-28 22:23:43,40.72967,-73.99323,9.00,0.00,...,1,28,3,2016-01-28 22:23:42,22,0,2016-01-28 22:23:42,2016-01-28 22:23:43,00:00:01,2.000000
4497629,2016-01-15 16:26:29,40.72872,-73.98762,1.80,1,2016-01-15 16:26:30,40.72871,-73.98763,2.50,0.00,...,1,15,4,2016-01-15 16:26:29,16,1,2016-01-15 16:26:29,2016-01-15 16:26:30,00:00:01,1.800000
2426829,2016-01-09 10:01:57,40.72252,-73.98869,17.90,1,2016-01-09 10:02:07,40.72253,-73.98870,52.00,0.00,...,1,9,5,2016-01-09 10:01:57,10,2,2016-01-09 10:01:57,2016-01-09 10:02:07,00:00:10,1.790000
2398092,2016-01-09 06:13:20,40.72886,-73.98714,3.30,1,2016-01-09 06:13:22,40.72884,-73.98714,11.50,0.00,...,1,9,5,2016-01-09 06:13:20,6,2,2016-01-09 06:13:20,2016-01-09 06:13:22,00:00:02,1.650000
2408337,2016-01-09 08:23:10,40.72705,-73.98957,18.80,1,2016-01-09 08:23:22,40.72737,-73.99029,52.00,0.00,...,1,9,5,2016-01-09 08:23:10,8,2,2016-01-09 08:23:10,2016-01-09 08:23:22,00:00:12,1.566667
5090935,2016-01-17 07:02:37,40.72206,-73.98537,7.60,1,2016-01-17 07:02:42,40.72206,-73.98537,52.00,0.00,...,1,17,6,2016-01-17 07:02:37,7,3,2016-01-17 07:02:37,2016-01-17 07:02:42,00:00:05,1.520000
669039,2016-01-03 13:10:04,40.72526,-73.98746,18.90,2,2016-01-03 13:10:17,40.72526,-73.98745,52.00,8.00,...,1,3,6,2016-01-03 13:10:04,13,3,2016-01-03 13:10:04,2016-01-03 13:10:17,00:00:13,1.453846
705133,2016-01-03 15:39:55,40.72388,-73.98982,11.30,1,2016-01-03 15:40:03,40.72388,-73.98982,52.00,0.00,...,1,3,6,2016-01-03 15:39:55,15,3,2016-01-03 15:39:55,2016-01-03 15:40:03,00:00:08,1.412500
6727067,2016-01-22 09:20:34,40.72131,-73.98764,20.80,1,2016-01-22 09:20:49,40.72131,-73.98765,52.00,5.54,...,1,22,4,2016-01-22 09:20:34,9,1,2016-01-22 09:20:34,2016-01-22 09:20:49,00:00:15,1.386667
859987,2016-01-04 09:19:53,40.72484,-73.98448,5.20,0,2016-01-04 09:19:57,40.72484,-73.98448,95.00,0.00,...,1,4,0,2016-01-04 09:19:53,9,0,2016-01-04 09:19:53,2016-01-04 09:19:57,00:00:04,1.300000
5627722,2016-01-18 23:36:16,40.72219,-73.98872,18.30,1,2016-01-18 23:36:31,40.72254,-73.98859,2.50,0.00,...,1,18,0,2016-01-18 23:36:16,23,0,2016-01-18 23:36:16,2016-01-18 23:36:31,00:00:15,1.220000
8389525,2016-01-29 02:05:50,40.72760,-73.99126,1.20,1,2016-01-29 02:05:51,40.72761,-73.99123,2.50,0.00,...,1,29,4,2016-01-29 02:05:50,2,1,2016-01-29 02:05:50,2016-01-29 02:05:51,00:00:01,1.200000
6627620,2016-01-21 23:05:25,40.72723,-73.99152,4.70,1,2016-01-21 23:05:29,40.72722,-73.99152,26.50,0.00,...,1,21,3,2016-01-21 23:05:25,23,0,2016-01-21 23:05:25,2016-01-21 23:05:29,00:00:04,1.175000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6308303,2016-01-21 02:15:18,40.72017,-73.98824,0.00,1,2016-01-21 02:16:42,40.72017,-73.98824,2.50,0.00,...,1,21,3,2016-01-21 02:15:18,2,0,2016-01-21 02:15:18,2016-01-21 02:16:42,00:01:24,0.000000
8064045,2016-01-28 06:30:22,40.72783,-73.98376,0.00,1,2016-01-28 06:30:37,40.72783,-73.98376,58.00,0.00,...,1,28,3,2016-01-28 06:30:22,6,0,2016-01-28 06:30:22,2016-01-28 06:30:37,00:00:15,0.000000
5066638,2016-01-17 02:58:17,40.71999,-73.98795,0.00,1,2016-01-17 03:14:00,40.74489,-74.00265,10.00,0.00,...,1,17,6,2016-01-17 02:58:17,2,3,2016-01-17 02:58:17,2016-01-17 03:14:00,00:15:43,0.000000
788049,2016-01-03 21:57:50,40.72744,-73.98546,0.00,1,2016-01-03 21:58:05,40.72743,-73.98544,2.50,0.00,...,1,3,6,2016-01-03 21:57:50,21,3,2016-01-03 21:57:50,2016-01-03 21:58:05,00:00:15,0.000000
97761,2016-01-01 05:40:39,40.72775,-73.98599,0.00,1,2016-01-01 05:41:37,40.72747,-73.98515,2.50,0.00,...,1,1,4,2016-01-01 05:40:39,5,1,2016-01-01 05:40:39,2016-01-01 05:41:37,00:00:58,0.000000
4088968,2016-01-14 12:35:31,40.72130,-73.99227,0.00,1,2016-01-14 12:36:03,40.72127,-73.99226,2.50,0.00,...,1,14,3,2016-01-14 12:35:31,12,0,2016-01-14 12:35:31,2016-01-14 12:36:03,00:00:32,0.000000
8647665,2016-01-29 20:15:40,40.72818,-73.98668,0.00,1,2016-01-29 20:15:45,40.72818,-73.98667,2.50,0.00,...,1,29,4,2016-01-29 20:15:40,20,1,2016-01-29 20:15:40,2016-01-29 20:15:45,00:00:05,0.000000
4106192,2016-01-14 13:39:06,40.72265,-73.98721,0.00,1,2016-01-14 13:39:22,40.72265,-73.98721,60.00,0.00,...,1,14,3,2016-01-14 13:39:06,13,0,2016-01-14 13:39:06,2016-01-14 13:39:22,00:00:16,0.000000
574393,2016-01-03 01:23:14,40.72064,-73.98982,0.00,1,2016-01-03 01:23:21,40.72063,-73.98983,2.50,0.00,...,1,3,6,2016-01-03 01:23:14,1,3,2016-01-03 01:23:14,2016-01-03 01:23:21,00:00:07,0.000000
2577268,2016-01-09 18:16:19,40.72560,-73.98807,0.00,3,2016-01-09 18:23:16,40.72346,-73.98826,5.00,0.00,...,1,9,5,2016-01-09 18:16:19,18,2,2016-01-09 18:16:19,2016-01-09 18:23:16,00:06:57,0.000000
97147,2016-01-01 05:33:53,40.72020,-73.98836,0.00,1,2016-01-01 05:47:13,40.71923,-73.98898,9.00,0.00,...,1,1,4,2016-01-01 05:33:53,5,1,2016-01-01 05:33:53,2016-01-01 05:47:13,00:13:20,0.000000
7504471,2016-01-26 09:13:33,40.72744,-73.99345,0.00,1,2016-01-26 09:13:38,40.72745,-73.99348,2.50,0.00,...,1,26,1,2016-01-26 09:13:33,9,0,2016-01-26 09:13:33,2016-01-26 09:13:38,00:00:05,0.000000
5233156,2016-01-17 16:57:45,40.72190,-73.99352,0.00,1,2016-01-17 16:58:12,40.72180,-73.99353,21.00,0.00,...,1,17,6,2016-01-17 16:57:45,16,3,2016-01-17 16:57:45,2016-01-17 16:58:12,00:00:27,0.000000
5585581,2016-01-18 20:22:28,40.72157,-73.99334,0.00,1,2016-01-18 20:24:11,40.72286,-73.99308,0.01,0.00,...,1,18,0,2016-01-18 20:22:28,20,0,2016-01-18 20:22:28,2016-01-18 20:24:11,00:01:43,0.000000
6572589,2016-01-21 20:32:32,40.72093,-73.98804,0.00,1,2016-01-21 20:32:51,40.72068,-73.98802,2.50,0.00,...,1,21,3,2016-01-21 20:32:32,20,0,2016-01-21 20:32:32,2016-01-21 20:32:51,00:00:19,0.000000
2379429,2016-01-09 02:52:14,40.72798,-73.98635,0.00,1,2016-01-09 02:52:47,40.72795,-73.98614,0.00,0.00,...,1,9,5,2016-01-09 02:52:14,2,2,2016-01-09 02:52:14,2016-01-09 02:52:47,00:00:33,0.000000
7497969,2016-01-26 08:48:36,40.72819,-73.99085,0.00,5,2016-01-26 09:00:46,40.74194,-73.98253,8.50,0.00,...,1,26,1,2016-01-26 08:48:36,8,0,2016-01-26 08:48:36,2016-01-26 09:00:46,00:12:10,0.000000
4910382,2016-01-16 19:06:52,40.72383,-73.98524,0.00,1,2016-01-16 19:08:57,40.72392,-73.98546,3.50,0.00,...,1,16,5,2016-01-16 19:06:52,19,2,2016-01-16 19:06:52,2016-01-16 19:08:57,00:02:05,0.000000
952128,2016-01-04 16:16:55,40.72246,-73.98609,0.00,1,2016-01-04 16:20:19,40.72970,-73.98087,4.00,0.00,...,1,4,0,2016-01-04 16:16:55,16,0,2016-01-04 16:16:55,2016-01-04 16:20:19,00:03:24,0.000000
410722,2016-01-02 15:26:52,40.72758,-73.99146,0.00,1,2016-01-02 15:27:01,40.72800,-73.99120,2.50,0.00,...,1,2,5,2016-01-02 15:26:52,15,2,2016-01-02 15:26:52,2016-01-02 15:27:01,00:00:09,0.000000
523588,2016-01-02 22:15:41,40.72695,-73.98901,0.00,1,2016-01-02 22:16:12,40.72662,-73.98926,2.50,0.00,...,1,2,5,2016-01-02 22:15:41,22,2,2016-01-02 22:15:41,2016-01-02 22:16:12,00:00:31,0.000000
953720,2016-01-04 16:23:29,40.72905,-73.98854,0.00,1,2016-01-04 16:23:37,40.72904,-73.98854,52.00,5.54,...,1,4,0,2016-01-04 16:23:29,16,0,2016-01-04 16:23:29,2016-01-04 16:23:37,00:00:08,0.000000
3293868,2016-01-12 00:31:27,40.72742,-73.99210,0.00,1,2016-01-12 00:32:26,40.72747,-73.99208,52.00,0.00,...,1,12,1,2016-01-12 00:31:27,0,0,2016-01-12 00:31:27,2016-01-12 00:32:26,00:00:59,0.000000
9380971,2016-01-31 19:56:43,40.72363,-73.98811,0.00,1,2016-01-31 19:59:01,40.72370,-73.98790,3.50,0.00,...,1,31,6,2016-01-31 19:56:43,19,3,2016-01-31 19:56:43,2016-01-31 19:59:01,00:02:18,0.000000
4910450,2016-01-16 19:07:03,40.72218,-73.98877,0.00,1,2016-01-16 19:07:06,40.72217,-73.98878,52.00,0.00,...,1,16,5,2016-01-16 19:07:03,19,2,2016-01-16 19:07:03,2016-01-16 19:07:06,00:00:03,0.000000
3060419,2016-01-11 09:32:13,40.72258,-73.98502,0.00,1,2016-01-11 09:33:43,40.72267,-73.98517,3.00,0.00,...,1,11,0,2016-01-11 09:32:13,9,0,2016-01-11 09:32:13,2016-01-11 09:33:43,00:01:30,0.000000
521664,2016-01-02 22:09:00,40.72839,-73.98356,0.00,1,2016-01-02 22:09:18,40.72844,-73.98354,52.00,5.54,...,1,2,5,2016-01-02 22:09:00,22,2,2016-01-02 22:09:00,2016-01-02 22:09:18,00:00:18,0.000000
7485262,2016-01-26 08:01:38,40.72698,-73.99322,0.00,1,2016-01-26 08:02:14,40.72760,-73.99426,2.50,0.00,...,1,26,1,2016-01-26 08:01:38,8,0,2016-01-26 08:01:38,2016-01-26 08:02:14,00:00:36,0.000000
3972329,2016-01-14 02:19:07,40.72222,-73.99179,0.00,1,2016-01-14 02:23:27,40.72135,-73.99259,4.50,0.00,...,1,14,3,2016-01-14 02:19:07,2,0,2016-01-14 02:19:07,2016-01-14 02:23:27,00:04:20,0.000000
8928237,2016-01-30 15:10:51,40.72189,-73.99346,0.00,1,2016-01-30 15:10:51,40.75582,-73.98230,52.00,5.54,...,1,30,5,2016-01-30 15:10:51,15,2,2016-01-30 15:10:51,2016-01-30 15:10:51,00:00:00,NaN

In [66]:
group_hour_speed_weekdays = grid_4_5.loc[(grid_4_5['weekgroup']==0),['Velocity','pick_hour']].groupby('pick_hour')
average_speeds_weekdays = group_hour_speed_weekdays.mean()
average_speeds_weekdays

           Velocity
pick_hour
0          0.004296
1          0.005738
2          0.004832
3          0.004678
4          0.005263
5          0.005037
6          0.004156
7          0.003278
8          0.002822
9          0.002705
10         0.002481
11         0.003947
12         0.002430
13         0.002529
14         0.002726
15         0.002626
16         0.002796
17         0.002883
18         0.002663
19         0.003384
20         0.003128
21         0.003311
22         0.003877
23         0.003913

In [67]:
ave = grid_4_5.loc[(grid_4_5['weekgroup']==0),'Velocity'].mean()
ave

0.0035072563747556369

In [70]:
average_speeds_weekdays['mean']= ave
average_speeds_weekdays

           Velocity      mean
pick_hour
0          0.004296  0.003507
1          0.005738  0.003507
2          0.004832  0.003507
3          0.004678  0.003507
4          0.005263  0.003507
5          0.005037  0.003507
6          0.004156  0.003507
7          0.003278  0.003507
8          0.002822  0.003507
9          0.002705  0.003507
10         0.002481  0.003507
11         0.003947  0.003507
12         0.002430  0.003507
13         0.002529  0.003507
14         0.002726  0.003507
15         0.002626  0.003507
16         0.002796  0.003507
17         0.002883  0.003507
18         0.002663  0.003507
19         0.003384  0.003507
20         0.003128  0.003507
21         0.003311  0.003507
22         0.003877  0.003507
23         0.003913  0.003507

In [84]:
p = average_speeds_weekdays.plot(figsize=(20,15), ylim=(0,0.02))
f= p.get_figure()
f.savefig("grid_4_5/speed_distribution_weekdays.png")

In [85]:
group_hour_speed_fridays = grid_4_5.loc[(grid_4_5['weekgroup']==1),['Velocity','pick_hour']].groupby('pick_hour')
average_speeds_fridays = group_hour_speed_fridays.mean()
ave_1 = grid_4_5.loc[(grid_4_5['weekgroup']==1),'Velocity'].mean()
average_speeds_fridays['mean']= ave_1
average_speeds_fridays

           Velocity     mean
pick_hour
0          0.003680  0.00348
1          0.004094  0.00348
2          0.004463  0.00348
3          0.004830  0.00348
4          0.005069  0.00348
5          0.004662  0.00348
6          0.010612  0.00348
7          0.003511  0.00348
8          0.002775  0.00348
9          0.003675  0.00348
10         0.002595  0.00348
11         0.002808  0.00348
12         0.002802  0.00348
13         0.002822  0.00348
14         0.002792  0.00348
15         0.003149  0.00348
16         0.005008  0.00348
17         0.006346  0.00348
18         0.002569  0.00348
19         0.002584  0.00348
20         0.002455  0.00348
21         0.002486  0.00348
22         0.002751  0.00348
23         0.003032  0.00348

In [86]:
p = average_speeds_fridays.plot(figsize=(20,15), ylim=(0,0.02))
f= p.get_figure()
f.savefig("grid_4_5/speed_distribution_fridays.png")

In [90]:
group_hour_speed_friday = grid_4_5.loc[(grid_4_5['pick_day']==8),['Velocity','pick_hour']].groupby('pick_hour')
average_speeds_friday = group_hour_speed_friday.mean()
ave_fri = grid_4_5.loc[(grid_4_5['pick_day']==8),'Velocity'].mean()
average_speeds_friday['mean']= ave_fri
average_speeds_friday

           Velocity      mean
pick_hour
0          0.003890  0.003006
1          0.004125  0.003006
2          0.004373  0.003006
3          0.005637  0.003006
4          0.004827  0.003006
5          0.004810  0.003006
6          0.004249  0.003006
7          0.003366  0.003006
8          0.002621  0.003006
9          0.002547  0.003006
10         0.002397  0.003006
11         0.002419  0.003006
12         0.002290  0.003006
13         0.002397  0.003006
14         0.002463  0.003006
15         0.002894  0.003006
16         0.002671  0.003006
17         0.002484  0.003006
18         0.002574  0.003006
19         0.002418  0.003006
20         0.002349  0.003006
21         0.002470  0.003006
22         0.002771  0.003006
23         0.002953  0.003006

In [91]:
p = average_speeds_friday.plot(figsize=(20,15), ylim=(0,0.02))
f= p.get_figure()
f.savefig("grid_4_5/speed_distribution_friday.png")

In [93]:
group_hour_speed_friday_newyear = grid_4_5.loc[(grid_4_5['pick_day']==1),['Velocity','pick_hour']].groupby('pick_hour')
average_speeds_friday_newyear = group_hour_speed_friday_newyear.mean()
ave_fri = grid_4_5.loc[(grid_4_5['pick_day']==1),'Velocity'].mean()
average_speeds_friday_newyear['mean']= ave_fri
average_speeds_friday_newyear

           Velocity      mean
pick_hour
0          0.003484  0.005097
1          0.004370  0.005097
2          0.003518  0.005097
3          0.005004  0.005097
4          0.005277  0.005097
5          0.004554  0.005097
6          0.025977  0.005097
7          0.004812  0.005097
8          0.004649  0.005097
9          0.006125  0.005097
10         0.004342  0.005097
11         0.004398  0.005097
12         0.004129  0.005097
13         0.003844  0.005097
14         0.003736  0.005097
15         0.003702  0.005097
16         0.003724  0.005097
17         0.018890  0.005097
18         0.003408  0.005097
19         0.003426  0.005097
20         0.003407  0.005097
21         0.003544  0.005097
22         0.003756  0.005097
23         0.003789  0.005097

In [94]:
p = average_speeds_friday_newyear.plot(figsize=(20,15), ylim=(0,0.02))
f= p.get_figure()
f.savefig("grid_4_5/speed_distribution_friday_newyear.png")

In [96]:
group_hour_speed_friday2 = grid_4_5.loc[(grid_4_5['pick_day']==15),['Velocity','pick_hour']].groupby('pick_hour')
average_speeds_friday2 = group_hour_speed_friday2.mean()
ave_fri = grid_4_5.loc[(grid_4_5['pick_day']==15),'Velocity'].mean()
average_speeds_friday2['mean']= ave_fri
average_speeds_friday2

           Velocity      mean
pick_hour
0          0.003691  0.003192
1          0.004119  0.003192
2          0.004367  0.003192
3          0.004488  0.003192
4          0.004866  0.003192
5          0.004706  0.003192
6          0.004225  0.003192
7          0.003384  0.003192
8          0.002553  0.003192
9          0.002312  0.003192
10         0.002285  0.003192
11         0.002378  0.003192
12         0.002445  0.003192
13         0.002529  0.003192
14         0.002548  0.003192
15         0.004186  0.003192
16         0.010649  0.003192
17         0.002522  0.003192
18         0.002265  0.003192
19         0.002572  0.003192
20         0.002388  0.003192
21         0.002439  0.003192
22         0.002720  0.003192
23         0.002957  0.003192

In [97]:
p = average_speeds_friday2.plot(figsize=(20,15), ylim=(0,0.02))
f= p.get_figure()
f.savefig("grid_4_5/speed_distribution_friday_2.png")

In [99]:
group_hour_speed_friday3 = grid_4_5.loc[(grid_4_5['pick_day']==22),['Velocity','pick_hour']].groupby('pick_hour')
average_speeds_friday3 = group_hour_speed_friday3.mean()
ave_fri = grid_4_5.loc[(grid_4_5['pick_day']==22),'Velocity'].mean()
average_speeds_friday3['mean']= ave_fri
average_speeds_friday3

           Velocity      mean
pick_hour
0          0.003501  0.003007
1          0.003979  0.003007
2          0.004136  0.003007
3          0.004455  0.003007
4          0.004705  0.003007
5          0.005077  0.003007
6          0.004194  0.003007
7          0.003393  0.003007
8          0.002452  0.003007
9          0.005804  0.003007
10         0.002283  0.003007
11         0.002308  0.003007
12         0.002393  0.003007
13         0.002606  0.003007
14         0.002511  0.003007
15         0.002389  0.003007
16         0.002417  0.003007
17         0.002464  0.003007
18         0.002462  0.003007
19         0.002478  0.003007
20         0.002319  0.003007
21         0.002336  0.003007
22         0.002652  0.003007
23         0.002913  0.003007

In [100]:
p = average_speeds_friday3.plot(figsize=(20,15), ylim=(0,0.02))
f= p.get_figure()
f.savefig("grid_4_5/speed_distribution_friday_3.png")

In [4]:
data['pickup_time']=data['pickup_datetime'].apply(dateutil.parser.parse)

In [5]:
data['dropoff_time']=data['dropoff_datetime'].apply(dateutil.parser.parse)

In [6]:
data['timediff'] = data['dropoff_time']-data['pickup_time']

In [7]:
data['Velocity'] = data['trip_distance']/(data['timediff'].dt.seconds )

In [14]:
import math
group_hour_speed_friday2 = data.loc[(data['weekgroup']==1)&(data['Velocity'].apply(math.isinf)==False),['Velocity','pick_hour']].groupby('pick_hour')
average_speeds_friday2 = group_hour_speed_friday2.mean()
ave_fri = data.loc[(data['weekgroup']==1)&(data['Velocity'].apply(math.isinf)==False),'Velocity'].mean()
average_speeds_friday2['mean']= ave_fri
average_speeds_friday2

           Velocity      mean
pick_hour
0          0.003932  0.003261
1          0.004328  0.003261
2          0.004407  0.003261
3          0.004629  0.003261
4          0.005050  0.003261
5          0.004800  0.003261
6          0.004510  0.003261
7          0.003414  0.003261
8          0.002829  0.003261
9          0.002754  0.003261
10         0.002846  0.003261
11         0.002861  0.003261
12         0.002790  0.003261
13         0.003055  0.003261
14         0.002960  0.003261
15         0.002834  0.003261
16         0.002937  0.003261
17         0.003139  0.003261
18         0.002828  0.003261
19         0.003136  0.003261
20         0.003291  0.003261
21         0.003287  0.003261
22         0.003320  0.003261
23         0.003504  0.003261

In [15]:
ave_fri

0.0032611001765474562

In [17]:
p = average_speeds_friday2.plot(figsize=(20,15), ylim=(0,0.02))
f= p.get_figure()
f.savefig("grid_4_5/speed_distribution_fridays_manhattan.png")