In [59]:
import pandas as pd
import dateutil
import time

In [60]:
data_january = pd.read_csv("./data/1january.csv")
data_january = data_january.iloc[0::10,:]
data_january.head()

,pickup_datetime,pickup_latitude,pickup_longitude,trip_distance,passenger_count,dropoff_datetime,dropoff_latitude,dropoff_longitude,fare_amount,tolls_amount,taxes_amount,tip_amount,payment_amount,payment_type
0,2016-01-01 00:00:00,40.73470,-73.99037,1.10,2,2016-01-01 00:00:00,40.73241,-73.98184,7.5,0.0,1.3,0.0,8.8,2
1,2016-01-01 00:00:00,40.72991,-73.98078,4.90,5,2016-01-01 00:00:00,40.71668,-73.94447,18.0,0.0,1.3,0.0,19.3,1
2,2016-01-01 00:00:00,40.67957,-73.98455,10.54,1,2016-01-01 00:00:00,40.78893,-73.95027,33.0,0.0,1.3,0.0,34.3,1
3,2016-01-01 00:00:00,40.71899,-73.99347,4.75,1,2016-01-01 00:00:00,40.65733,-73.96224,16.5,0.0,0.8,0.0,17.3,2
4,2016-01-01 00:00:00,40.78133,-73.96062,1.76,3,2016-01-01 00:00:00,40.75851,-73.97726,8.0,0.0,0.8,0.0,8.8,2

In [61]:
type(data_january.iloc[0,0])

str

In [62]:
data_january.shape

(10906858, 14)

In [63]:

start = time.time()

In [64]:
data_january['pickup_datetime'] = data_january['pickup_datetime'].apply(dateutil.parser.parse)
data_january['dropoff_datetime'] = data_january['dropoff_datetime'].apply(dateutil.parser.parse)
end = time.time()
duration = end -start
duration

KeyboardInterrupt:

In [ ]:
data_january.shape

In [ ]:
data_january.head()

In [ ]:
data_january.reset_index(drop=True, inplace=True)
data_january.head()

In [ ]:
data_january.iloc[0,0].weekday()

In [ ]:
#Columna para el dia de la semana
data_january['weekday'] = data_january['pickup_datetime'].apply(lambda x : x.weekday())

In [ ]:
#Columna para la hora de pickup
data_january['hour'] = data_january['pickup_datetime'].apply(lambda x : x.hour)

In [ ]:
data_january['dummy'] = 1
group_dataframe = data_january.loc[:, ['weekday','hour','dummy']]
groups = group_dataframe.groupby(['weekday','hour'])

In [ ]:
pickups_per_hour = groups.sum()

In [ ]:
pickups_per_hour

In [ ]:
group_dataframe2 = data_january.loc[:, ['weekday','hour','fare_amount', 'tip_amount']]
groups2 = group_dataframe2.groupby(['weekday','hour'])

In [ ]:
mean_fare_hour = groups2.mean()

In [ ]:
mean_fare_hour

In [ ]:
group_dataframe3 = data_january.loc[:, ['weekday','hour','trip_distance']]
groups3 = group_dataframe3.groupby(['weekday','hour'])

In [ ]:
trip_distances = groups3.mean()

In [ ]:
trip_distances